{% if products %}
    <script>
        document.documentElement.style.setProperty('--products-count', '4');
        document.documentElement.style.setProperty('--products-count-tablet', '2');
        document.documentElement.style.setProperty('--products-count-mobile', '1');
    </script>

    <div class="block--products">
        <div class="block">
            <div class="grid-block">
                <div class="title title--h2">{{ title }}</div>
                <div class="products">
                    {#                {% include 'shop/parts/_products.html' %}#}
                    {% with items=products, template='shop/parts/_product.html', mode="dark" %}
                        {% include 'components/slider.html' %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
