{% if reviews %}
    <script>
        document.documentElement.style.setProperty('--reviews-count', '3');
        document.documentElement.style.setProperty('--reviews-count-tablet', '2');
        document.documentElement.style.setProperty('--reviews-count-mobile', '1');
    </script>

    <div class="block--reviews">
        <div class="block">
            <div class="grid-block">
                <div class="title title--h2">{{ title }}</div>
                <div class="reviews">
                    {#                {% include 'shop/parts/_products.html' %}#}
                    {% with items=reviews, template='shop/parts/_review.html', mode="dark" %}
                        {% include 'components/slider.html' %}
                    {% endwith %}
{#                    <div class="btn-wrapper">#}
{#                        {% with view='link', url=url('shop:index'), caption=_('Read more'), classes='btn--default btn--animated btn--bordered btn--secondary btn--font-bold' %}#}
{#                            {% include 'components/button.html' %}#}
{#                        {% endwith %}#}
{#                    </div>#}
                </div>
            </div>
        </div>
    </div>
{% endif %}
