/*.faq {*/
/*    padding: 2px;*/
/*    margin-bottom: 1em;*/
/*    border: 1px solid #a0a0a0;*/
/*}*/

/*.faq:after {*/
/*    content: "";*/
/*    display: table;*/
/*    clear: both;*/
/*}*/

/*.faq .question {*/
/*    float: left;*/
/*    padding: 5px;*/
/*    min-height: 1.4em;*/
/*    border: 1px solid #a0a0a0;*/
/*    box-sizing: border-box;*/
/*}*/

/*.faq .question > *:first-child {*/
/*    margin-top: 0;*/
/*}*/

.faq th {
    user-select: none;
    cursor: default;
}