{% if block.advantages.all() %}
    {#  Количество слайдов задается одновременно и в скрипт, и в стили для стилизации до отработки скрипта слайдера  #}
    <script>
        document.documentElement.style.setProperty('--advantages-count', '4');
        document.documentElement.style.setProperty('--advantages-count-tablet', '2');
        document.documentElement.style.setProperty('--advantages-count-mobile', '1');
    </script>

    {#  Не section т.к. нет h2  #}
    <div class="block block--advantages">
        <div class="block__inner">
            <div class="grid-block">
                <div class="advantages">
                    {% with items=block.advantages.all(), template='blocks/parts/advantages/_advantage.html', mode="light" %}
                        {% include 'components/slider.html' %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
{% endif %}