@import "mixins";


.text-information {
  margin-top: 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .text-information__author {
    display: flex;
    align-items: center;

    .author__photo {
      width: 40px;
      overflow: hidden;
      margin-right: 10px;
      border-radius: 50%;
    }
  }

  .author__name, .text-information__date {
    color: #1f1f1f;
    font-weight: 700;
    @include font_default;
    @include fontsize_default;
  }

  .text-information__date {
    text-align: right;

    @include media_interval(0, $media480) {
      margin-top: 10px;
    }
  }

  @include media_interval(0, $media480) {
    flex-direction: column;
    align-items: flex-start;
  }
}