@import "mixins";


//=======================
// Вебпейдж хэдер
//=======================
$webpage_desktop: $media1400;
$webpage_tablet: $media1024;
$webpage_mobile: $media768;
$webpage_header_paddings_top: 0px;
$webpage_header_paddings_bottom: 40px;
$webpage_header_paddings: calc(#{var(--webpage-top, 103px)} + #{$webpage_header_paddings_top}) 0 #{$webpage_header_paddings_bottom};
$webpage_header_paddings_mobile: calc(#{var(--webpage-top, 86px)} + #{$webpage_header_paddings_top}) 0 #{$webpage_header_paddings_bottom};
$webpage_header_information_width: 640px;
$webpage_header_information_right: 60px;
$webpage_header_image_width: 480px;

$webpage_header_image_height: (
                ($webpage_desktop, 0): 480px,
                (0, $webpage_desktop): 260px,
);


.webpage-header {
  margin: $webpage_header_paddings;


  &--full {
    min-height: calc(100vh - var(--webpage-top, 103px) - #{$webpage_header_paddings_top} - #{$webpage_header_paddings_bottom});
    display: flex;
    align-items: center;

    @include media_interval(0, $media_tablet) {
      min-height: calc(100vh - var(--webpage-top, 86px) - #{$webpage_header_paddings_top} - #{$webpage_header_paddings_bottom});
    }
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__column--information {
      max-width: $webpage_header_information_width;
      margin-right: $webpage_header_information_right;

      @include media_interval(0, $webpage_desktop) {
        margin-right: 0;
      }
    }

    &__column--image {
      overflow: hidden;
      width: $webpage_header_image_width;
      display: block;
      position: relative;

      @include media_map(height, $webpage_header_image_height);

      img {
        width: auto;
        min-width: 100%;
        //height: 100%;
        display: block;
        position: absolute;
        max-width: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      @include media_interval(0, $webpage_desktop) {
        width: 100%;
        margin-bottom: 24px;
      }
    }

    &__column {
      box-sizing: border-box;

      @include media_interval(0, $webpage_desktop) {
        max-width: 100%;
      }
    }

    @include media_interval(0, $webpage_desktop) {
      flex-direction: column-reverse;
      align-items: flex-start;
    }
  }

  .title {
    //font-style: italic;
    color: $primary_color;

    @at-root body.dark & {
      color: $secondary_color;
    }
  }

  .description {
    margin-top: 30px;
    max-width: 100%;

    @include font_default;
    @include fontsize_default;

    @include media_interval(0, $webpage_desktop) {
      margin-top: 16px;
    }
  }

  .btn-wrapper {
    margin-top: 40px;

    @include media_interval(0, $webpage_desktop) {
      margin-top: 24px;
    }
  }

  @include media_interval(0, $media_tablet) {
    margin: $webpage_header_paddings_mobile;
  }

  &--centered {
    background-size: cover;
    background-repeat: no-repeat;

    .title--h1 {
      font-style: normal;
    }

    .webpage-header__content {
      text-align: center;
    }

    .flex {
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      @include vpad(125px);

      &__column--information {
        margin-right: 0;
      }

      @include media_interval($webpage_mobile, $webpage_tablet) {
        @include vpad(60px);
      }

      @include media_interval(0, $webpage_mobile) {
        @include vpad(40px);
      }
    }

    @at-root .avif &{
      background-image: url("/static/img/background/background.avif");
    }

    @at-root .no-avif.webp &{
      background-image: url("/static/img/background/background.webp");
    }

    @at-root .no-avif.no-webp &, .no-js &{
      background-image: url("/static/img/background/background.jpg");
    }


    .breadcrumbs {
      background-color: $secondary_color;
      margin-bottom: 0;
    }
  }
}
