@import "mixins";
@import "author";

$share_background: $gray;
$share_color: $text-color;
$share_in_position_x: 246px;
$share_in_position_y: 222px;
$share_in_width: 20px;
$share_in_height: 20px;


.textpage-information {
  margin-top: 20px;
  z-index: 1;
  position: relative;

  .text-information {
    margin-top: 20px;
  }

  .follow-box {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px;
    background-color: $share_background;
    box-sizing: border-box;

    .follow-text {
      color: $share_color;

      @include font-size(14px, 19px);

      @include media_interval(0, $media900) {
        margin-top: 15px;
      }
    }

    .follow-text, .follow-buttons {
      //margin-top: 15px;
      text-align: center;
      display: flex;
      align-items: center;
    }

    @include media_interval(0, $media900) {
      flex-direction: column;
      padding: 15px 10px 10px;
      justify-content: center;
      align-items: center;
    }
  }

  .share-box {

    .share-buttons {
      display: flex;
      align-items: center;
    }

    .share-buttons__button {
      display: inline-block;
      position: relative;
      overflow: hidden;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }

      .fb-like {
        span, iframe {
          max-height: 20px;
        }
      }

      &.share-buttons__button--in {
        //margin-bottom: 1px;
        width: $share_in_width;
        height: $share_in_height;
        position: relative;

        a {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background: $sprite_url no-repeat -#{$share_in_position_x} -#{$share_in_position_y};
          background-size: rel-background-size($share_in_width, $share_in_height);
        }
      }
      // Доделать адаптивность
      &.share-buttons__button--fb-like {
        margin: 0 -1px 0 -11px;
      }

      &:hover {
        opacity: .75;
      }

      &, &:hover {
        transition: opacity .15s ease;
      }
    }
  }
}
