@import "mixins";
@import "vars";


$posts_post_tablet: $media1024;
$posts_post_mobile: $media768;

$posts_post_animation_time: $animation_time;

$button_secondary_hover_color: #fff;
$button_secondary_hover_background: rgba(0, 0, 0, 1);
$button_secondary_hover_border: rgba(0, 0, 0, 1);

$button_secondary_active_color: #fff;
$button_secondary_active_background: rgba(37, 37, 37, 1);
$button_secondary_active_border: rgba(37, 37, 37, 1);

.post {
  box-sizing: border-box;
  padding: $blog_post_padding;
  user-select: none;
  width: 33.33%;
  margin-bottom: 20px;

  .post-information {
    padding: 24px 0 0;
    box-sizing: border-box;
    position: relative;
    height: 100%;
  }

  &__title {
    margin-top: 13px;
    text-transform: capitalize;
  }

  &__date-tag {
    color: rgba($primary_color, 0.5);
    display: flex;
    flex-wrap: wrap;

    @include font_default;
    @include font-size(14px, 20px);

    .post__tags {
      display: flex;
      flex-wrap: wrap;
      margin: -5px;

      .tag {
        padding: 5px;
        box-sizing: border-box;

        &:after {
          content: ', ';
        }

        &:last-child {
          &:after {
            content: '';
          }
        }

        &--active {
          cursor: default;
          color: rgba($primary_color, 1);
        }

        &:not(&--active):hover {
          color: rgba($primary_color, .75);
        }

        &:not(&--active), &:not(&--active):hover {
          transition: color $posts_post_animation_time ease;
        }
      }
    }

    .divider {
      margin: 0 16px;
    }
  }

  &__note {
    margin-top: 11px;

    @include fontsize_default;

    @include media_interval(0, $posts_post_mobile) {
      margin-top: 15px;
    }
  }

  .link-more {
    position: relative;
    font-weight: 700;
    margin-top: 15px;

    @include fontsize_default;
    @include font_decorative;

    &__icon {
      width: 38px;
      height: 15px;
      margin-left: 10px;
      background-image: $sprite_url;
      background-position: rel-background-position(38px, 15px, -76px, -226px);
      background-size: rel-background-size(38px, 15px);
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  .preview-wrapper {
    display: table-row;
    position: relative;
  }

  .post-wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    cursor: pointer;

    .post__preview {
      display: block;
      overflow: hidden;
      position: relative;
      height: 250px;

      img {
        position: absolute;
        left: 50%;
        top: 50%;
        min-width: 100%;
        min-height: 100%;
        max-width: none;
        z-index: 1;
        transform: translate(-50%, -50%) scale(1.05);
      }
    }

    &:hover {
      .post__preview {
        img {
          transform: translate(-50%, -50%) scale(1.01);
        }
      }

      .btn-wrapper {
        .btn {
          color: $button_secondary_hover_color;
          background-color: $button_secondary_hover_background;
          border-color: $button_secondary_hover_border;

          &--arrow {
            &:after {
              border-color: $button_secondary_hover_color;
            }
          }
        }
      }
    }

    .post-wrapper:active {
      .btn-wrapper {
        .btn {
          color: $button_secondary_active_color;
          background-color: $button_secondary_active_background;
          border-color: $button_secondary_active_border;

          &--arrow {
            &:after {
              border-color: $button_secondary_active_color;
            }
          }
        }
      }
    }

    &, &:hover {
      transition: border-color $posts_post_animation_time ease;

      &__title {
        transition: color $posts_post_animation_time ease;
      }

      .post__preview {
        &:after {
          transition: opacity $posts_post_animation_time ease;
        }

        img {
          transition: transform $posts_post_animation_time ease;
        }
      }
      .post-information {
        &:after {
          transition: background-color $posts_post_animation_time ease;
        }
      }
    }
  }

  .btn-wrapper {
    margin-top: 24px !important;
  }

  @include media_interval($posts_post_mobile, $posts_post_tablet) {
    width: 50%;
  }

  @include media_interval(0, $posts_post_mobile) {
    width: 100%;
    padding-bottom: 20px;
  }
}