@import "mixins";


//=======================
// Иконки соц.сетей
//=======================

// Тут предусмотрено чтение иконок с нескольких строк в разных цветовых гаммах
$social_icons_sprite_width: 38px;
$social_icons_sprite_height: 38px;
$social_icons_width: 40px;
$social_icons_height: 40px;

// Палитра №1 в несколько строк
$social_icons_light_line_1: 76px;
$social_icons_light_line_2: 112px;

// Палитра №2 в несколько строк
$social_icons_dark_line_1: 150px;
$social_icons_dark_line_2: 188px;

// Позиция по оси x, т.к. в разных строках иконки на одинаковом расстоянии, то можно описать их позиции, чтобы избежать опечаток
$social_icons_column_1: 0px;
$social_icons_column_2: 38px;
$social_icons_column_3: 76px;
$social_icons_column_4: 114px;
$social_icons_column_5: 152px;

$social_links_white_space: 10px;


$social_icons:
                (pinterest, $social_icons_light_line_1, $social_icons_dark_line_1, $social_icons_column_1),
                (google, $social_icons_light_line_1, $social_icons_dark_line_1, $social_icons_column_2),
                (vimeo, $social_icons_light_line_1, $social_icons_dark_line_1, $social_icons_column_3),
                (linkedin, $social_icons_light_line_1, $social_icons_dark_line_1, $social_icons_column_4),
                (twitter, $social_icons_light_line_1, $social_icons_dark_line_1, $social_icons_column_5),
                (youtube, $social_icons_light_line_2, $social_icons_dark_line_2, $social_icons_column_1),
                (instagram, $social_icons_light_line_2, $social_icons_dark_line_2, $social_icons_column_2),
                (yelp, $social_icons_light_line_2, $social_icons_dark_line_2, $social_icons_column_3),
                (facebook, $social_icons_light_line_2, $social_icons_dark_line_2, $social_icons_column_4),
                (teleprice, $social_icons_light_line_2, $social_icons_dark_line_2, $social_icons_column_5);


.social-links {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;

  .social-link {
    padding: 5px;
    margin-left: -$social_links_white_space;
    box-sizing: border-box;

    a {
      display: inline-block;
      width: $social_icons_width;
      height: $social_icons_height;
      position: relative;

      &:before {
        content: '';
        display: block;
        padding-right: 100%;
        padding-top: 100%;
        background: $sprite_url no-repeat;
        background-size: rel-background-size($social_icons_sprite_width, $social_icons_sprite_height);
      }

      &:hover {
        opacity: .7;
      }

      &:active {
        opacity: .5;
      }

      &, &:hover, &:active {
        transition: opacity .15s ease;
      }
    }
  }

  &--right {
    margin-left: auto;
    margin-right: -$social_links_white_space;
  }

  &--light {
    .social-link {
      @each $icon, $pos_light_y, $pos_dark_y, $pos_x in $social_icons {
        &.#{$icon} > a {
          &:before {
            background-position: rel-background-position($social_icons_sprite_width, $social_icons_sprite_height, -$pos_x, -$pos_light_y);
          }
        }
      }
    }
  }

  &--dark {
    .social-link {
      @each $icon, $pos_light_y, $pos_dark_y, $pos_x in $social_icons {
        &.#{$icon} > a {
          &:before {
            background-position: rel-background-position($social_icons_sprite_width, $social_icons_sprite_height, -$pos_x, -$pos_dark_y);
          }
        }
      }
    }
  }
}