<section class="block block--about">
    <div class="block__inner">
        <div class="grid">
            <div class="gc-5 gc-wide-5 gc-tablet-full gc-mobile-full">
                <div class="block__image">
                    <picture>
                        {% if block.image.wide.url_avif %}
                            <source srcset="{{ block.image.wide.url_avif }}" type="image/avif" media="(min-width: 1401px)">
                        {% endif %}
                        <source srcset="{{ block.image.wide.url_webp }}" type="image/webp" media="(min-width: 1401px)">
                        <source srcset="{{ block.image.wide.url }}" type="image/jpeg" media="(min-width: 1401px)">
                        {% if block.image.desktop.url_avif %}
                            <source srcset="{{ block.image.desktop.url_avif }}" type="image/avif" media="(min-width: 1025px)">
                        {% endif %}
                        <source srcset="{{ block.image.desktop.url_webp }}" type="image/webp" media="(min-width: 1025px)">
                        <source srcset="{{ block.image.desktop.url }}" type="image/jpeg" media="(min-width: 1025px)">
                        {% if block.image.tablet1.url_avif %}
                            <source srcset="{{ block.image.tablet1.url_avif }}" type="image/avif" media="(min-width: 769px)">
                        {% endif %}
                        <source srcset="{{ block.image.tablet1.url_webp }}" type="image/webp" media="(min-width: 769px)">
                        <source srcset="{{ block.image.tablet1.url }}" type="image/jpeg" media="(min-width: 769px)">
                        {% if block.image.tablet2.url_avif %}
                            <source srcset="{{ block.image.tablet2.url_avif }}" type="image/avif" media="(min-width: 415px)">
                        {% endif %}
                        <source srcset="{{ block.image.tablet2.url_webp }}" type="image/webp" media="(min-width: 415px)">
                        <source srcset="{{ block.image.tablet2.url }}" type="image/jpeg" media="(min-width: 415px)">
                        {% if block.image.mobile.url_avif %}
                            <source srcset="{{ block.image.mobile.url_avif }}" type="image/avif" media="(max-width: 414px)">
                        {% endif %}
                        <source srcset="{{ block.image.mobile.url_webp }}" type="image/webp" media="(max-width: 414px)">
                        <source srcset="{{ block.image.mobile.url }}" type="image/jpeg" media="(max-width: 414px)">
                        <img src="{{ block.image.mobile.url }}" width="{{ block.image.mobile.target_width }}" height="{{ block.image.mobile.target_height }}" loading="lazy" decoding="async" alt="">
                    </picture>
                </div>
            </div>
            <div class="gc-flex gc-7 gc-wide-7 gc-tablet-6 gc-mobile-full">
                <div class="block__content">
                    <h2 class="block__title title title--h2">{{ block.title }}</h2>

                    {% if block.note %}
                        {% if block.is_long_note() %}
                            <div class="block__note">
                                <div class="expander-short">{{ block.short_note|linebreaksbr }}</div>
                                <div class="expander-full hidden">{{ block.note|linebreaksbr }}</div>

                            <div class="expander-btn">
                                <span>{{ _('Read more') }}</span>
                            </div>
                            </div>
                        {% else %}
                            <div class="block__note">{{ block.note|linebreaksbr }}</div>
                        {% endif %}
                    {% endif %}

                    <div class="btn-wrapper">
                        {% with view='link', url=url('about:index'), caption=_('Read More About Us'), classes='btn--default btn--animated btn--bordered btn--secondary btn--font-bold' %}
                            {% include 'components/button.html' %}
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
