@import "mixins";

.page--cart-empty {
  .cart {
    position: relative;
    padding-right: 250px;
    padding-bottom: 250px;
    box-sizing: border-box;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      background-image: $sprite_url;
      background-position: rel-background-position(32px, 32px, -96px, -241px);
      background-size: rel-background-size(32px, 32px);
    }
  }
}