@import "mixins";
@import "vars";
@import "parts/counter";
@import "parts/order_information";

$shop_cart_preview_width: 85px;
$shop_cart_preview_height: 105px;
$shop_icon_size: 32px;


.cart {

  .flex {
    display: flex;
    flex-direction: column;

    .row {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      box-sizing: border-box;
      border-bottom: 1px solid rgba(0, 0, 0, 0.3);

      @include vpad(22px);

      .column {
        display: flex;
        align-items: center;

        &:first-of-type {
          flex: 0 1 305px;
          justify-content: flex-start;

          @include media_interval(0, $shop_mobile) {
            flex: 0 1 290px;
          }
        }

        &:nth-of-type(2) {
          justify-content: center;

          @include media_interval(0, $shop_mobile) {
            order: 1;
          }
        }

        &:nth-of-type(3) {
          justify-content: flex-end;
        }
      }

      @include media_interval(0, $shop_mobile) {
        flex-wrap: wrap;
        align-items: flex-start;
      }
    }
  }

  .delete-product {
    position: relative;
    box-sizing: border-box;
    padding-right: $shop_icon_size;
    padding-bottom: $shop_icon_size;
    cursor: pointer;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      background-image: $sprite_url;
      background-repeat: no-repeat;
      background-position: rel-background-position($shop_icon_size, $shop_icon_size, 0px, -273px);
      background-size: rel-background-size($shop_icon_size, $shop_icon_size);
    }

    &:hover {
      opacity: .75;
    }

    &, &:hover {
      transition: opacity $shop_animation_time ease;
    }
  }

  .product {
    display: flex;
    align-items: center;
    flex-direction: row;

    .information {
      margin-left: 10px;
    }

    &__title {
      text-transform: uppercase;
      color: #000;

      @include font_default;
      @include fontsize_default;
    }

    .product__price {
      margin-top: 10px;
      color: $shop_product_color;
      display: flex;
      align-items: center;

      .price--current {

      }

      .price--base {
        opacity: .5;
        margin-left: 10px;
        position: relative;
        overflow: hidden;
        display: inline-block;

        @include font_lato;
        @include font-size(14px, 19px);

        &:after {
          content: '';
          position: absolute;
          width: 100%;
          top: 40%;
          left: 0;
          transform: rotate(-25deg);
          border: 1px solid #ff2c25;
        }
      }
    }

    &__count {
      @include media_interval(0, $shop_mobile) {
        margin-top: 20px;
      }
    }

    &__preview {
      width: $shop_cart_preview_width;
      height: $shop_cart_preview_height;
      position: relative;
      overflow: hidden;
      padding-bottom: 0 !important;

      img {
        @include centrizeImage();
      }
    }

    .information {
      flex: 0 1 calc(100% - 85px);
    }

    &:hover {
      opacity: .75;
    }

    &, &:hover {
      transition: opacity $shop_animation_time ease;
    }
  }

  .order-information {
    margin-top: 40px;
  }
}