@import "mixins";
@import "parts/order_information";

$shop_checkout_tablet: $media1024;


.checkout {
  margin: 60px 0;

  .ui-selectmenu-text {
    font-weight: 600;
    @include font_decorative;
  }

  .form__section {
    margin-top: 60px;

    @include media_interval(0, $shop_checkout_tablet) {
      margin-top: 30px;
    }
  }

  .order-information {
    margin: 60px 0;

    @include media_interval(0, $shop_checkout_tablet) {
      margin: 0;
    }
  }

  .fields {
    margin-top: 20px;

    .flex {
      .row {
        display: flex;
        justify-content: space-between;
        margin: -10px;

        .column {
          width: 100%;
          padding: 10px;

          .field {
            @include media_interval($shop_checkout_tablet, 0) {
              margin-bottom: 10px;
            }
          }

          @include media_interval(0, $shop_checkout_tablet) {
            padding: 0;
          }
        }

        @include media_interval(0, $shop_checkout_tablet) {
          flex-wrap: wrap;
          margin: 0;
        }
      }
    }
  }
}