@import "mixins";
@import "vars";

//@import 'parts/products';
@import "parts/categories";
@import "parts/sort";
@import "parts/view_panel";
@import "parts/filters";


.shop {
  &--base {
    display: block;
  }

  &--compact {
    display: none;
  }

  .formFilters {
    .btn-wrapper {
      .btn {
        width: 100%;
        margin-top: 20px;

        &:first-of-type {
          margin-top: 0;
        }
      }
    }
  }

  .product__price {
    margin-top: 10px;
    color: $shop_product_color;
    display: flex;
    align-items: center;

    .price--current {

    }

    .price--base {
      opacity: .5;
      margin-left: 10px;
      position: relative;
      overflow: hidden;
      display: inline-block;

      @include font_lato;
      @include font-size(14px, 19px);

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        top: 40%;
        left: 0;
        transform: rotate(-25deg);
        border: 1px solid #ff2c25;
      }
    }
  }

  @include media_interval(0, $shop_tablet) {
    &--base {
      display: none;
    }

    &--compact {
      display: block;
    }
  }
}