@import "mixins";
@import "vars";


#content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page {
  margin-top: 120px;

  @include media_interval(0, $shop_mobile) {
    margin-top: 80px;
  }
}

.page--cart-empty {
  text-align: center;

  .basket {
    padding-right: 251px;
    padding-bottom: 194px;
    box-sizing: border-box;
    position: relative;
    margin: auto auto 25px;

    &:before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background-image: $sprite_url;
      background-position: rel-background-position(251px, 194px, -0px, -329px);
      background-size: rel-background-size(251px, 194px);
    }
  }

  .btn-wrapper {
    margin-top: 50px;
  }
}