@import "mixins";
@import "parts/order_information";

$shop_checkout_tablet: $media1024;


.payment {
  margin: 60px 0;

  @import "mixins";

  $shop_category_active_color: #fff;
  $shop_category_active_background: rgba(35, 35, 35, 1);
  $shop_category_active_border: rgba(35, 35, 35, 1);

  .tabs {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;

    @include vpad(40px);

    .tab {
      padding: 10px;
      box-sizing: border-box;

      .btn {
        border-radius: 100px;
        padding: 10px 15px;
      }

      &.active {
        .btn {
          color: $shop_category_active_color;
          background-color: $shop_category_active_background;
          border-color: $shop_category_active_border;
        }
      }
    }
  }

  .form__section {
    margin-top: 60px;

    @include media_interval(0, $shop_checkout_tablet) {
      margin-top: 30px;
    }
  }

  .order-information {
    margin: 60px 0;

    @include media_interval(0, $shop_checkout_tablet) {
      margin: 30px 0;
    }
  }

  .fields {
    margin-top: 20px;

    .flex {
      .row {
        display: flex;
        justify-content: space-between;
        margin: -10px;

        .column {
          width: 100%;
          padding: 10px;

          .field {
            @include media_interval($shop_checkout_tablet, 0) {
              margin-bottom: 10px;
            }
          }

          @include media_interval(0, $shop_checkout_tablet) {
            padding: 0;
          }
        }

        @include media_interval(0, $shop_checkout_tablet) {
          flex-wrap: wrap;
          margin: 0;
        }
      }
    }
  }
}