@import 'mixins';
@import "vars";


.page--payment-success {
  margin-top: var(--webpage-top, 0);
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 0;

  @include vpad(125px);

  .page-wrapper {
    width: 535px;
    max-width: 100%;
    margin: auto;
  }

  .title {
    color: $text-color;
    text-align: center;
    font-weight: 800;
    display: flex;
    justify-content: center;

    @include font_decorative;
    @include font-size(140px, 147px);

    @include media_interval($shop_mobile, $media1024) {
      @include font-size(35px, 40px);
    }
    @include media_interval(0, $shop_mobile) {
      @include font-size(28px, 32px);
    }
  }

  .description {
    margin-top: 24px;
    text-align: center;

    @include media_interval(0, $shop_mobile) {
      margin-top: 20px;
    }
  }

  .btn-wrapper {
    margin: 48px auto 0;
    display: flex;
    justify-content: center;

    @include media_interval(0, $shop_mobile) {
      margin-top: 20px;
    }
  }
}