@import "mixins";
@import "vars";
@import "parts/counter";

$shop_product_mobile: $shop_mobile;


.breadcrumbs {
  margin-bottom: 0 !important;
}

.page {
  margin-top: 0 !important;
}

.product {
  #buyProduct {
    .btn-wrapper {
      .btn {
        padding: 0;
        display: flex;
        align-items: center;

        &__cart {
          background-color: #fff;
          color: #000;
          width: 125px;
          left: 0;
          top: 0;
          position: relative;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 20px 5px;
          transition: transform $animation_time ease;
          transform-origin: left;
          transform: scaleX(0);
        }

        &__caption {
          background-color: #000;
          color: #fff;
          top: 0;
          height: 100%;
          width: 100%;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          transition: right $animation_time ease, transform $animation_time ease, background-color $animation_time ease;
          padding: 20px 5px;
          box-sizing: border-box;
          right: 50%;
          transform: translateX(50%);
        }

        &:not(.cart--visible):hover {
          &, .btn__caption {
            background-color: #353535;
            color: #fff;
          }
        }

        &:not(.cart--visible):active {
          &, .btn__caption {
            background-color: #353535;
            color: #fff;
          }
        }

        &.cart--visible {

          .btn__cart {
            transform: scaleX(1);

            span {
              pointer-events: none;
            }

            &:hover {
              background-color: #E0E0E0;
            }

            &:active {
              background-color: #E0E0E0;
            }
          }

          .btn__caption {
            right: 0;
            transform: translateX(0);

            &:hover {
              background-color: rgb(35, 35, 35);
              color: #fff;
            }

            &:active {
              background-color: rgb(35, 35, 35);
              color: #fff;
            }
          }
        }
      }
    }
  }

  &__gallery {
    .preview {
      display: flex;
      justify-content: left;

      picture {
        display: flex;
      }

      img {
        @include media_interval(0, $media480) {
          min-width: 100%;
          max-width: none;
          width: auto;
        }
      }

      @include media_interval($shop_product_mobile, 0) {
        justify-content: center;
        width: auto;

        img {
          width: 100%;
        }
      }
    }

    .swiper-navigation {
      justify-content: center;
    }

    .swiper-pagination-bullets {
      background-color: rgba(0, 0, 0, 0);
    }

    .swiper-ui {
      @include media_interval(0, $shop_product_mobile) {
        display: none;
      }
    }

    @include media_interval(0, $shop_product_mobile) {
      margin-bottom: 20px;

      .swiper-slide {
        width: auto;
      }
    }
  }

  &__sku {
    color: #000;
    opacity: .5;
    margin-top: 20px;

    @include font_default;
    @include font-size(14px, 20px);
  }

  &__price {
    margin-top: 20px;
    display: flex;
    align-items: center;

    .price--base {
      color: rgba(0, 0, 0, .5);
      @include font_default;
      @include font-size(14px, 19px);
    }
  }

  &__count {
    margin-top: 20px;
  }

  .modification {
    margin-top: 20px;

    .field-modification {
      margin-top: 20px;

      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  .btn-wrapper {
    margin-top: 20px;

    .btn {
      @include media_interval(0, $shop_product_mobile) {
        width: 100%;
      }
    }
  }

  .tabs {
    user-select: none;
    margin-top: 80px;

    &__line {
      position: relative;
      background-color: rgba(0, 0, 0, 0.3);
      width: 100%;
      overflow: visible;
      height: 1px;

      &:after {
        content: '';
        position: absolute;
        height: 2px;
        top: -1px;
        left: var(--tab-left, 0);
        width: var(--tab-width, 0);
        background-color: #000;
        transition: left $animation_time ease, width $animation_time ease;
      }
    }

    &__names {
      overflow: hidden;

      .swiper-slide {
        width: auto;
      }

      .swiper-wrapper {
        @include media_interval(0, $media1024) {
          padding-top: 40px;
        }
      }
    }

    &__name {
      text-transform: capitalize;

      span {
        opacity: .5;
        cursor: pointer;
      }
    }

    .swiper-slide.swiper-slide-active {
      cursor: default;

      .tabs__name {
        span {
          opacity: 1;
        }
      }
    }

    &__page {
      color: #000;
      @include font_default;
      @include fontsize_default;
    }

    &__pages {
      margin-top: 20px;
      overflow: hidden;

      .swiper-wrapper {
        height: 100% !important;

        .swiper-slide {
          transition: height $animation_time ease;

          &:not(&-active) {
            height: 0 !important;
          }
        }
      }

      .tab {
        color: #000;
        @include font_default;
        @include fontsize_default;
      }
    }

    @include media_interval(0, $media1024) {
      margin-top: 40px;
    }
  }

  .swiper-wrapper {
    .preview {
      width: 245px;
      margin: auto;

      img {
        @include media_interval(0, $media480) {
          max-width: 100%;
        }
      }
    }
  }
}
