@import "mixins";


#product {
  .product {
    .btn {
      &.add-product {

        &.clicked {
          color: rgba(255, 255, 255, 0);

          &:active, &:hover {
            &:after {
              color: rgba(0, 0, 0, 1);
            }
          }

          &:after {
            color: rgba(255, 255, 255, 1);
          }
        }
      }
    }
  }
}