{{ add_static_to_render('js', 'services', 'default') }}
{{ add_static_to_render('css', 'services', 'default') }}


{% if services %}
    <section class="block block--services">
        <div class="grid-block">
            {% if title %}
                <h2 class="title title--h2">{{ title }}</h2>
            {% endif %}
            <ul class="services">
                {% for service in services %}
                    <li class="service">
                        <a href="{{ service.get_absolute_url() }}" class="service__link">
                            {% include 'services/parts/_service.html' %}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </section>
{% endif %}

