{% extends 'layout.html' %}


{% block critical_css %}
    {{ super() }}
    {% inline_stylesheet 'forms' %}
    {% inline_stylesheet 'shop_cart_critical' %}
{% endblock critical_css %}

{% block static_head %}
    {{ super() }}
    {% stylesheet 'shop_cart' %}
{% endblock static_head %}

{% block static_core %}
    {% stylesheet 'block_contacts' %}
{% endblock %}

{% block static_js %}
    {{ super() }}
    {% javascript 'shop_cart' %}
{% endblock static_js %}


{% block content %}
    <div class="cart">
        <div class="grid">
            <div class="gc-7 gc-wide-7 gc-tablet-full gc-mobile-full">
                <div class="flex">
                    {% for product in products %}
                        <div class="row" data-product="{{ product.product.id }}" data-modification="{{ product.modification }}" data-max-count="{{ product.max_count}}">
                            <div class="column">
                                <a href="{{ product.product.get_absolute_url() }}" class="product">
                                    <div class="product__preview">
                                        <picture>
                                            {% if product.product.preview.default.url_avif %}
                                                <source srcset="{{ product.product.preview.default.url_avif }}">
                                            {% endif %}
                                            {% if product.product.preview.default.url_webp %}
                                                <source srcset="{{ product.product.preview.default.url_webp }}">
                                            {% endif %}
                                            <source srcset="{{ product.product.preview.default.url }}">

                                            {% if product.product.preview.normal.url_avif %}
                                                <source srcset="{{ product.product.preview.normal.url_avif }}">
                                            {% endif %}
                                            {% if product.product.preview.normal.url_webp %}
                                                <source srcset="{{ product.product.preview.normal.url_webp }}">
                                            {% endif %}
                                            <source srcset="{{ product.product.preview.normal.url }}">

                                            {% if product.product.preview.small.url_avif %}
                                                <source srcset="{{ product.product.preview.small.url_avif }}">
                                            {% endif %}
                                            {% if product.product.preview.small.url_webp %}
                                                <source srcset="{{ product.product.preview.small.url_webp }}">
                                            {% endif %}
                                            <source srcset="{{ product.product.preview.small.url }}">

                                            <img
                                                    src="{{ product.product.preview.small.url }}"
                                                    alt="{{ product.product.title }}"
                                                    loading="lazy"
                                                    decoding="async"
                                                    width="{{ product.product.preview.small.target_width }}"
                                                    height="{{ product.product.preview.small.target_height }}">
                                        </picture>
                                    </div>
                                    <div class="information">
                                        <div class="product__title title title--h6">
                                            <span>{{ product.product_title }}</span>
                                        </div>

                                        <div class="product__price">
                                            {% if product.product.is_sale %}
                                                <span class="price--current title title--h5">{{ product.product.sale_price }}</span>
                                                <span class="price--base">{{ product.product.price }}</span>
                                            {% else %}
                                                <span class="price--current title title--h5">{{ product.product.price }}</span>
                                            {% endif %}
                                        </div>
                                    </div>
                                </a>
                            </div>
                            <div class="column">
                                {% with count=product.count, controls_send=True %}
                                    {% include 'shop/parts/_counter.html' %}
                                {% endwith %}
                            </div>
                            <div class="column">
                                <div class="delete-product" data-id="{{ product.product.id }}"></div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="gc-ml-1 gc-ml-wide-1 gc-4 gc-wide-4 gc-tablet-full gc-mobile-full">
                {% with use_coupon=True %}
                    {% include 'shop/parts/_order.html' %}
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock content %}