{% extends 'layout.html' %}


{% block critical_css %}
    {{ super() }}
    {% inline_stylesheet 'forms' %}
    {% inline_stylesheet 'shop_checkout_critical' %}
{% endblock critical_css %}

{% block static_head %}
    {{ super() }}
    {% stylesheet 'shop_checkout' %}
{% endblock static_head %}

{% block static_core %}
    {% stylesheet 'block_contacts' %}
{% endblock %}

{% block static_js %}
    {{ super() }}
    {% javascript 'shop_checkout' %}
{% endblock static_js %}


{% block content %}
    <div class="checkout">
        <div class="grid">
            <div class="gc-7 gc-wide-7 gc-tablet-full gc-mobile-full">
                <div class="flex">
                    <form action="{{ ajax_url('shop.order.save') }}" method="post" class="form-revert" id="formOrder">

                        {% csrf_token %}
                        <div class="form__section">
                            <div class="title title--h3">{{ _('Personal Information') }}</div>
                            <div class="fields">
                                <div class="flex">
                                    <div class="row">
                                        <div class="column">{% render_field checkout_form 'first_name' %}</div>
                                        <div class="column">{% render_field checkout_form 'last_name' %}</div>
                                    </div>
                                    <div class="row">
                                        <div class="column">{% include 'shop/parts/_city_select.html' %}</div>
                                        <div class="column">{% render_field checkout_form 'country' %}</div>
                                    </div>
                                    <div class="row">
                                        <div class="column">{% render_field checkout_form 'address_line_1' %}</div>
                                    </div>
                                    <div class="row">
                                        <div class="column">{% render_field checkout_form 'address_line_2' %}</div>
                                    </div>
                                    <div class="row">
                                        <div class="column">{% render_field checkout_form 'zip_code' %}</div>
                                        <div class="column"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {% include 'shop/parts/_deliveries.html' %}

                        <div class="form__section">
                            <div class="title title--h3">{{ _('Contact Information') }}</div>
                            <div class="fields">
                                <div class="flex">
                                    <div class="row">
                                        <div class="column">{% render_field client_form 'email' %}</div>
                                        <div class="column">{% render_field client_form 'phone' %}</div>
                                    </div>
                                    <div class="row">
                                        <div class="column">{% render_field subscribe_form 'active' %}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="gc-ml-1 gc-ml-wide-1 gc-4 gc-wide-4 gc-tablet-full gc-mobile-full">
                {% with use_coupon=False, save_order=True %}
                    {% include 'shop/parts/_order.html' %}
                {% endwith %}
            </div>

        </div>
    </div>
{% endblock content %}