{% extends 'layout.html' %}

{% block critical_css %}
    {{ super() }}
    {% inline_stylesheet 'shop_empty_critical' %}
{% endblock critical_css %}

{% block static_head %}
    {{ super() }}
    {% stylesheet 'shop_empty' %}
{% endblock static_head %}



{% block content %}
    <div id="error" class="page page--cart-empty">
        <div class="grid-block">
        <div class="cart">

        </div>
            <div class="page-wrapper">
            <div class="basket">

            </div>
                <h1 class="description title title--h3">
                    {{ _('Your cart is empty :(') }}
                </h1>
                <div class="btn-wrapper">
                    {% with view='link', caption=_('Shop Online Now'), url=url('shop:index'), classes='btn--default btn--animated btn--bordered btn--cta btn--font-bold' %}
                        {% include 'components/button.html' %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
