{% extends 'layout.html' %}


{% block critical_css %}
    {{ super() }}
    {% inline_stylesheet 'shop_critical' %}
{% endblock critical_css %}

{% block static_head %}
    {{ super() }}
    {% stylesheet 'shop' %}
{% endblock static_head %}

{% block static_js %}
    {{ super() }}
    {% javascript 'shop' %}
{% endblock static_js %}


{% block content %}
    <div class="shop shop--base">
        <div class="block">
            <div class="grid-block">
                {% include 'shop/parts/_categories.html' %}
                {% include 'shop/parts/_sort.html' %}
            </div>

            <div class="grid">
                <div class="gc-3 gc-wide-3 gc-tablet-2 gc-mobile-full">
                    {% include 'shop/parts/_filters.html' %}
                </div>
                <div class="gc-9 gc-wide-9 gc-tablet-10 gc-mobile-full container-products">
                    {% with products=products.current_page %}
                        <div class="products">
                            {% include 'shop/parts/_products.html' %}
                        </div>
                    {% endwith %}
                    {% include 'shop/parts/_more_products.html' %}
                </div>
            </div>
            <div class="grid-block">
                {% include 'shop/parts/_about.html' %}
            </div>
        </div>
    </div>

    <div class="shop shop--compact">
        <div class="block">
            <div class="grid-block">
                {% include 'shop/parts/_categories.html' %}
            </div>

            <div class="view-panel">
                <div class="grid-block">
                    <div class="view-panel-wrapper">
                        <div class="panel-sort">
                            <div class="panel-sort__icon"></div>
                            <div class="panel-sort__text">{{ _('Sort by') }}</div>
                            <div class="panel-sort__criteria" id="showPopupSort">{{ _('Sort criterion') }}</div>
                        </div>

                        <div class="panel-filters" id="showPopupFilters">
                            <div class="panel-filters__icon"></div>
                            <div class="panel-filters__text">{{ _('Filters') }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="grid">
                <div class="gc-9 gc-wide-9 gc-tablet-full gc-mobile-full">
                    {% with products=products.current_page %}
                        <div class="products">
                            {% include 'shop/parts/_products.html' %}
                        </div>
                    {% endwith %}
                    {% include 'shop/parts/_more_products.html' %}
                </div>
            </div>
            {% include 'shop/parts/_about.html' %}
        </div>
    </div>


{% endblock content %}
