{% extends 'layout.html' %}


{% block critical_css %}
    {{ super() }}
    {% inline_stylesheet 'forms' %}
    {% inline_stylesheet 'shop_payment_critical' %}
{% endblock critical_css %}

{% block static_head %}
    {{ super() }}
    {% stylesheet 'shop_payment' %}
{% endblock static_head %}

{% block static_core %}
    {% stylesheet 'block_contacts' %}
{% endblock %}

{% block static_js %}
    {{ super() }}
    {% javascript 'shop_payment' %}
{% endblock static_js %}


{% block content %}
    <div class="payment">
        <script>
            window.paypal_client_id="{{ PAYPAL_CLIENT_ID }}"
        </script>
        <div class="grid">
            <div class="gc-7 gc-wide-7 gc-tablet-full gc-mobile-full">
                <div class="tabs">
                    {% if use_authorize %}
                        {% with payment_with='authorize', caption_suffix="Authorize.Net" %}
                            {% include 'shop/parts/_tab_payment.html' %}
                        {% endwith %}
                    {% endif %}
                    {% if use_stripe %}
                        {% with payment_with='stripe', caption_suffix="Stripe" %}
                            {% include 'shop/parts/_tab_payment.html' %}
                        {% endwith %}
                    {% endif %}
                    {% if use_paypal %}
                        {% with payment_with='paypal', caption_suffix="Paypal" %}
                            {% include 'shop/parts/_tab_payment.html' %}
                        {% endwith %}
                    {% endif %}
                </div>
                <div class="tab-pages">
                    <div class="tab-page" data-tab="card">
                        {% include 'shop/parts/_card_tab.html' %}
                    </div>
                    <div class="tab-page" data-tab="paypal">
                        <div class="flex">
                            <div id="paypal-button-container"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="gc-ml-1 gc-ml-wide-1 gc-4 gc-wide-4 gc-tablet-full gc-mobile-full">
                {% with save_order=True %}
                    {% include 'shop/parts/_order.html' %}
                {% endwith %}
            </div>
        </div>
    </div>
{% endblock content %}