{% extends 'layout.html' %}


{% block critical_css %}
    {{ super() }}
    {% inline_stylesheet 'product_critical' %}
    {% inline_stylesheet 'forms' %}
{% endblock critical_css %}

{% block static_head %}
    {{ super() }}
    {% stylesheet 'product' %}
    {% stylesheet 'text_page' %}
{% endblock static_head %}

{% block static_js %}
    {{ super() }}
    {% javascript 'product' %}
    {% javascript 'text_page' %}
{% endblock static_js %}


{% block content %}
    <div id="product" class="page page--product" data-product="{{ product.id }}" data-max-count="{{ product.stock }}">
        <div class="product">
            <div class="grid">
                <div class="gc-wide-4 gc-4 gc-tablet-4 gc-mobile-full gc-mr-wide-1 gc-mr-1">
                    <div class="product__gallery">
                        {% if not product.gallery and product.preview %}
                            {% with item={'image': product.preview} %}
                                {% include 'shop/parts/_slider.html' %}
                            {% endwith %}
                        {% elif not product.gallery and not product.preview %}

                        {% elif not product.gallery.image_items|length > 1 %}
                            {% with item=product.gallery.image_items[0] %}
                                {% include 'shop/parts/_slider.html' %}
                            {% endwith %}
                        {% else %}
                            {% with items=product.gallery.image_items, template='shop/parts/_slider.html', mode="dark", pagination='bullets' %}
                                {% include 'components/slider.html' %}
                            {% endwith %}
                        {% endif %}
                    </div>
                </div>

                <div class="gc-wide-6 gc-6 gc-tablet-4 gc-mobile-full gc-mr-wide-1 gc-mr-1" id="productInfo">
                    <h1 class="product__title title title--h1">{% if product.header %}{{ product.header }}{% else %}{{ product.title }}{% endif %}</h1>

                    {% if product.str_sku %}
                        <div class="product__sku">
                            {{ product.str_sku }}
                        </div>
                    {% endif %}

                    {% include 'shop/parts/_price.html' %}

                    {% if modification_form %}
                        <form action="#" method="get" id="formProductModification" class="modification">
                            {% render_form modification_form %}
                        </form>
                    {% endif %}

                    {% include 'shop/parts/buy.html' %}
                    {% include 'shop/parts/_tabs.html' %}
                    {% include 'shop/parts/_block_reviews.html' %}
                </div>
                {##}
                {#                <div class="gc-7 gc-wide-7 gc-tablet-full gc-mobile-full gc-ml-5 gc-ml-wide-5">#}
                {#                </div>#}
            </div>
        </div>

        {% other_products product_id=product.id %}
    </div>

{% endblock content %}
