{% extends 'layout.html' %}

{% block critical_css %}
    {{ super() }}
    {% inline_stylesheet 'shop_payment_success_critical' %}
{% endblock critical_css %}

{% block static_head %}
    {{ super() }}
    {% stylesheet 'shop_payment_success' %}
{% endblock static_head %}



{% block content %}
    <div id="error" class="page page--payment-success">
        <div class="grid-block">
            <div class="page-wrapper">
                <h1 class="title">{{ page.title }}</h1>

                <div class="description title title--h3">
                    {{ page.description|linebreaksbr }}
                </div>
                <div class="btn-wrapper">
                    {% with view='link', caption=_('Go to home page'), url=url('main:index'), classes='btn--default btn--animated btn--bordered btn--cta btn--font-bold' %}
                        {% include 'components/button.html' %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
