@import "mixins";
@import "../vars";


.block--products {
  display: block;

  .products {
    display: block;
    padding-top: 40px;

    .slider {
      .swiper-slide {
        height: auto;

        .product-wrapper {
          height: 100%;
        }
      }
    }
  }
}