@import "mixins";
@import "../vars";


.block--reviews {
  .swiper-container {
    overflow: visible;
  }

  .swiper-slide {
    height: auto;
  }

  .review {
    height: 100%;
    width: 33.33%;

    @include media_interval(0, $shop_tablet) {
      width: 50%;
    }
  }

  .slider {
    .review {
      width: 100% !important;
    }
  }
}