{% extends 'layout.html' %}

{% block critical_css %}
    {{ super() }}
    {% inline_stylesheet 'faq_critical' %}
{% endblock critical_css %}

{% block static_head %}
    {{ super() }}
    {% stylesheet 'faq' %}
    {% stylesheet 'text_page' %}
{% endblock static_head %}

{% block static_js %}
    {{ super() }}
    {% javascript 'faq' %}
    {% javascript 'text_page' %}
{% endblock static_js %}


{% block content %}
<div id="faq" class="page page--faq">
        <div class="grid">
            <div class="gc-8 gc-wide-8 gc-tablet-full gc-mobile-full gc-center">
                <ul class="questions">
                    {% for question in page.questions.all() %}
                        <li class="question">
                            <span class="question__question title title--h5">{{ question.question }}</span>
                            <span class="question__answer">
                                <span class="text-styles">{{ question.answer|reformat }}</span>
                            </span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    {% render_attached_blocks page %}
{% endblock content %}
