{% extends 'layout.html' %}

{% block critical_css %}
    {{ super() }}
    {% inline_stylesheet 'error_critical' %}
{% endblock critical_css %}

{% block static_head %}
    {{ super() }}
    {% stylesheet 'error' %}
{% endblock static_head %}


{% block title %}{{ _('Page not found') }}{% endblock %}

{% set is_error_page=True %}

{% block content %}
    <div id="error" class="page page--error">
        <div class="grid-block">
            <div class="page-wrapper">
                <h1 class="title">
                    {% block code %}404{% endblock code %}
                </h1>

                <div class="description title title--h3">
                    {% block text %}
                        {{ _('Sorry, this page is not found') }}
                    {% endblock %}
                </div>
                <div class="btn-wrapper">
                    {% with view='link', caption=_('Go to home page'), url=url('main:index'), classes='btn--default btn--animated btn--bordered btn--cta btn--font-bold' %}
                        {% include 'components/button.html' %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
