<footer itemscope itemtype="https://schema.org/WPFooter">
    <div class="grid-block">

        <div class="flex">
            <div class="flex__row">
                <div class="flex__column">
                    {% menu 'menu_footer' classes="menu--color-light menu--underline" item_id_mod='footer' %}
                </div>
            </div>
            <div class="flex__row">
                <div class="flex__column">
                    <div class="company" itemscope itemtype="https://schema.org/LocalBusiness">
                        <meta itemprop="name" content="{{ COMPANY }}">
                        <meta itemprop="legalName" content="{{ COMPANY }}">
                        <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject" style="display: none !important;" >
                            <meta itemprop="url" content="{{ static('img/favicon.png') }}"/>
                        </div>

                        <div itemprop="address" itemscope itemtype="https://schema.org/PostalAddress" style="display: none !important;">
                            <meta itemprop="streetAddress" content="{{CONTACTS.address}}">
                            <meta itemprop="postalCode" content="{{ CONTACTS.zip }}">
                            <meta itemprop="addressRegion" content="{{CONTACTS.region}}">
                            <meta itemprop="addressLocality" content="{{ CONTACTS.city }}">
                        </div>

                        {% if CONTACTS.address or CONTACTS.str_city_address() %}
                            <div class="company__address">
                                {% if CONTACTS.address %}
                                    <span>{{ CONTACTS.address }}. </span>
                                {% endif %}

                                {% if CONTACTS.str_city_address() %}
                                    <span>{{ CONTACTS.str_region_address() }}</span>
                                {% endif %}
                            </div>
                        {% endif %}

                        {% if CONTACTS.phone or CONTACTS.email %}
                            <div class="company__contacts">
                                {% if CONTACTS.phone %}
                                    <div class="company__phone">
                                        <a href="tel:{{ CONTACTS.phone|phone }}" itemprop="telephone">{{ CONTACTS.phone }}</a>
                                    </div>
                                {% endif %}
                                {% if CONTACTS.email %}
                                    <div class="company__email">
                                        <a href="mailto:{{ CONTACTS.email }}" itemprop="email">{{ CONTACTS.email }}</a>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="flex__column">
                    {% social_links classes='social-links--light social-links--right' %}
                </div>
            </div>
            <div class="flex__row">
                <div class="flex__column">
                    <div class="information">
                        <div class="information__copyright">
                            &copy; {{ str_copyright }}
                        </div>
                        {% if policy %}
                            {% if is_policy_page %}
                                <div class="information__policy">
                                    <span>{{ _('Privacy Policy') }}</span>
                                </div>
                            {% else %}
                                <div class="information__policy">
                                    <a href="{{ url('policy:index') }}">{{ _('Privacy Policy') }}</a>
                                </div>
                            {% endif %}
                        {% endif %}
                        {% if disclaimer %}
                            {% if is_disclaimer_page %}
                                <div class="information__disclaimer">
                                    <span href="{{ url('disclaimer:index') }}">{{ _('FDA Disclaimer') }}</span>
                                </div>
                            {% else %}
                                <div class="information__disclaimer">
                                    <a href="{{ url('disclaimer:index') }}">{{ _('FDA Disclaimer') }}</a>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div class="flex__column">
                    <div class="dl-link">
                        <span class="dl-link__text">Web Design — </span>
                        <span class="dl-link__link">
                            <a href="https://directlinedev.com/"
                               target="_blank"
                               rel="noopener noreferrer">Direct Line Development</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
