@import "mixins";

//=======================
// Блок о нас
//=======================
$about_background_color: $gray;
$about_image_width: 480px;

$about_desktop: $media1400;
$about_tablet: $media1024;
$about_mobile: $media768;

$about_image_height: (
                ($about_tablet, 0): 480px,
                (0, $about_tablet): 260px,
);

.block--about {
  background-color: $about_background_color;

  .grid {
    display: flex;
    flex-wrap: wrap;
  }

  .block__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    position: relative;
    margin-left: 40px;

    @include media_interval(0, $about_tablet) {
      margin: 0;
    }
  }

  .block__note {
    margin-top: 30px;
    @include fontsize_default;
  }

  .expander-btn {
    color: rgba($text-color, .5);
    margin-top: 10px;
    cursor: pointer;

    @include fontsize_default;

    &:hover {
      opacity: .75;
    }

    &, &:hover {
      transition: opacity $animation_time ease;
    }
  }

  .btn-wrapper {
    width: 230px;
    max-width: 100%;
    margin-top: 40px;

    @include media_interval($about_mobile, $about_tablet) {
      margin-top: 25px;
    }

    @include media_interval(0, $about_mobile) {
      margin-top: 15px;
    }
  }

  .block__image {
    overflow: hidden;
    width: $about_image_width;
    display: block;
    position: relative;
    @include media_map(height, $about_image_height);

    img {
      width: auto;
      min-width: 100%;
      height: 100%;
      display: block;
      position: absolute;
      max-width: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    @include media_interval(0, $about_desktop) {
      width: 100%;
      margin-bottom: 24px;
    }
  }
}