<ul class="social-links {{ classes }}">
  {% for link in links %}
    <li class="social-link {{ link.provider }}">
      <a href="{{ link.url }}"
         title="Follow us on {{ link.get_provider_display() }}"
         aria-label="Follow us on {{ link.get_provider_display() }}"
         rel="nofollow noopener" target="_blank"></a>
    </li>
  {% endfor %}
</ul>