@import "mixins";


//=======================
// Блок преимуществ
//=======================
$advantages_tablet: $media1024;
$advantages_mobile: $media768;
$advantages_background_color: $black;
$advantages_color: $white;
$advantages_distance: 20px;

/* Размеры номера достижения */

$advantages_number_font_size: (
                ($advantages_tablet, 0): 20px,
                ($advantages_mobile, $advantages_tablet): 20px,
                (0, $advantages_mobile): 16px,
);

$advantages_number_line_height: (
                ($advantages_tablet, 0): 24px,
                ($advantages_mobile, $advantages_tablet): 24px,
                (0, $advantages_mobile): 19px,
);

/* Размеры названия достижения */
$advantages_title_font_size: (
                ($advantages_tablet, 0): 20px,
                ($advantages_mobile, $advantages_tablet): 20px,
                (0, $advantages_mobile): 20px,
);

$advantages_title_line_height: (
                ($advantages_tablet, 0): 24px,
                ($advantages_mobile, $advantages_tablet): 24px,
                (0, $advantages_mobile): 24px,
);


.block--advantages {
  background-color: $advantages_background_color;

  .advantages {
    display: block;
    user-select: none;
    overflow: hidden;

    .advantage {
      display: flex;
      flex-direction: column;
      box-sizing: border-box;
      color: $advantages_color;
      padding-right: 20px;

      &__number {
        @include font_decorative;
        @include media_map(font-size, $advantages_number_font_size);
        @include media_map(line-height, $advantages_number_line_height);
      }

      &__title {
        margin-top: 15px;

        @include media_map(font-size, $advantages_title_font_size);
        @include media_map(line-height, $advantages_title_line_height);
      }
    }

    .swiper-container:not(.swiper-initialized) {
      .swiper-slide {
        flex: 1 0 calc((100% - #{var(--advantages-count, 4)} * #{$advantages_distance}) / #{var(--advantages-count, 4)});

        @include media_interval($advantages_mobile, $advantages_tablet) {
          flex: 1 0 calc((100% - #{var(--advantages-count-tablet, 2)} * #{$advantages_distance}) / #{var(--advantages-count-tablet, 2)});
        }

        @include media_interval(0, $advantages_mobile) {
          flex: 1 0 calc((100% - #{var(--advantages-count-mobile, 1)} * #{$advantages_distance}) / #{var(--advantages-count-mobile, 1)});
        }
      }
    }
  }
}