{% set btn_classes %}class="btn{% if classes %} {{ classes }}{% endif %}"{% endset %}
{% if view=='link' %}
    <a href="{{ url }}" {{ btn_classes }} {% if external %}target="_blank" rel="noopener nofollow"{% endif %}{% if disabled %} disabled{% endif %}>
        {% include 'components/parts/button/_caption.html' %}
    </a>
{% elif view == 'paginator' %}
    <button type="button" {{ btn_classes }} data-page="{{ page }}" data-url="{{ url }}"{% if disabled %} disabled{% endif %}>
        {% include 'components/parts/button/_caption.html' %}
    </button>
{% elif view == 'button' %}
    <button type="{{ type }}" {{ btn_classes }}{% if id %}id="{{ id }}"{% endif %}{% if item_id %} data-id="{{ item_id }}"{% endif %}{% if disabled %} disabled{% endif %}>
        {% include 'components/parts/button/_caption.html' %}
    </button>
{% else %}
    <div {{ btn_classes }}{% if disabled %} disabled{% endif %}>
        {% include 'components/parts/button/_caption.html' %}
    </div>
{% endif %}