<div class="mobile-box">
    {% with mode='dark', item_id_mod='mobile' %}
        {% include 'header/header.html' %}
    {% endwith %}

    <div class="mobile-box__container">
        <div class="flex">
            <div class="flex__row flex__row--menu arrows">
                <div class="grid-block">
                    <div class="arrow arrow--top"></div>
                </div>
                <div class="scrollable">
                    <div class="grid-block">
                        {% menu 'menu_mobile' classes="menu--color-dark" %}
                    </div>
                </div>
                <div class="grid-block">
                    <div class="arrow arrow--bottom"></div>
                </div>
            </div>
{#            <div class="flex__row flex__row--contact">#}
{#                <div class="grid-block">#}
{##}
{#                    {% with classes='phone--icon' %}#}
{#                        {% include 'components/phone.html' %}#}
{#                    {% endwith %}#}
{##}
{#                    {% social_links classes='social-links--dark' %}#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>
</div>