<div class="recaptcha{% if classes %} {{ classes }}{% endif %}">
    <div class="recaptcha__wrapper">
        <span class="recaptcha__text">{{ _('This site is protected by reCAPTCHA and the Google ') }}</span>
        <a class="recaptcha__link" href="https://policies.google.com/privacy" target="_blank" rel="noopener nofollow">{{ _('Privacy Policy') }}</a> <span class="recaptcha__text"> {{ _(' and') }} </span>
        <a class="recaptcha__link" href="https://policies.google.com/terms" target="_blank" rel="noopener nofollow">{{ _('Terms of Service') }}</a> <span class="recaptcha__text"> {{ _(' apply.') }}</span>
    </div>
    <div id="recaptcha_{{ id }}_{{ suffix }}"></div>
</div>
