@import 'mixins';


$breadcrumbs_tablet: $media1024;
$breadcrumbs_mobile: $media768;

$breadcrumbs_background_color: rgba(0, 0, 0, 0); //#f7f7f7;
$breadcrumbs_background_dark_color: rgba(0, 0, 0, 0); //#111;
$breadcrumbs_color: rgba(0, 0, 0, 0.5);
$breadcrumbs_dark_color: rgba(255, 255, 255, 0.5);
$breadcrumbs_active_color: rgb(0, 0, 0);
$breadcrumbs_active_dark_color: rgb(255, 255, 255);

$breadcrumbs_distance: (
                ($breadcrumbs_tablet, 0): 0 0 60px,
                ($breadcrumbs_mobile, $breadcrumbs_tablet): 0 0 40px,
                (0, $breadcrumbs_mobile):  0 0 20px,
);

.breadcrumbs {
  background-color: $breadcrumbs_background_color;
  box-sizing: border-box;

  @include media_map(margin, $breadcrumbs_distance);
  @include vpad(23px);
  @include fontsize_default;

  .breadcrumb {
    display: inline;
    color: $breadcrumbs_color;

    &--active {
      color: $breadcrumbs_active_color;
    }

    //&__name {
    //  white-space: nowrap;
    //}

    &__link {
      &:hover {
        opacity: .75;
      }

      &, &:hover {
        transition: opacity .15s ease;
      }
    }

    &:after {
      content: '/';
      margin: 0 8px;
    }
    &:nth-last-of-type(1) {
      &:after {
        content: none;
      }
    }
    &:nth-child(1) {
      &:after {
        content: '/';
      }
    }
  }

  @at-root body.dark & {
    background-color: $breadcrumbs_background_dark_color;

    .breadcrumb {
      color: $breadcrumbs_dark_color;

      &--active {
        color: $breadcrumbs_active_dark_color;
      }
    }
  }
}
