@import 'mixins';


//=======================
// Футер
//=======================
$footer_color_text: #ffffff;
$footer_color_background: $primary_color;
$footer_tablet: $media1300;
$footer_mobile: $media768;
$footer_paddings: 60px 0;
$footer_row_bottom: 40px;
$footer_row_bottom_tablet: 32px;
$footer_row_bottom_mobile: 32px;


#footer-cell > footer {
  color: $footer_color_text;
  background-color: $footer_color_background;
  padding: $footer_paddings;

  .flex {
    display: flex;
    flex-direction: column;

    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: $footer_row_bottom;

      @include media_interval(0, $footer_tablet) {
        align-items: flex-start;
        flex-direction: column;
      }

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &__column {
      @include media_interval($footer_mobile, $footer_tablet) {
        margin-bottom: $footer_row_bottom_tablet;
      }

      @include media_interval(0, $footer_mobile) {
        margin-bottom: $footer_row_bottom_mobile;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .company {
    &__address {
      display: flex;
      align-items: center;

      span {
        white-space: break-spaces;
      }

      @include media_interval(0, $footer_mobile) {
        align-items: flex-start;
        //flex-wrap: wrap;
        //flex-direction: column;
      }
    }

    &__contacts {
      display: flex;

      @include media_interval(0, $footer_mobile) {
        flex-direction: column;
      }
    }
  }

  .information {
    &__copyright, &__policy, &__disclaimer {
      opacity: .5;
    }

    @include media_interval(0, $footer_mobile) {
      flex-direction: column;

      .information__copyright, .information__policy, .information__disclaimer {
        padding: 0;
        margin: 0;
      }

      .information__copyright, .information__policy {
        margin-bottom: 8px;
      }
    }
  }

  .company, .information {
    margin: -30px;
    display: flex;

    @include media_interval(0, $footer_mobile) {
      margin: 0;
      flex-wrap: wrap;
    }
  }

  .company__address, .company__phone, .company__email,
  .information__copyright, .information__policy, .information__disclaimer {
    padding: 10px;
    margin: 20px;

    @include font-size(16px, 23px);
  }


  .company__address, .company__phone, .company__email {
    @include media_interval(0, $footer_mobile) {
      padding: 0;
      margin: 0;
    }
  }

  .company__phone {
    margin-left: 0;
  }

  .company__contacts {
    padding: 10px;
    margin: 20px;

    @include font-size(16px, 23px);
    @include media_interval(0, $footer_mobile) {
      padding: 0;
      margin: 0;
    }
  }

  @include media_interval(0, $footer_mobile) {
    .company {
      margin: -12px;

      &__address, &__contacts {
        width: 100%;
        padding: 12px;
      }
    }
  }

  .company__phone, .company__email,
  .information__policy, .information__disclaimer {
    a {
      &:hover {
        opacity: .75;
      }

      &, &:hover {
        transition: opacity $animation_time ease;
      }
    }
  }

  .dl-link {
    flex: 0 0 auto;
    @include font-size(16px, 23px);

    &__text {
      opacity: .5;
      white-space: break-spaces;
    }

    &__link {
      a {
        opacity: .5;

        &:hover {
          opacity: .75;
        }

        &, &:hover {
          transition: opacity $animation_time ease;
        }
      }
    }
    @include media_interval(0, $footer_mobile) {
      margin-top: -16px;
    }
  }

  .social-links {
    justify-content: flex-end;

    @include media_interval(0, $footer_mobile) {
      justify-content: space-between;
      //max-width: 200px;

      .social-link {
        width: 20%;
      }
    }
  }
}


