<div class="preview new-item">
    <picture>
        {% if image.image.desktop.url_avif %}
            <source srcset="{{ image.image.desktop.url_avif }}" type="image/avif" media="(min-width: 769px)">
        {% endif %}
        <source srcset="{{ image.image.desktop.url_webp }}" type="image/webp" media="(min-width: 769px)">
        <source srcset="{{ image.image.desktop.url }}" type="image/jpg" media="(min-width: 769px)">
        {% if image.image.tablet.url_avif %}
            <source srcset="{{ image.image.tablet.url_avif }}" type="image/avif" media="(min-width: 481px)">
        {% endif %}
        <source srcset="{{ image.image.tablet.url_webp }}" type="image/webp" media="(min-width: 481px)">
        <source srcset="{{ image.image.tablet.url }}" type="image/jpg" media="(min-width: 481px)">
        {% if image.image.mobile.url_avif %}
            <source srcset="{{ image.image.mobile.url_avif }}" type="image/avif" media="(max-width: 480px)">
        {% endif %}
        <source srcset="{{ image.image.mobile.url_webp }}" type="image/webp" media="(max-width: 480px)">
        <source srcset="{{ image.image.mobile.url }}" type="image/jpg" media="(max-width: 480px)">

        <img src="{{ image.image.mobile.url }}"
             {% if use_lazy %}loading="lazy"{% endif %} decoding="async"
             data-caption="{{ image.description }}"
             data-href="{{ image.image.url }}"
             data-thumb="{{ image.image.mobile.url }}"
             width="{{ image.image.mobile.target_width }}"
             height="{{ image.image.mobile.target_height }}"
             alt="{{ image.image_alt }}">
    </picture>
</div>
