{% if page.author %}

    <div class="text-information__author author">

        {% if page.author.get_full_name() %}
            {% if page.author.avatar %}

                <div class="author__photo">
                    <img src="{{ page.author.avatar.small.url }}"
                         loading="lazy" decoding="async"
                         width="{{ page.author.avatar.small.target_width }}"
                         height="{{ page.author.avatar.small.target_height }}"
                         alt="{{ page.author.get_full_name() }}">
                </div>

            {% endif %}

            <div class="author__name">
                <span>{{ page.author.get_full_name() }}</span>
            </div>

        {% endif %}
    </div>
{% endif %}

<time datetime="{{ page.date|date("c") }}" class="text-information__date" property="datePublished">
    {{ page.date.strftime('%e %B %Y') }}
</time>