{% render_attached_blocks page set_name='top' %}

{% if page.text %}
    <div id="{{ type_page }}" class="page page--{{ type_page }}">
        <div class="grid">
            <div class="gc-8 gc-wide-8 gc-tablet-full gc-mobile-full gc-center">
                <div class="text-styles">
                    {% if page.optimized_text %}
                        {{ page.optimized_text|reformat }}
                    {% else %}
                        {{ page.text|reformat }}
                    {% endif %}
                </div>

                {% include 'webpage/share.html' %}
            </div>
        </div>
    </div>
{% endif %}

{% if is_service_page %}
    {% render_attached_blocks page set_name='middle' %}

    {% if page.subservices.exists() %}
        {% sub_services service=page.id %}
    {% else %}
        {% other_services service=page.id %}
    {% endif %}

{% else %}
    {% render_attached_blocks page set_name='middle' %}
{% endif %}

{% render_attached_blocks page %}
