.toc {
    padding: 8px;
    margin: 10px;
    background: #eee;
    border-radius: 8px;
    border: 1px solid #ddd;
    box-shadow: 0 1px 1px #fff inset, 0 -1px 0px #ccc inset;
}

.toc .name {
    margin: 0.5em 0;
}

.toc .list {
    min-height: 1em;
}

.toc ol {
    margin-bottom: 0;
}