<div class="swiper-navigation swiper-navigation--color-{{ mode }}">
    <div class="swiper-button swiper-button-prev"></div>
    {% if pagination=='bullets' %}
            {% include 'components/parts/slider/_bullets.html' %}
    {% endif %}
    <div class="swiper-button swiper-button-next"></div>
</div>
