<div class="swiper-container">
    <div class="swiper-wrapper">
        {% for item in items %}
            {% with index=loop.index %}
                {% include 'components/parts/slider/_slide.html' %}
            {% endwith %}
        {% endfor %}
    </div>
</div>