<header {# class="{% if colored %}header--colored{% endif %}" #}>
    <div class="grid-block">

        <div class="flex">
            <div class="flex__column-group flex__column-group--width-content">
                <div class="flex__column column column--logo">
                    {% if mode %}
                        {% with classes='logo--' + mode %}
                            {% include 'components/logo.html' %}
                        {% endwith %}
                    {% else %}
                        {% include 'components/logo.html' %}
                    {% endif %}
                </div>
            </div>
            <div class="flex__column-group">
                <div class="flex__column column column--menu">
                    {% menu 'menu_header' item_id_mod=item_id_mod %}
                </div>

                {% if not short %}
                    <div class="flex__column column column--right">
                        {% with classes='phone--icon' %}
                            {% include 'components/phone.html' %}
                        {% endwith %}
                    <div class="cart">
                        <a href="{{ url('shop:cart') }}" class="cart__link">
                            <div class="cart__icon" id="cart_counter" data-count="{% if count %}{% if count > 9 %}9+{% else %}{{ count }}{% endif %}{% endif %}"></div>
                        </a>
                    </div>
                    </div>
                {% endif %}

                <div class="flex__column column column--burger">
                    {% if mode %}
                        {% with classes='burger--' + mode %}
                            {% include 'components/burger.html' %}
                        {% endwith %}
                    {% else %}
                        {% include 'components/burger.html' %}
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
</header>