@import "mixins";

$blog_block_tablet: $media1024;
$blog_block_mobile: $media768;

.block--posts {
  .block__title {
    margin-bottom: 40px;

    @include media_interval(0, $blog_block_mobile) {
      margin-bottom: 30px;
    }
  }
}