@import "mixins";

$blog_tablet: $media1024;
$blog_mobile: $media768;

.page--blog {
  .btn--paginator {
    margin-top: 60px;

    @include media_interval(0, $blog_mobile) {
      margin-top: 40px;
    }
  }
}