@import 'mixins';


//=======================
// Хэдер
//=======================
$header_color_background: $secondary_color;
$header_color_background_dark: $primary_color;
$header_color_background_colored: #f7f7f7;
$header_tablet: $media1300;
$header_mobile: $media768;
$header_paddings: 22px 0;
$header_animation_time: $animation_time;
$header_cart_sprite_size: 32px;
$header_cart_size: 24px;
$phone_sprite_position_x_light: 183px;
$phone_sprite_position_y_light: 24px;


header {
  padding: 30px 0;
  position: fixed;
  width: 100%;
  background-color: $header_color_background;

  &.header--colored {
    background-color: $header_color_background_colored;
  }

  .flex {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__column-group {
      display: flex;
      flex: 1 1 auto;
      justify-content: space-between;

      @include media_interval(0, $media_tablet) {
        justify-content: flex-end;
      }
    }

    &__column-group--width-content {
      flex: 0 0 auto;
    }
  }

  .column {
    display: flex;
    align-items: center;
    justify-content: center;

    &--burger {
      @include media_interval($media_tablet, 0) {
        display: none;
      }
    }

    &--right {
      @include media_interval(0, $media_tablet) {
        margin-right: 24px;
      }

      //@include media_interval(0, 375px) {
      //  display: none;
      //}

      .phone {
        a {
          //    &:before {
          //      display: none;
          //    }
          span {
            position: relative;

            &:after {
              content: '';
              position: absolute;
              height: 1px;
              width: 0;
              left: 0;
              bottom: -2px;
              background-color: $primary_color;
            }
            &:hover {
              &:after {
                width: 100%;
              }
            }

            &, &:hover {
              &:after {
                transition: width $animation_time ease;
              }
            }
          }
        }
      }
    }

    &--logo {

    }

    &--menu {
      flex: 1;

      @include media_interval(0, $media_tablet) {
        display: none;
      }
    }
  }

  .cart {
    margin-left: 30px;

    &__link {
      &:hover {
        opacity: .75;
      }

      &, &:hover {
        transition: opacity $header_animation_time ease;
      }
    }

    &__icon {
      padding-right: $header_cart_size;
      padding-bottom: $header_cart_size;
      box-sizing: border-box;
      position: relative;

      &:before {
        content: attr(data-count);
        position: absolute;
        top: -4px;
        left: 16px;
        box-sizing: border-box;
        padding: 1px 3px;
        min-width: 15px;
        min-height: 15px;
        background-color: #FF2C25;
        color: #fff;
        border-radius: 50%;
        text-align: center;
        align-items: center;
        justify-content: center;
        display: none;

        @include font_default;
        @include font-size(7px, 9px);
      }

      &[data-count]:before {
        display: flex;
      }


      &:after {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-image: $sprite_url;
        background-position: rel-background-position($header_cart_sprite_size, $header_cart_sprite_size, -96px, -241px);
        background-size: rel-background-size($header_cart_sprite_size, $header_cart_sprite_size);
      }

      &:hover {
        &:after {
          opacity: .75;
        }
      }

      &, &:hover {
        &:after {
          transition: opacity $header_animation_time ease;
        }
      }
    }
  }
}


@at-root body.dark #header-cell > header  {
  background-color: $primary_color;

  .phone {
    color: $secondary_color;

    &:before {
      background: $sprite_url no-repeat -#{$phone_sprite_position_x_light} -#{$phone_sprite_position_y_light};
    }
  }
}
