<div class="shop__filters filters-wrapper">
    <div class="filters-wrapper__head">
        <div class="column">
            <div class="clear filtersClear" id="filtersClear">
                {{ _('Clear') }}
            </div>
        </div>
        <div class="column">
            <div class="title title--popup">
                {{ _('Filter By') }}
            </div>
        </div>
        <div class="column">
            <div class="popup-close-button close-popup">
                {{ _('Close') }}
            </div>
        </div>
    </div>
    <ul>
        {% include 'shop/parts/_filters.html' %}
    </ul>
</div>
