//=======================
// Точки для media-queries
//=======================
$media1400: 1400px;
$media1300: 1300px;
$media1280: 1280px;
$media1200: 1200px;
$media1024: 1024px;
$media900: 900px;
$media768: 768px;
$media640: 640px;
$media600: 600px;
$media560: 560px;
$media480: 480px;
$media400: 400px;


//=======================
// Сетка
//=======================
$cols_wide: 12;
$cols_desktop: 12;
$cols_tablet: 8;
$cols_mobile: 4;

// Максимальная ширина сетки
$grid_max_width: 1400px;

// Боковые границы каждого столбца
$grid_column_gap: 10px;

// Боковые границы сетки
$grid_paddings: (
    ($media1200, 0): 100px,
    ($media1024, $media1200): 70px,
    ($media768, $media1024): 14px,
    (0, $media768): 10px,
);

// Боковые границы сетки с прибавлением границы столбца
$grid_full_paddings: ();
@each $key, $value in $grid_paddings {
  $grid_full_paddings: map-merge($grid_full_paddings, (
    $key: $value + $grid_column_gap
  ))
}


//=======================
// Sprite
//=======================
$sprite_url: url(/static/img/sprite.svg);
$sprite_width: 278px;
$sprite_height: 523px;


//=======================
// Базовое время анимации
//=======================
$animation_time: .15s;


//=======================
// Цвета
//=======================
$white: #FFFFFF;
$black: #000000;

$primary_color: $black;
$secondary_color: $white;
$background_color: $white;

$gray:#F7F7F7;

$text-color: #000000;

//=======================
// Основные разрешения изменения макетов
//=======================
$media_tablet: $media1300;
$media_mobile: $media768;


//=======================
// Отступы между слайдами
//=======================
$slide_paddings: 10px;

$distance_desktop: 80px;
$distance_tablet: 40px;
$distance_mobile: 40px;
