@import 'mixins/all';
@import 'conf';

//=========================================
//  Размеры шрифта
//=========================================
@mixin fontsize_default() {
  @include font-size(16px, 23px);
  @include media_interval($media768, $media1024) {
    @include font-size(16px, 25px);
  }
  @include media_interval(0, $media768) {
    @include font-size(14px, 22px);
  }
}

@mixin fontsize_h1() {
  @include font-size(46px, 53px);
  @include media_interval($media768, $media1024) {
    @include font-size(35px, 40px);
  }
  @include media_interval(0, $media768) {
    @include font-size(28px, 32px);
  }
}

@mixin fontsize_h2() {
  @include font-size(35px, 42px);
  @include media_interval($media768, $media1024) {
    @include font-size(26px, 31px);
  }
  @include media_interval(0, $media768) {
    @include font-size(20px, 24px);
  }
}

@mixin fontsize_h3() {
  @include font-size(26px, 31px);
  @include media_interval($media768, $media1024) {
    @include font-size(22px, 26px);
  }
  @include media_interval(0, $media768) {
    @include font-size(17px, 20px);
  }
}

@mixin fontsize_h4() {
  @include font-size(24px, 29px);
  @include media_interval($media768, $media1024) {
    @include font-size(20px, 24px);
  }
  @include media_interval(0, $media768) {
    @include font-size(16px, 19px);
  }
}

@mixin fontsize_h5() {
  @include font-size(22px, 26px);
  @include media_interval($media768, $media1024) {
    @include font-size(16px, 19px);
  }
  @include media_interval(0, $media768) {
    @include font-size(18px, 22px);
  }
}

@mixin fontsize_h6() {
  @include font-size(18px, 22px);
  @include media_interval($media768, $media1024) {
    @include font-size(16px, 22px);
  }
  @include media_interval(0, $media768) {
    @include font-size(16px, 22px);
  }
}

//=========================================
//  Шрифты
//=========================================
@mixin font_lato() {
  font-family: Lato, sans-serif;
}
@mixin font_montserrat() {
  font-family: "Montserrat", sans-serif;
}
@mixin font_default() {
  @include font_lato;
}
@mixin font_decorative() {
  @include font_montserrat;
}


@mixin mobile_box_animation($side) {
  transition: $side $mobile_box_animate_time ease;

  @if ($side == right) {
    right: -100%;

    @at-root .mobile-box-opened & {
      right: 0;
    }
  }

  @if ($side == left) {
    left: -100%;

    @at-root .mobile-box-opened & {
      left: 0;
    }
  }
}