@import 'mixins';

@include global-reset;

html, body {
  height: 100%;
}

body {
  overflow-x: hidden;
  color: $text_color;
  line-height: 1;
  background-color: $background_color;
  @include zero_fontsize;
  @include font_default;

  @at-root .mobile-box-opened & {
    overflow: hidden;
  }

  @at-root .mobile-box-opened {
    overflow: hidden;
  }

  &.dark {
    background-color: $primary_color;
  }
}

// Скрытый элемент
.hidden {
  display: none;
}

// Основной контейнер
#wrapper {
  overflow: hidden;
  display: table;
  width: 100%;
  height: 100%;
  table-layout: fixed;
}

#header-wrapper {
  display: table-row;
  height: 0;
}

#header-cell {
  display: table-cell;
  position: relative;
  height: 0;
  z-index: 3;
  vertical-align: top;
}

.title {
  font-weight: 800;

  @include font_decorative;

  &.title--h1 {
    @include fontsize_h1;
  }
  &.title--h2 {
    @include fontsize_h2;
  }
}


#content-wrapper {
  display: table-row;
}

#content {
  display: table-cell;
  position: relative;
  height: 100%;
  z-index: 2;
  vertical-align: top;

  & > *:last-child .block__inner {
    margin-bottom: -$distance_desktop;

    @include media_interval($media768, $media1024) {
      margin-bottom: -$distance_tablet;
    }

    @include media_interval(0, $media768) {
      margin-bottom: -$distance_mobile;
    }
  }
}

// Полноэкранный блок
.section {
  position: relative;
  overflow: hidden;
  display: block;
  z-index: 1;
  box-sizing: border-box;
  @include valign_after;

  &.section-full-height {
    min-height: 768px; // for old
    min-height: 100vh;
  }

  img.section-image {
    @include centrizeImage($zIndex: 2, $minSize:100.5%);
  }

  picture.section-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;

    img {
      @include centrizeImage($zIndex: 2, $minSize: 100.5%);
    }
  }

  .section-video {
    visibility: hidden;
    @include centrizeImage($zIndex: 20);

    &.loaded {
      visibility: visible;
    }
  }

  @at-root .no-js & .section-video {
    visibility: visible;
  }

  .section-inner {
    position: relative;
    display: inline-block;
    width: 100%;
    z-index: 50;
    vertical-align: middle;
    box-sizing: border-box;
  }
}

// Контентный блок
.page {
  position: relative;
  margin: 60px 0;
  @include media_interval($media768, $media1024) {
    margin: 40px 0;
  }
  @include media_interval(0, $media768) {
    margin: 40px 0;
  }
}

