@import 'mixins';


.page--error {

  margin-top: var(--webpage-top, 0);
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 0;

  @include vpad(125px);

  @at-root .avif &{
    background-image: url("/static/img/background/background.avif");
  }

  @at-root .no-avif.webp &{
    background-image: url("/static/img/background/background.webp");
  }

  @at-root .no-avif.no-webp &, .no-js &{
    background-image: url("/static/img/background/background.jpg");
  }

  .page-wrapper {
    width: 400px;
    max-width: 100%;
    margin: auto;
  }

  .title {
    color: $text-color;
    text-align: center;
    font-weight: 800;

    @include font_decorative;
    @include font-size(140px, 147px);

    @include media_interval($media768, $media1024) {
      @include font-size(35px, 40px);
    }
    @include media_interval(0, $media768) {
      @include font-size(28px, 32px);
    }
  }

  .description {
    margin-top: 24px;
    text-align: center;
    //font-weight: 800;

    //@include font_decorative;
    //@include font-size(26px, 31px);
    //
    //@include media_interval($media768, $media1024) {
    //  @include font-size(20px, 26px);
    //}

    @include media_interval(0, $media768) {
      margin-top: 20px;
      //@include font-size(14px, 20px);
    }
  }

  .btn-wrapper {
    margin: 48px auto 0;
    display: flex;
    justify-content: center;

    @include media_interval(0, $media768) {
      margin-top: 20px;
    }
  }
}