@import 'mixins';

$forms_tablet: $media1024;
$forms_mobile: $media768;

$forms_animation_time: $animation_time;
$forms_color_error: #FF2C25;
$forms_field_space: 20px;
$forms_field_padding: 15px 0;
$forms_field_padding_revert: 15px 22px;
$forms_field_padding_transparent: 5px 0;
$forms_field_background: $primary_color;
$forms_field_background_revert: $secondary_color;
$forms_field_background_transparent: rgba(0, 0, 0, 0);
$forms_font_color: $secondary_color;
$forms_font_color_revert: $primary_color;
$forms_font_color_transparent: $primary_color;
$forms_border_color: $secondary_color;
$forms_border_color_revert: $primary_color;
$forms_border_color_transparent: $primary_color;

$forms_error_font_size: (
                ($forms_tablet, 0): 14px,
                ($forms_mobile, $forms_tablet): 12px,
                (0, $forms_mobile): 12px,
);

$forms_error_line_height: (
                ($forms_tablet, 0): 17px,
                ($forms_mobile, $forms_tablet): 15px,
                (0, $forms_mobile): 15px,
);

$forms_font_size: (
                ($forms_tablet, 0): 16px,
  // По макету 14, но это косяк. Будет работать приближение
                ($forms_mobile, $forms_tablet): 16px,
                (0, $forms_mobile): 16px,
);

$forms_line_height: (
                ($forms_tablet, 0): 19px,
                ($forms_mobile, $forms_tablet): 17px,
                (0, $forms_mobile): 17px,
);

form {
  max-width: 100%;
  box-sizing: border-box;

  label {
    position: relative;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 1000px $forms_field_background inset !important;
    -moz-box-shadow: 0 0 0 1000px $forms_field_background inset !important;
    -webkit-text-fill-color: $forms_font_color !important;
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
  }
  @-webkit-keyframes autofill {
    to {
      @include media_map(font-size, $forms_font_size);
      @include media_map(line-height, $forms_line_height);
    }
  }

  .label-holder-extend {

  }


  // стандартные стили полей в форме
  .field {
    margin-bottom: $forms_field_space;
    max-width: 100%;
    box-sizing: border-box;
    position: relative;

    .label-holder {
      text-align: left;
      color: $forms_font_color;
      background-color: $forms_field_background;
      width: 100%;
      pointer-events: none;
      position: absolute;
      top: 14px;
      transition: top $forms_animation_time ease;

      @include media_map(font-size, $forms_font_size);
      @include media_map(line-height, $forms_line_height);

      &.label-active {
        top: -10px;
      }
    }

    .control {
      max-width: 100%;
      box-sizing: border-box;

      @include media_interval(0, $media480) {
        width: 100%; // fix old safari
      }

      input, select, textarea, .input {
        width: 100%;
        color: $forms_font_color;
        background-color: $forms_field_background;
        padding: $forms_field_padding;
        box-sizing: border-box;
        border-bottom: 1px solid rgba($forms_border_color, .5);
        transition: border-bottom-color $forms_animation_time ease;
        @include media_map(font-size, $forms_font_size);
        @include media_map(line-height, $forms_line_height);

        &:active, &:focus {
          border-bottom-color: $forms_border_color;
        }
      }

      input, .input, textarea {
        &::placeholder {
          color: $forms_font_color;
          opacity: 1;
        }
        &:active, &:focus {
          &::placeholder {
            opacity: .5;
          }
        }
        &:focus {
          border-bottom-color: $forms_border_color;
        }
      }

      textarea {
        min-height: 130px;
      }

      select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
    }

    &.invalid {
      input, select, textarea, .input {
        &, &:focus {
          color: $forms_color_error;
          border-bottom-color: $forms_color_error;
        }
      }

      .label-holder {
        color: $forms_color_error;

        &.label-active {
          color: $forms_font_color;
        }
      }
    }

    // класс текстового описания ошибки
    .error-message {
      color: $forms_color_error;
      padding-top: 5px;
      display: inline-block;

      @include media_map(font-size, $forms_error_font_size);
      @include media_map(line-height, $forms_error_line_height);
    }
  }



  /*
      Кастомизация чекбоксов.
      ОБЯЗАТЕЛЬНО наличие label после input.
  */
  $checkbox_size: 24px;
  $checkbox_background: $white;
  $checkbox_border_width: 1px;
  $checkbox_border_radius: 3px;
  $checkbox_border_color: #000;
  $checkbox_icon_size: (18px, 18px);
  $checkbox_icon_offset: (4px, 4px);      // left, top

  input[type=checkbox] {
    // прячем оригинал
    position: absolute;
    width: auto;
    left: -9999px;
    opacity: 0;

    & + label {
      position: relative;
      display: inline-block;
      padding-left: $checkbox_size + 10px;
      margin: 0;
      box-sizing: border-box;
      @include fontsize_default;
      line-height: $checkbox_size + 2 * $checkbox_border_width;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: $checkbox_size;
        height: $checkbox_size;
        z-index: 1;
        background: $checkbox_background;
        border: $checkbox_border_width solid $checkbox_border_color;
        border-radius: $checkbox_border_radius;
      }

      span {
        user-select: none;
      }

      // переключатель
      &:after {
        content: '';
        position: absolute;
        left: nth($checkbox_icon_offset, 1);
        top: nth($checkbox_icon_offset, 2);
        width: nth($checkbox_icon_size, 1);
        height: nth($checkbox_icon_size, 2);
        z-index: 1;
        opacity: 0;
        background: $sprite_url no-repeat -64px -273px;
        transition: opacity 0.1s;
      }
    }

    &:checked {
      & + label {
        &:after {
          opacity: 1;
        }
      }
    }

    &:disabled {
      & + label {
        &:before {
          background: darken($checkbox_background, 10%);
        }
      }

      &:checked {
        & + label {
          &:after {
            opacity: 0.5;
          }
        }
      }
    }
  }

  /*
      Кастомизация радиоксов.
      ОБЯЗАТЕЛЬНО наличие label после input.
  */
  $radiobox_size: 22px;
  $radiobox_background: $white;
  $radiobox_border_width: 1px;
  $radiobox_border_color: $black;
  $radiobox_dot_gap: 3px;
  $radiobox_dot_color: $black;
  $radiobox_dot_size: $radiobox_size - 2 * $radiobox_dot_gap;

  input[type=radio] {
    // прячем оригинал
    position: absolute;
    width: auto;
    left: -9999px;
    opacity: 0;

    & + label {
      position: relative;
      display: inline-block;
      padding-left: $radiobox_size + 20px;
      margin: 0;
      box-sizing: border-box;
      @include fontsize_default;
      line-height: $radiobox_size + 2 * $radiobox_border_width;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: $radiobox_size;
        height: $radiobox_size;
        z-index: 1;
        background: $radiobox_background;
        border: $radiobox_border_width solid $radiobox_border_color;
        border-radius: 50%;
      }

      span {
        user-select: none;
      }

      // переключатель
      &:after {
        content: '';
        position: absolute;
        top: $radiobox_border_width + $radiobox_dot_gap;
        left: $radiobox_border_width + $radiobox_dot_gap;
        width: $radiobox_dot_size;
        height: $radiobox_dot_size;
        z-index: 1;
        opacity: 0;
        background: $radiobox_dot_color;
        border-radius: 50%;
        transition: opacity 0.2s;
      }
    }

    &:checked {
      & + label {
        &:after {
          opacity: 1;
        }
      }
    }

    &:disabled {
      & + label {
        &:before {
          background: darken($radiobox_background, 10%);
        }
      }

      &:checked {
        & + label {
          &:after {
            opacity: 0.5;
          }
        }
      }
    }
  }

  &.form-revert {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active  {
      -webkit-box-shadow: 0 0 0 1000px $forms_field_background_revert inset !important;
      -moz-box-shadow: 0 0 0 1000px $forms_field_background_revert inset !important;
      -webkit-text-fill-color: $forms_font_color_revert !important;
      -webkit-animation-name: autofill;
      -webkit-animation-fill-mode: both;
    }

    .field {
      .label-holder {
        position: relative;
        background-color: rgba(0, 0, 0, 0);
        color: $forms_font_color_revert;
        top: 0;
        margin-bottom: 10px;
      }

      &.invalid {
        input, select, textarea, .input {
          &, &:focus {
            color: $forms_color_error;
            border-color: $forms_color_error;
          }
        }

        .label-holder {
          color: $forms_color_error;

          &.label-active {
            color: $forms_font_color;
          }
        }
      }
    }

    .control {
      max-width: 100%;
      box-sizing: border-box;

      @include media_interval(0, $media480) {
        width: 100%; // fix old safari
      }

      input, select, textarea, .input {
        color: $forms_font_color_revert;
        background-color: $forms_field_background_revert;
        padding: $forms_field_padding_revert;
        border: 1px solid $forms_border_color_revert;
        border-radius: 5px;
        font-weight: 600;

        @include font-size(16px, 19px);
        @include font_decorative;

        &:active, &:focus {
          border-color: $forms_border_color_revert;
        }
      }

      input, .input, textarea {
        &::placeholder {
          color: $forms_font_color;
          opacity: 1;
        }
        &:active, &:focus {
          &::placeholder {
            opacity: .5;
          }
        }
        &:focus {
          border-bottom-color: $forms_border_color_revert;
        }
      }
    }
  }

  &.form-transparent {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active  {
      -webkit-box-shadow: 0 0 0 1000px $forms_field_background_transparent inset !important;
      -moz-box-shadow: 0 0 0 1000px $forms_field_background_transparent inset !important;
      -webkit-text-fill-color: $forms_field_background_transparent !important;
      -webkit-animation-name: autofill;
      -webkit-animation-fill-mode: both;
    }

    .field {
      &.invalid {
        input, select, textarea, .input {
          &, &:focus {
            color: $forms_color_error;
            border-color: $forms_color_error;
          }
        }

        .label-holder {
          color: $forms_color_error;

          &.label-active {
            color: $forms_font_color;
          }
        }
      }
    }

    .control {
      max-width: 100%;
      box-sizing: border-box;

      @include media_interval(0, $media480) {
        width: 100%; // fix old safari
      }

      input, select, textarea, .input {
        color: $forms_font_color_transparent;
        background-color: $forms_field_background_transparent;
        padding: $forms_field_padding_transparent;
        border: none;
        border-bottom: 1px dashed $forms_border_color_transparent;
        border-radius: 0;
        font-weight: 600;
        width: 150px;

        @include font-size(16px, 19px);
        @include font_decorative;

        &:active, &:focus {
          border-color: $forms_border_color_transparent;
        }
      }

      input, .input, textarea {
        &::placeholder {
          color: $forms_font_color_transparent;
          opacity: 1;
        }
        &:active, &:focus {
          &::placeholder {
            opacity: .5;
          }
        }
        &:focus {
          border-bottom-color: $forms_border_color_transparent;
        }
      }
    }
  }
}
