@import 'mixins';


// Скрытый элемент
.hidden {
  display: none;
}

.title {
  &.title--h3 {
    @include fontsize_h3;
  }
  &.title--h4 {
    @include fontsize_h4;
  }
  &.title--h5 {
    @include fontsize_h5;
  }
  &.title--h6 {
    @include fontsize_h6;
  }
}

// Контентный блок
.block {
  position: relative;
  margin: $distance_desktop 0;

  @include media_interval($media768, $media1024) {
    margin: $distance_tablet 0;
  }

  @include media_interval(0, $media768) {
    margin: $distance_mobile 0;
  }

  &__inner {
    padding: $distance_desktop 0;

    @include media_interval($media768, $media1024) {
      padding: $distance_tablet 0;
    }

    @include media_interval(0, $media768) {
      padding: $distance_mobile 0;
    }
  }
  //
  //& + .page {
  //  padding-top: 0;
  //}
}

#footer-wrapper {
  display: table-row;
  height: 0;
}

#footer-cell {
  display: table-cell;
  position: relative;
  height: 0;
  z-index: 1;
  vertical-align: top;
}