@import 'mixins';

$text_styles_quote_width: 72px;
$text_styles_quote_height: 58px;

$text_styles_quote_right: 60px;
$text_styles_quote_top: 36px;

$text_styles_check_size: 28px;

$text_styles_dark_color: $black;
$text_styles_light_color: $white;

$text_styles_blockquote_background_color: $black;
$text_styles_blockquote_font_color: $white;

$text_styles_blockquote_sprite_position_x: 190px;
$text_styles_blockquote_sprite_position_y: 102px;

$text_styles_checklist_sprite_position_x: 190px;
$text_styles_checklist_sprite_position_y: 74px;

$text_styles_blockquote_light_background_color: $gray;
$text_styles_blockquote_light_font_color: $black;

$text_styles_text_color: $text_styles_dark_color;
$text_styles_link_color: $text_styles_dark_color;

$text_styles_tablet: $media1024;
$text_styles_mobile: $media768;



.text-styles {
  color: $text_styles_text_color;

  @include fontsize_default;
  @include font_default;

  > *:first-child {
    margin-top: 0 !important;
  }

  > *:last-child {
    margin-bottom: 0 !important;
  }

  &:last-child {
    margin-bottom: 0 !important;
  }

  p {
    @include fontsize_default;
    margin-bottom: 9px;
  }

  a[href] {
    color: rgba($text_styles_link_color, .75);

    &:not([class]):hover {
      color: rgba($text_styles_link_color, .85);
    }
  }

  iframe {
    margin-bottom: 30px;
    width: 100%;
    height: 500px;
  }

  h2, h3, h4, h5, h6  {
    color: $text_styles_text_color;
    font-weight: 700;
    text-transform: capitalize;
    margin: 50px 0 30px;
    @include font_decorative;

    @include media_interval(0, $text_styles_mobile) {
      margin: 40px 0 30px;
    }
  }

  h2 {
    @include fontsize_h2;
  }

  h3 {
    @include fontsize_h3;
  }

  h4 {
    @include fontsize_h4;
  }

  h5 {
    @include fontsize_h5;
  }

  h6 {
    @include fontsize_h6;
  }

  ul, ol {
    margin: 20px 0;

    li {
      position: relative;
      margin-bottom: 10px;
      z-index: 1;

      &:last-child {
        margin-bottom: 0;
      }

      p {
        margin: 0;
        padding: 0;
      }
    }

    @include media_interval(0, $text_styles_mobile) {
      margin: 25px 0;
    }
  }

  ul > li {
    padding-left: 1.6em;

    &:before {
      content: '●';
      position: absolute;
      left: 0.6em;
      top: 0;
      transform-origin: 50% 55%;
      //transform: scale(0.6) translateZ(0);
    }
  }

  ul:not(.checklist) > li {
    &:before {
      transform: scale(1) translateZ(0);
    }
  }

  ul ul > li:before {
    content: '—';
    top: 0;
    transform: none;
  }

  ol {
    padding-left: 1.6em;
    list-style: decimal;
  }
  th {
    font-weight: bold;
    border-bottom: 1px solid #000;
    padding: 10px 10px 20px;
  }

  td {
    border-bottom: 1px solid #000;

    padding: 20px 10px 55px;
    box-sizing: border-box;

    p {
      margin-bottom: 0.8em;
    }

    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  th, td {
    @include media_interval(0, $text_styles_mobile) {
      min-width: 245px;
    }
  }

  .page-images, .page-video, .page-files {
    margin: 20px 0;
  }

  .page-images {
    height: 100%;
    position: relative;
    display: block;

    &.single-image img {
      width: 100%;
    }

    @at-root .js & > img:nth-of-type(n+2) {
      display: none;
    }
  }

  .toc {
    margin-bottom: 50px;
    padding: 20px;
    box-sizing: border-box;
    background-color: $gray;
    font-weight: 800;

    @include font_decorative;
    @include font-size(18px, 22px);

    @include media_interval(0, $text_styles_mobile) {
      margin-bottom: 40px;
      @include font-size(16px, 19px);
    }

    .name {
      color: $text_styles_dark_color;
      text-transform: capitalize;
      margin: 0 0 10px;

      @include font-size(22px, 26px);

      @include media_interval(0, $text_styles_mobile) {
        @include font-size(16px, 19px);
      }
    }

    ol {
      margin: 0;
    }

    li, ol {
      padding-left: 4px;
      margin-left: 10px;
    }

    @include media_interval(0, $text_styles_mobile) {
      margin-bottom: 20px;
    }
  }

  .object-description, .item-description {
    display: block;
    margin-top: 5px;
    color: $text_styles_dark_color;
    position: relative;
    height: 100%;

    @include font-size(14px, 19px);
  }

  .object-description {
    &:empty {
      display: none;
    }
  }

  // Видео
  .page-video {
    position: relative;
    text-align: left;

    .fluid-width-video-wrapper {
      display: inline-block;
      vertical-align: top;
      @include backface-visibility(hidden);
    }

    &.instagram {
      max-width: 650px;
      margin-left: auto;
      margin-right: auto;

      iframe {
        width: 100%;
        border: 1px solid #E6E6E6;
        border-radius: 4px;
      }
    }

    iframe {
      margin: 0;
    }

    picture {
      max-width: none;
      width: 100%;
      
      img {
        width: 100%;
      }
    }

    &.lazy {

      .wrapper {
        position: relative;
        z-index: 1;

        & > img {
          width: 100%;
        }

        .play {
          position: absolute;
          width: 80px;
          height: 80px;
          left: 50%;
          top: 50%;
          z-index: 3;
          cursor: pointer;
          opacity: 1;
          transform: translate(-50%, -50%);
          transition: transform 0.5s, opacity 0.6s;
          @include media_interval(0, $media600) {
            width: 50px;
            height: 50px;
          }

          &:hover {
            transform: translate(-50%, -50%) scale(1.2);
          }
        }

        .player {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          z-index: -1;

          &.visible {
            z-index: 5;
          }
        }

        &.loading {
          .play {
            opacity: 0;
          }
        }
      }

      &.youtube {
        cursor: pointer;

        .play {
          width: 52px;
          height: 41px;
          background: no-repeat url(/static/img/yt.png) 0 0;
          background-size: 100%;
        }

        &:hover {
          .play {
            transform: translate(-50%, -50%) scale(1.2);
          }
        }
      }

      &.vimeo {
        cursor: pointer;

        .player {
          z-index: 4;

          iframe {
            width: 100%;
            height: 100%;
          }
        }

        img {
          width: 100%;
        }

        .play {
          width: 65px;
          height: 40px;
          background-size: cover;
          background: no-repeat url(/static/img/vimeo.png) 0 0;
        }

        &:hover {
          .play {
            transform: translate(-50%, -50%) scale(1.2);
          }
        }
      }
    }
  }


  // Файлы
  .page-file {
    margin-bottom: 0.5em;
    &:last-of-type {
      margin-bottom: 0;
    }

    a {
      position: relative;
      display: inline-block;
      max-width: 100%;
      z-index: 1;

      &:before {
        content: '●';
        position: absolute;
        left: 0.8em;
        transform-origin: 50% 55%;
        transform: scale(1);

        @include media_interval(0, $text_styles_mobile) {
          left: 1.2em;
        }
      }

      @include media_interval(0, $text_styles_mobile) {
        text-decoration: underline;
      }
    }

    span {
      display: inline-block;
      padding-left: 36px;
      word-break: break-word;
      vertical-align: middle;
      box-sizing: border-box;
    }
  }

  // Таблицы
  .page-table {
    margin-bottom: 30px;

    & > table {
      margin: 0;
      width: 100%;
      overflow: auto hidden;

      th {
        font-weight: 700;
        color: $text_styles_dark_color;
        @include font_decorative;
      }

      @include media_interval(0, $text_styles_tablet) {
        display: table;
      }
    }

    @include media_interval(0, $text_styles_mobile) {
      overflow: scroll;
    }
  }

  // две колонки
  .columns {
    @include media_interval($media900, 0) {
      display: flex;
      margin: 40px 0 50px;
    }

    .column {
      box-sizing: border-box;

      @include media_interval($media900, 0) {
        min-height: 1em;

        & > *:first-child {
          margin-top: 0;
        }

        > *:last-child {
          margin-bottom: 0;
        }
      }

      @include media_interval(0, $text_styles_mobile) {
        &.column-left > ul {
          margin-bottom: 0;
        }

        &.column-right > ul {
          margin-top: 0;
        }
      }

      @include media_interval($media900, 0) {
        @include flex-columns(2, 120px);
      }
    }

  }

  // Две колонки через класс
  .two-columns {
    @include media_interval($media1200, 0) {
      @include column-count(2);
      @include column-gap(50px);
    }
    @include media_interval($text_styles_mobile, $media1200) {
      @include column-count(2);
      @include column-gap(40px);
    }

    > p {
      margin-bottom: 0;
      padding-bottom: 1em;
    }

    > h2, > h3, > h4 {
      margin-bottom: 0;
      padding-bottom: .5em;
    }

    > ul, > ol {
      margin-bottom: 0;
      padding-bottom: 1.1em;
    }

    > li {
      @include media_interval($text_styles_mobile, 0) {
        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    > * {
      @include column-break-inside(avoid);

      &:last-child {
        @include media_interval($text_styles_mobile, 0) {
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
    }

    &:last-child > *:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
    }
  }

  .no-margin {
    margin-bottom: 0;

    & + * {
      margin-top: 0;
    }
  }

  .checklist {
    li {
      margin-top: 10px;
      padding-left: 36px;

      &:before {
        content: '';
        position: absolute;
        background: $sprite_url no-repeat;
        background-size: rel-background-size($text_styles_check_size, $text_styles_check_size);
        width: $text_styles_check_size;
        height: $text_styles_check_size;
        background-position: rel-background-position($text_styles_check_size, $text_styles_check_size, -$text_styles_checklist_sprite_position_x, -$text_styles_checklist_sprite_position_y);
        top: 0;
        left: 0;
      }

      @include media_interval(0, $text_styles_mobile) {
        padding-left: 33px;
      }
    }
  }

  blockquote {
    position: relative;
    padding: 36px 180px 55px 60px;
    margin: 20px 0;
    background-color: $text_styles_blockquote_background_color;
    color: $text_styles_blockquote_font_color;
    box-sizing: border-box;

    p {
      strong {
        margin-bottom: 70px;

        @include media_interval(0, $text_styles_mobile) {
          margin-bottom: 15px;
        }
      }

      &:last-of-type {
        margin-bottom: 0;

        strong {
          margin-bottom: 0;
          padding-bottom: 0;
        }
      }
    }

    strong {

      display: block;
      font-weight: 700;
      @include font_decorative;
      @include font-size(30px, 38px);

      @include media_interval(0, $text_styles_mobile) {
        @include font-size(16px, 19px);
      }
    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      right: $text_styles_quote_right;
      top: $text_styles_quote_top;
      width: $text_styles_quote_width;
      height: $text_styles_quote_height;
      background: $sprite_url no-repeat;
      background-size: rel-background-size($text_styles_quote_width, $text_styles_quote_height);
      background-position: rel-background-position($text_styles_quote_width, $text_styles_quote_height, -$text_styles_blockquote_sprite_position_x, -$text_styles_blockquote_sprite_position_y);

      @include media_interval(0, $text_styles_mobile) {

      }
    }

    @include media_interval(0, $text_styles_mobile) {
      padding: 20px;

      strong {
        padding-bottom: 20px;

        @include font-size(16px, 19px);
      }
    }

    @include media_interval(0, $text_styles_mobile) {
      padding: 20px 80px 20px 20px;

      &:after {
        right: 20px;
        top: 20px;
        width: $text_styles_quote_width * 0.8;
        height: $text_styles_quote_height * 0.8;
      }

      strong {
        @include font-size(14px, 22px);
      }
    }

    &.blockquote--light {
      background-color: $text_styles_blockquote_light_background_color;
      padding: 47px 65px;
      color: $text_styles_blockquote_light_font_color;
    }
  }

  .swiper-ui {
    margin-top: 20px;
  }

  .slider-controls {
    position: relative;
    margin-top: 20px;
    order: 1;
    display: flex;
    justify-content: space-between;
  }

  .swiper-button {
    height: 100%;
    width: 58px;
    background-color: rgba(0, 0, 0, 0.3);

    &:before {
      height: 15px;
      width: 38px;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &.swiper-button-prev {
      &:before {
        transform: translate(-50%, -50%) scaleX(-1);
      }
    }

    &:hover {
      opacity: 1 !important;
      background-color: rgba(0, 0, 0, 0.6);
    }

    &, &:hover {
      transition: background-color $animation_time ease;
    }
  }

  .swiper-navigation {
    //padding: 0 20px;
    padding: 0;

    @include media_interval(0, $text_styles_mobile) {
      display: none;
    }
  }

  .swiper-container {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @include media_interval(0, $text_styles_mobile) {
      margin-left: 0;
    }
  }

  .swiper-slide {
    margin: auto;
    user-select: none;

    img {
      min-width: 100%;
    }
  }

  .image-controls {
    position: relative;
  }

  .image-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    img {
      min-width: auto;
    }

    @include media_interval(0, $text_styles_tablet) {
      overflow: hidden;
      max-height: 445px;
    }
  }

  .controls-container {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;

    .swiper-navigation {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }
  }

  table {
    width: 100%;
    display: block;
    overflow: scroll;
  }

  sup {
    vertical-align: super;
  }

  sub {
    vertical-align: bottom;
  }

  sub, sup {
    font-size: 8px;
  }
}
