@import "mixins";

//=======================
// Точки для пагинации
//=======================
$swiper_progressbar_dark: $primary_color;
$swiper_progressbar_light: $secondary_color;
$swiper_progressbar_height: 1px;

.swiper-pagination-bullets {
  //height: 12px;
  position: relative;
  white-space: nowrap;
  //display: flex;
  //justify-content: center;
  //left: 50%;
  //transform: translateX(-50%);

  .swiper-pagination-bullet {
    flex: 0 0 8px;
    margin: 0 3px;
    transform: scale(0.8);
    width: 8px;
    height: 8px;
    background-color: $primary_color;
    transition: left .15s ease, transform .15s ease, opacity .15s ease;

    &:hover {
      transition: opacity .15s ease;
    }

    &-active {
      transform: scale(1);
      cursor: default;
    }

    &:not(&-active) {
      &:hover {
        opacity: .6;
      }
    }
  }

  &--color-light {
    background-color: rgba($swiper_progressbar_light, .2);

    .swiper-pagination-progressbar-fill {
      background-color: $swiper_progressbar_light;
    }
  }

  &--color-dark {
    background-color: rgba($swiper_progressbar_dark, .2);

    .swiper-pagination-progressbar-fill {
      background-color: $swiper_progressbar_dark;
    }
  }
}
