@import "mixins";

//=======================
// Навигация слайдера
//=======================
$swiper_navigation_tablet: $media1024;
$swiper_navigation_mobile: $media768;

$swiper_navigation_arrow_sprite_width: 38px;
$swiper_navigation_arrow_sprite_height: 15px;
$swiper_navigation_arrow_padding: 5px;

$swiper_navigation_arrow_width: $swiper_navigation_arrow_sprite_width + $swiper_navigation_arrow_padding * 2;
$swiper_navigation_arrow_height: $swiper_navigation_arrow_sprite_height + $swiper_navigation_arrow_padding * 2;

$swiper_navigation_arrow_light_x: 0px;
$swiper_navigation_arrow_light_y: 226px;

$swiper_navigation_arrow_dark_x: 76px;
$swiper_navigation_arrow_dark_y: 226px;

//$swiper_navigation_arrows_padding_right: 30px;
//
//$swiper_navigation_arrows_padding_right_tablet: 30px;
//
//$swiper_navigation_arrows_padding_right_mobile: 20px;

$swiper_navigation_arrows_padding_space: (
                ($swiper_navigation_tablet, 0): 30px - $swiper_navigation_arrow_padding,
                ($swiper_navigation_mobile, $swiper_navigation_tablet): 20px - $swiper_navigation_arrow_padding,
                (0, $swiper_navigation_mobile): 20px - $swiper_navigation_arrow_padding,
);

$swiper_navigation_arrows_padding_right: (
                ($swiper_navigation_tablet, 0): 20px - $swiper_navigation_arrow_padding * 2,
                ($swiper_navigation_mobile, $swiper_navigation_tablet): 10px - $swiper_navigation_arrow_padding * 2,
                (0, $swiper_navigation_mobile): 10px - $swiper_navigation_arrow_padding * 2,
);


.swiper-navigation {
  display: flex;
  align-items: center;
  //margin: -10px;
  box-sizing: border-box;
  flex: 1 0 auto;
  @include media_map(padding-right, $swiper_navigation_arrows_padding_space);

  .swiper-button-next,
  .swiper-button-prev {
    position: relative;
    margin-top: 0;
    top: 0;
    left: 0;
    right: 0;
    width: $swiper_navigation_arrow_width;
    height: $swiper_navigation_arrow_height;
    pointer-events: auto;
    background-image: none;
    //padding: 10px;
    box-sizing: border-box;
    display: flex;
    @include media_map(margin-right, $swiper_navigation_arrows_padding_right);

    &:before {
      content: '';
      position: absolute;
      width: $swiper_navigation_arrow_sprite_width;
      height: $swiper_navigation_arrow_sprite_height;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: $sprite_url no-repeat;
      background-size: rel-background-size($swiper_navigation_arrow_sprite_width, $swiper_navigation_arrow_sprite_height);
    }

    &:last-child {
      margin-right: 0;
    }

    @media(hover: hover) and (pointer: fine) {
      &:not(.swiper-button-disabled):hover {
        opacity: .5;
      }
    }

      &:not(.swiper-button-disabled):active {
        opacity: 1;
      }

    &, &:hover {
      transition: opacity .15s ease;
    }
  }

  .swiper-button-prev {
    &:before {
      transform: translate(-50%, -50%) scaleX(-1);
    }
  }

  &--color-light {
    .swiper-button-next,
    .swiper-button-prev {
      &:before {
        background-position: rel-background-position(
                        $swiper_navigation_arrow_sprite_width,
                        $swiper_navigation_arrow_sprite_height,
                        -$swiper_navigation_arrow_light_x,
                        -$swiper_navigation_arrow_light_y
        );
      }
    }
  }

  &--color-dark {
    .swiper-button-next,
    .swiper-button-prev {
      &:before {
        background-position: rel-background-position(
                        $swiper_navigation_arrow_sprite_width,
                        $swiper_navigation_arrow_sprite_height,
                        -$swiper_navigation_arrow_dark_x,
                        -$swiper_navigation_arrow_dark_y
        );
      }
    }
  }


  .swiper-button-lock {
    display: none !important;
  }
}