@import "mixins";

//=======================
// Полоса прогресса
//=======================
$swiper_progressbar_dark: $primary_color;
$swiper_progressbar_light: $secondary_color;
$swiper_progressbar_height: 1px;

.swiper-pagination-progressbar {
  height: $swiper_progressbar_height;
  width: 100% !important;
  border-radius: 3px;
  margin: auto;
  flex: 0 1 auto;
  position: relative;

  span {
    z-index: 1;
    position: absolute;
    width: 100%;
    left: 0;
    height: $swiper_progressbar_height;
  }

  &--color-light {
    background-color: rgba($swiper_progressbar_light, .2);

    .swiper-pagination-progressbar-fill {
      background-color: $swiper_progressbar_light;
    }
  }

  &--color-dark {
    background-color: rgba($swiper_progressbar_dark, .2);

    .swiper-pagination-progressbar-fill {
      background-color: $swiper_progressbar_dark;
    }
  }
}
