@import "mixins";

@import "progressbar";
@import "bullets";
@import "navigation";

//=======================
// Бургер
//=======================
$swiper_ui_tablet: $media1024;
$swiper_ui_mobile: $media768;

.swiper-ui {
  position: relative;
  width: 100%;
  z-index: 1;
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  @include media_interval($swiper_ui_mobile, $swiper_ui_tablet) {
    margin-top: 60px;
  }
}