{% load i18n %}

{% if entity %}
  <table class="table admin-table">
    <thead>
      <tr>
        <th>{% trans 'Image' %}</th>
        <th>{% trans 'Product' %}</th>
        <th>{% trans 'Price' %}</th>
        <th>{% trans 'Quantity' %}</th>
        <th>{% trans 'Total Price' %}</th>
      </tr>
    </thead>

    <tbody>
      {% for order_product in entity.records.all %}
        <tr>
          <td style="text-align: center">
            <img src="{{ order_product.product.photo.admin.url }}" alt="{{ order_product.product.title }}">
          </td>
          <td>
            <a href="{% url 'admin:shop_shopproduct_change' order_product.product.pk %}"
               target="_blank">{{ order_product.title }}</a>
          </td>
          <td style="font-size: 14px; font-weight: bold; white-space: nowrap">
            {{ order_product.order_price.alternative }}
          </td>
          <td style="font-size: 14px; font-weight: bold;">
            {{ order_product.count }}
          </td>
          <td style="font-size: 14px; font-weight: bold; white-space: nowrap">
            {{ order_product.total_cost.alternative }}
          </td>
        </tr>
      {% endfor %}
    </tbody>

    <tfoot>
      <tr>
        <td colspan="5">
          {% trans 'Products price' %}
        </td>
        <td style="font-size: 18px; font-weight: bold; color: orange; white-space: nowrap">
          {{ entity.calculate_products_cost.alternative }}
        </td>
      </tr>
      <tr>
        <td colspan="5">
          {% trans "Products price with coupon's discount (if used)" %}
        </td>
        <td style="font-size: 15px; font-weight: bold; color: green; white-space: nowrap">
          {{ entity.subtotal.alternative }}
        </td>
      </tr>
      <tr>
        <td colspan="5">
          {% trans 'Tax' %}
        </td>
        <td style="font-size: 15px; font-weight: bold; color: grey; white-space: nowrap">
          {{ entity.tax.alternative }}
        </td>
      </tr>
      <tr>
        <td colspan="5">
          {% trans 'Fees' %}
        </td>
        <td style="font-size: 15px; font-weight: bold; color: grey; white-space: nowrap">
          {{ entity.fees.alternative }}
        </td>
      </tr>
      <tr>
        <td colspan="5">
          {% trans 'Shipping' %}
        </td>
        <td style="font-size: 15px; font-weight: bold; color: grey; white-space: nowrap">
          {{ entity.shipping.alternative }}
        </td>
      </tr>
      <tr>
        <td colspan="5">
          {% trans 'Total' %}
        </td>
        <td style="font-size: 18px; font-weight: bold; color: green; white-space: nowrap">
          {{ entity.total_cost.alternative }}
        </td>
      </tr>
    </tfoot>
  </table>
{% else %}
  <div class="alert alert-info">{% trans 'You should create instance first' %}</div>
{% endif %}
