@import "mixins";

$album_preview_tablet: $media1024;
$album_preview_mobile: $media768;
$album_gallery_distance: 10px;

$album_preview_height: (
                ($album_preview_tablet, 0): 240px,
                ($album_preview_mobile, $album_preview_tablet): 250px,
                (0, $album_preview_mobile): 160px,
);

.gallery {
  .preview {
    box-sizing: border-box;
    user-select: none;
    width: 100%;
    position: relative;
    display: block;
    overflow: hidden;
    cursor: pointer;
    margin: $album_gallery_distance 0;

    @include media_map(height, $album_preview_height);

    img {
      width: auto;
      @include centrizeImage();
    }

    &:hover {
      img {
        transform: translate(-50%, -50%) scale(1.2);
      }
    }

    &, &:hover {
      img {
        transition: transform $animation_time ease;
      }
    }
  }
}
