<div class="worker">
    <div class="worker__photo">
        <picture>
            {% if item.photo.desktop.url_avif %}
                <source srcset="{{ item.photo.desktop.url_avif }}" type="image/avif" media="(min-width: 1025px)">
            {% endif %}
            <source srcset="{{ item.photo.desktop.url_webp }}" type="image/webp" media="(min-width: 1025px)">
            <source srcset="{{ item.photo.desktop.url }}" type="image/jpeg" media="(min-width: 1025px)">
            {% if item.photo.mobile.url_avif %}
                <source srcset="{{ item.photo.mobile.url_avif }}" type="image/avif" media="(max-width: 1024px)">
            {% endif %}
            <source srcset="{{ item.photo.mobile.url_webp }}" type="image/webp" media="(max-width: 1024px)">
            <source srcset="{{ item.photo.mobile.url }}" type="image/jpeg" media="(max-width: 1024px)">
            <img src="{{ item.photo.mobile.url }}"
                 alt="{{ item.name }}"
                 width="{{ item.photo.mobile.target_width }}"
                 height="{{ item.photo.mobile.target_height }}"
                 decoding="async"
                 loading="lazy">
        </picture>
    </div>

    <div class="worker__information">
        <div class="worker__name title title--h5">{{ item.name }}</div>
        {% if item.position %}
            <div class="worker__position">{{ item.position }}</div>
        {% endif %}
        {% if item.description %}
            <div class="worker__description">{{ item.description|linebreaksbr }}</div>
        {% endif %}
    </div>

    {% if item.social_links.all() %}
        <div class="worker__socials">
            <ul class="social-links social-links--dark">
                {% for link in item.social_links.all() %}
                    <li class="social-link {{ link.provider }}">
                        <a href="{{ link.url }}"
                           title="Look at {{ link.get_provider_display() }}"
                           aria-label="Look at {{ link.get_provider_display() }}"
                           rel="nofollow noopener" target="_blank"></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

</div>