<h1>
    {% trans %}Hello. You have just successfully placed an order on the site "https://{{ domain }}".{% endtrans %}
</h1>
<p>
    {% trans %}Contents of your order:{% endtrans %}
</p>


<table border="1" cellpadding="10" cellspacing="0">
    <thead>
    <tr bgcolor="#EAEAEA">
        <th>{{ _('Product') }}</th>
        <th>{{ _('Price') }}</th>
        <th>{{ _('Quantity') }}</th>
        <th>{{ _('Total Price') }}</th>
    </tr>
    </thead>

    {% for record in order.records.all() %}
        <tr>
            <td>{{ record.title }}</td>
            <td>{{ record.order_price.alternative }}</td>
            <td>{{ record.count }}</td>
            <td>{{ record.total_cost.alternative }}</td>
        </tr>
    {% endfor %}

    <tfoot>
    <tr>
        <td colspan="3" align="right" bgcolor="#EAEAEA">{{ _('Products price:') }}</td>
        <th>{{ order.calculate_products_cost.alternative }}</th>
    </tr>

    <tr>
        <td colspan="3" align="right" bgcolor="#EAEAEA"><b>{{ _('Total (with coupons, tax, sheeping and fees:)') }}</b></td>
        <th><h3>{{ order.total_cost.alternative }}</h3></th>
    </tr>
    </tfoot>
</table>

{% if order.link %}
    <p>
        {{ _('Receipt of payment:') }} <a href="{{ order.link }}">{{ order.link }}</a>
    </p>
{% endif %}