<div class="service__preview">
    <picture>
        {% if service.preview.normal.url_avif %}
            <source srcset="{{ service.preview.normal.url_avif }}" type="image/avif">
        {% endif %}
        <source srcset="{{ service.preview.normal.url_webp }}" type="image/webp">
        <source srcset="{{ service.preview.normal.url }}" type="image/jpeg">
        {% if service.preview.tablet.url_avif %}
            <source srcset="{{ service.preview.tablet.url_avif }}" type="image/avif">
        {% endif %}
        <source srcset="{{ service.preview.tablet.url_webp }}" type="image/webp">
        <source srcset="{{ service.preview.tablet.url }}" type="image/jpeg">
        {% if service.preview.mobile.url_avif %}
            <source srcset="{{ service.preview.mobile.url_avif }}" type="image/avif">
        {% endif %}
        <source srcset="{{ service.preview.mobile.url_webp }}" type="image/webp">
        <source srcset="{{ service.preview.mobile.url }}" type="image/jpeg">
        <img src="{{ service.preview.mobile.url }}"
             alt="{{ service.alt_preview }}"
             decoding="async"
             loading="lazy"
             width="{{ service.preview.mobile.target_width }}"
             height="{{ service.preview.mobile.target_height }}">
    </picture>
</div>

<div class="service__information">
    <div class="service__title title title--h3">{{ service.title }}</div>

    {% if service.note %}
        <div class="service__note">{{ service.note|linebreaksbr }}</div>
    {% endif %}
</div>