@import "mixins";


//=======================
// Бургер
//=======================
$menu_burger_color: $black;
$menu_burger_color_light: $white;
$menu_burger_width: 20px;
$menu_burger_line_height: 2px;
$menu_burger_line_space: 4px;


.burger {
  position: relative;
  //overflow: hidden;
  display: block;
  width: $menu_burger_width;
  cursor: pointer;

  span {
    position: relative;
    width: 100%;
    transition: transform .15s ease, opacity .15s ease;

    &:nth-of-type(odd) {
      background-color: $menu_burger_color;
      box-sizing: border-box;
      padding-right: 100%;
      height: $menu_burger_line_height;
      display: block;

      @at-root body.dark & {
        background-color: $menu_burger_color_light;
      }
    }

    &:nth-of-type(even) {
      background-color: $menu_burger_color_light;
      box-sizing: border-box;
      padding-right: 100%;
      height: $menu_burger_line_space;
      display: block;

      @at-root body.dark & {
        background-color: $menu_burger_color;
      }
    }

    &:nth-of-type(3) {
      background-color: rgba(0, 0, 0, 0) !important;
      box-sizing: border-box;
      padding-right: 100%;
      height: $menu_burger_line_height;
      display: block;
      position: relative;
      z-index: 1;

      &:before, &:after {
        content: '';
        position: absolute;
        background-color: $menu_burger_color;
        width: 100%;
        height: 100%;
        transform-origin: center center;
        transition: transform .15s ease;
      }

      @at-root body.dark &:before {
        background-color: $menu_burger_color_light;
      }

      @at-root body.dark &:after {
        background-color: $menu_burger_color_light;
      }
    }
  }

  @at-root .mobile-box-opened & {
    span {
      &:first-of-type {
        transform: translateY($menu_burger_line_space + $menu_burger_line_height) scale(0);
      }
      &:last-of-type {
        transform: translateY(-($menu_burger_line_space + $menu_burger_line_height)) scale(0);
      }
      &:first-of-type, &:last-of-type {
        opacity: .5;
      }

      &:nth-of-type(3) {
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
    }
  }

  &:hover {
    opacity: .75;
  }

  &, &:hover {
    transition: opacity .15s ease;
  }

  &--light {
    span {

      &:nth-of-type(odd) {
        background-color: $menu_burger_color_light !important;
      }

      &:nth-of-type(even) {
        background-color: $menu_burger_color !important;
      }

      &:nth-of-type(3) {
        background-color: rgba(0, 0, 0, 0) !important;

        &:before, &:after {
          background-color: $menu_burger_color_light !important;
        }
      }
    }
  }

  &--dark {
    span {

      &:nth-of-type(odd) {
        background-color: $menu_burger_color !important;
      }

      &:nth-of-type(even) {
        background-color: $menu_burger_color_light !important;
      }

      &:nth-of-type(3) {
        background-color: rgba(0, 0, 0, 0) !important;

        &:before, &:after {
          background-color: $menu_burger_color !important;
        }
      }
    }
  }
}