@import "mixins";


//=======================
// Кнопки
//=======================
$button_font_size: 16px;
$button_line_height: 19px;
$button_small_font_size: 14px;
$button_small_line_height: 20px;
$button_animate_time: $animation_time;
$button_border_radius: 5px;

$button_paddings: (
                (375px, 0): 20px 30px,
                (0, 375px): 20px 15px,
);

$button_small_paddings: (
                (375px, 0): 10px 15px,
                (0, 375px): 10px 15px,
);


/* CTA */
$button_cta_color: #fff;
$button_cta_background: #000;
$button_cta_border: rgba(0, 0, 0, 1);
$button_cta_hover_color: #000;
$button_cta_hover_background: #fff;
$button_cta_hover_border: rgba(0, 0, 0, 1);
$button_cta_active_color: #fff;
$button_cta_active_background: #353535;
$button_cta_hover_border: rgba(#353535, 1);

/* Primary */

$button_primary_color: #000;
$button_primary_background: #fff;
$button_primary_border: rgba(0, 0, 0, 0);
$button_primary_hover_color: #fff;
$button_primary_hover_background: rgba(0, 0, 0, 0);
$button_primary_hover_border: rgba(255, 255, 255, 1);
$button_primary_active_color: #000;
$button_primary_active_background: #E0E0E0;
$button_primary_active_border: rgba(0, 0, 0, 0);

/* Secondary */
$button_secondary_color: #000;
$button_secondary_background: rgba(0, 0, 0, 0);
$button_secondary_border: rgba(0, 0, 0, 1);
$button_secondary_hover_color: #fff;
$button_secondary_hover_background: rgba(0, 0, 0, 1);
$button_secondary_hover_border: rgba(0, 0, 0, 1);
$button_secondary_active_color: #fff;
$button_secondary_active_background: rgba(35, 35, 35, 1);
$button_secondary_active_border: rgba(35, 35, 35, 1);

/* Secondary Light */
$button_secondary_light_color: #fff;
$button_secondary_light_background: rgba(0, 0, 0, 0);
$button_secondary_light_border: rgba(255, 255, 255 , 1);
$button_secondary_light_hover_color: #000;
$button_secondary_light_hover_background: rgba(239, 239, 239, 1);
$button_secondary_light_hover_border: rgba(#fff, 1);
$button_secondary_light_active_color: #000;
$button_secondary_light_active_background: rgba(224, 224, 224, 1);
$button_secondary_light_active_border: rgba(#e0e0e0, 1);


.btn {
  display: inline-block;
  position: relative;
  overflow: hidden;
  max-width: 100%;
  z-index: 1;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  user-select: none;

  &--cta {
    color: $button_cta_color;
    background-color: $button_cta_background;
    border: 1px solid $button_secondary_border;

    &:not(:disabled):hover {
      color: $button_cta_hover_color;
      background-color: $button_cta_hover_background;
    }

    &:not(:disabled):active {
      color: $button_cta_active_color;
      background-color: $button_cta_active_background;
    }

    &:disabled {
      background-color: rgba($button_cta_background, .75);
      border: 1px solid rgba($button_cta_background, .75);
    }
  }

  &--primary {
    color: $button_primary_color;
    background-color: $button_primary_background;
    border: 1px solid $button_primary_border;

    &:not(:disabled):hover {
      color: $button_primary_hover_color;
      background-color: $button_primary_hover_background;
      border-color: $button_primary_hover_border;
    }

    &:not(:disabled):active {
      color: $button_primary_active_color;
      background-color: $button_primary_active_background;
      border-color: $button_primary_active_border;
    }
  }

  &--secondary {
    color: $button_secondary_color;
    background-color: $button_secondary_background;
    border: 1px solid $button_secondary_border;

    &:not(:disabled):hover {
      color: $button_secondary_hover_color;
      background-color: $button_secondary_hover_background;
      border-color: $button_secondary_hover_border;
    }

    &:not(:disabled):active {
      color: $button_secondary_active_color;
      background-color: $button_secondary_active_background;
      border-color: $button_secondary_active_border;
    }
  }

  &--secondary-light {
    color: $button_secondary_light_color;
    background-color: $button_secondary_light_background;
    border: 1px solid $button_secondary_light_border;

    &:not(:disabled):hover {
      color: $button_secondary_light_hover_color;
      background-color: $button_secondary_light_hover_background;
      border-color: $button_secondary_light_hover_border;
    }

    &:not(:disabled):active {
      color: $button_secondary_light_active_color;
      background-color: $button_secondary_light_active_background;
      border-color: $button_secondary_light_active_border;
    }
  }

  &--animated {
    &, &:hover, &:active {
      transition:
              background-color $button_animate_time ease,
              color $button_animate_time ease,
              border-color $button_animate_time ease;
    }
  }

  &--arrow {
    &:after {
      content: '';
      border: solid $primary_color;
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(-45deg);
    }
  }

  &--default {
    @include media_map(padding, $button_paddings);
    @include font-size($button_font_size, $button_line_height);
  }

  &--small {
    @include media_map(padding, $button_small_paddings);
    @include font-size($button_small_font_size, $button_small_line_height);
  }

  &--bordered {
    border-radius: $button_border_radius;
  }

  &--font-bold {
    font-weight: 700;
  }

  &:disabled {
    cursor: default;
  }
}