@import "mixins";
@import "parts/gallery/preview";


//=======================
// Блок галереи
//=======================

$album_gallery_distance: 10px;


.page--album {
  .page {
    margin-top: 50px;
  }

  .gallery {
    display: block;
    overflow: hidden;
    margin: -$album_gallery_distance 0;
  }

  .preview {
    margin: $album_gallery_distance 0;
  }
}