@import "mixins";


/* Логотип */
$logo_animate_time: $animation_time;

// Размеры в спрайте
$logo_sprite_width: 109px;
$logo_sprite_height: 37px;

// Позиция в спрайте
$logo_sprite_position_x: 48px;
$logo_sprite_position_y: 0px;

$logo_sprite_position_x_light: 48px;
$logo_sprite_position_y_light: 37px;

// Размер по макету
$logo_width: 101px;
$logo_height: 29px;
$logo_width_tablet: 74px;
$logo_width_mobile: 74px;


.logo {
  display: inline-block;
  width: $logo_width;
  vertical-align: middle;

  @include media_interval($media_mobile, $media_tablet) {
    width: $logo_width_tablet;
  }

  @include media_interval(0, $media_mobile) {
    width: $logo_width_mobile;
  }

  &:before {
    content: '';
    display: block;
    padding-bottom: #{100 * $logo_sprite_height/$logo_sprite_width + "%"};
    background-image: $sprite_url;
    background-repeat: no-repeat;
    background-position: rel-background-position($logo_width, $logo_height, -$logo_sprite_position_x, -$logo_sprite_position_y);
    background-size: rel-background-size($logo_sprite_width, $logo_sprite_height);

    @at-root body.dark & {
      background-position: rel-background-position($logo_width, $logo_height, -$logo_sprite_position_x_light, -$logo_sprite_position_y_light);
    }
  }

  &, &:hover {
    transition: opacity $logo_animate_time ease;
  }

  &--dark {
    &:before {
      background-position: rel-background-position($logo_width, $logo_height, -$logo_sprite_position_x, -$logo_sprite_position_y) !important;
    }
  }

  &--light {
    &:before {
      background-position: rel-background-position($logo_width, $logo_height, -$logo_sprite_position_x_light, -$logo_sprite_position_y_light) !important;
    }
  }
}

a.logo:hover {
  opacity: 0.75;
}