@import "mixins";


/* Мобильный контейнер */
$mobile_box_arrow_color: $primary_color;
$mobile_box_animate_time: $animation_time;
$mobile_box_color: #000;
$mobile_box_background: $secondary_color;
$mobile_box_side: right;
$mobile_box_compact_height: 600px;


.mobile-box {
    position: fixed;
    top: 0;
    background-color: $mobile_box_background;
    width: 100%;
    z-index: 99;
    color: $mobile_box_color;
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    //height: calc(100vh - #{var(--header-height, 0)});
    //margin-top: var(--header-height, 0);

    @include mobile_box_animation($mobile_box_side);

    header {
        position: relative;
        flex: 0 0 auto;
    }

    &__container {
        flex: 0 1 auto;
        /* height: 100%; */
        overflow: hidden;

        .flex {
            flex-direction: column;
            justify-content: space-between;
        }
    }

    .flex {
        display: flex;
        height: 100%;

        &__row {

        }

        &__row--menu {
            margin-top: 30px;
            /* max-height: var(--mobile-box-menu-height); */
            flex: 0 1 auto;
            position: relative;
            display: flex;
            flex-direction: column;
            min-height: 0;

            .arrow {
                position: absolute;
                width: 100%;
                height: 18px;
                flex: 1 1 auto;
                margin-bottom: -18px;

                //&:hover {
                //    opacity: .5;
                //}
                //
                //&, &:hover {
                //    transition: opacity $mobile_box_animate_time ease;
                //}

                &:after {
                    content: '';
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, 0);
                    border: 8px solid transparent;
                    border-top: 10px solid $mobile_box_arrow_color;
                    bottom: -5px;
                }
            }

            .arrow--top {
                margin-bottom: auto;
                margin-top: -18px;

                &:after {
                    top: 5px;
                    bottom: auto;
                    transform: translate(-50%, -50%) scaleY(-1);
                }
            }

            &.arrow--bottom {

            }
        }

        &__row--contact {
            flex: 0 1 auto;
            margin: 80px 0;

            @media all and (max-height: $mobile_box_compact_height) {
                margin: 40px 0;
            }
        }

        .scrollable {
            overflow: auto;
            height: 100%;
            position: relative;
            flex: 0 1 auto;
            padding-bottom: 60px;
        }

        //@media all and (max-height: $mobile_box_compact_height) {
        //    &__row--menu, &__row--contact {
        //        margin-top: 40px;
        //    }
        //}
    }

    .social-links {
        margin-top: 32px;
        width: 200px;
        max-width: 100%;
    }

    @at-root .mobile-box-opened & {
        right: 0;
    }
}