@import "mixins";


/* Телефон */
$phone_animate_time: $animation_time;
$phone_color: $black;
$phone_color_light: $white;

$phone_font_size: (
                ($media_mobile, 0): 22px,
                (0, $media_mobile): 16px,
);
$phone_line_height: (
                ($media_mobile, 0): 16px,
                (0, $media_mobile): 20px,
);
$phone_weight: 800;
$phone_icon_right: 5px;
$phone_icon_right_mobile: 5px;

// Размеры в спрайте
$phone_sprite_width: 26px;
$phone_sprite_height: 26px;

// Позиция в спрайте
$phone_sprite_position_x: 216px;
$phone_sprite_position_y: 218px;
$phone_sprite_position_x_light: 190px;
$phone_sprite_position_y_light: 218px;


.phone {
  color: $phone_color;
  font-weight: $phone_weight;
  white-space: nowrap;

  @include font_decorative;
  @include media_map(font-size, $phone_font_size);
  @include media_map(line-height, $phone_line_height);

  a {
    position: relative;
    display: inline-block;

    &:hover {
      opacity: .75;
    }
    &, &:hover {
      transition: opacity $phone_animate_time ease;
    }
  }

  &--icon {
    a {
      &:before {
        content: '';
        position: absolute;
        box-sizing: border-box;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: $phone_sprite_width;
        height: $phone_sprite_height;
        background: $sprite_url no-repeat -#{$phone_sprite_position_x} -#{$phone_sprite_position_y};
        background-size: rel-background-size($phone_sprite_width, $phone_sprite_height);
      }

      @at-root .dark &:before {
        background: $sprite_url no-repeat -#{$phone_sprite_position_x_light} -#{$phone_sprite_position_y_light};
      }

      @at-root .dark .mobile-box &:before {
        background: $sprite_url no-repeat -#{$phone_sprite_position_x} -#{$phone_sprite_position_y};
      }

      span {
        margin-left: calc(#{$phone_sprite_width} + #{$phone_icon_right});

        @include media_interval(0, $media_tablet) {
          margin-left: calc(#{$phone_sprite_width} + #{$phone_icon_right_mobile});
        }
      }
    }
  }
}