@import "mixins";


//=======================
// Капча
//=======================
$recaptcha_tablet: $media1024;
$recaptcha_mobile: $media768;

$recaptcha_animation_time: $animation_time;

$recaptcha_color: #fff;
$recaptcha_opacity: .5;
$menu_burger_line_height: 2px;
$menu_burger_line_space: 4px;

$recaptcha_font_size: (
                ($recaptcha_tablet, 0): 14px,
                ($recaptcha_mobile, $recaptcha_tablet): 16px,
                (0, $recaptcha_mobile): 14px,
);

$recaptcha_line_height: (
                ($recaptcha_tablet, 0): 20px,
                ($recaptcha_mobile, $recaptcha_tablet): 25px,
                (0, $recaptcha_mobile): 22px,
);


.recaptcha {
  color: $recaptcha_color;
  opacity: .5;

  @include media_map(font-size, $recaptcha_font_size);
  @include media_map(line-height, $recaptcha_line_height);

  a {
    text-decoration: underline;

    &:hover {
      text-decoration-color: rgba($recaptcha_color, 0);
      -webkit-text-decoration-color: rgba($recaptcha_color, 0);
      -moz-text-decoration-color: rgba($recaptcha_color, 0);
    }

    &, &:hover {
      transition: text-decoration-color $recaptcha_animation_time ease;
    }
  }
}

.grecaptcha-badge {
  display: none;
}