<form action="{{ ajax_url('contacts.message') }}" method="post" id="fm_{{ id }}_{{ form.custom_id }}" class="form--contact" novalidate>
    <div class="fields">
        {% render_form form %}
    </div>
    <div class="flex">
        <div class="btn-wrapper">
            {% with caption=btn_caption, view='button', type='submit', classes="btn--default btn--animated btn--bordered btn--primary btn--font-bold contact-goal" %}
                {% include 'components/button.html' %}
            {% endwith %}
        </div>
        {% with suffix=form.custom_id %}
            {% include 'components/recaptcha.html' %}
        {% endwith %}
    </div>
</form>