{% if coords %}
    <div class="map">
        <div class="google-map" data-coords="{{ coords }}">
            <div class="google-map__map map-section"></div>
        </div>
        <div class="btn-wrapper">
            {% with caption=_('Get Direction'), view='link', external=True, url=map_url, classes='btn--default btn--animated btn--bordered btn--secondary-light btn--font-bold' %}
                {% include 'components/button.html' %}
            {% endwith %}
        </div>
        {##}
        {#    <div class="contacts-map-information">#}
        {#        <div class="contacts-map-information__wrapper">#}
        {##}
        {#            <div class="title contacts-map-information__title">{{ map_title }}</div>#}
        {#            <span>#}
        {#            {% if CONTACTS_CONFIG.phone %}#}
        {#                <a href="tel:{{ CONTACTS_CONFIG.phone|phone }}" class="contacts-map-information__phone link link--blue link--underline-dashed">{{ CONTACTS_CONFIG.phone }}</a>#}
        {#            {% endif %}#}
        {#        </span>#}
        {#        </div>#}
        {#    </div>#}
    </div>
{% endif %}