{% extends 'form_helper/field.html' %}

{% block field %}
  <div class="control">
    <ul>
      {% for value, title in field.field.choices %}
        {% with selected = field.value() and value|string in field.value()|map('string') %}
          <li class="{% if selected %}checked{% endif %}">
            <input type="checkbox"
                   id="{% if value %}{{ field.label.lower() }}-{{ value }}{% else %}{{ field.id_for_label }}-{{ loop.index }}{% endif %}"
                   name="{{ field.html_name }}"
                   value="{{ value }}"
                   {% if selected %}checked{% endif %}>
            <label for="{% if value %}{{ field.label.lower() }}-{{ value }}{% else %}{{ field.id_for_label }}-{{ loop.index }}{% endif %}">
              <span>{{ title }}</span>
            </label>
          </li>
        {% endwith %}
      {% endfor %}
    </ul>
  </div>
{% endblock %}