{% if breadcrumbs %}
    <div class="breadcrumbs">
        <div class="grid-block">
            <ul class="breadcrumbs-list" itemscope itemtype="https://schema.org/BreadcrumbList">
                {% for crumb in breadcrumbs %}
                    {% if crumb.url and not loop.last %}
                        <li class="breadcrumb {% if loop.last %}breadcrumb--active{% endif %}" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                            <a href="{{ crumb.url }}" class="breadcrumb__link" itemprop="item">
                                <span itemprop="name" class="breadcrumb__name">{{ crumb.title }}</span>
                            </a>
                            <meta itemprop="position" content="{{ loop.index }}"/>
                        </li>

                    {% else %}
                        <li class="breadcrumb {% if loop.last %}breadcrumb--active{% endif %}" property="item">
                            <span property="name" class="breadcrumb__name">{{ crumb.title }}</span>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
