@import 'mixins';

$menu_animation_time: .3s;
$menu_text_color_dark_header: $black;
$menu_text_color_dark_footer: $black;
$menu_text_color_dark_mobile: $black;

$menu_text_color_light_header: $white;
$menu_text_color_light_footer: $white;
$menu_text_color_light_mobile: $white;

$menu_border_dark_header: $black;
$menu_border_dark_footer: $black;
$menu_border_dark_mobile: $black;

$menu_border_light_header: $white;
$menu_border_light_footer: $white;
$menu_border_light_mobile: $white;

$menu_border_header: $black;
$menu_border_animation_time: $animation_time;

$menu_font: Montserrat, sans-serif;

$menu_font_header: $menu_font;
$menu_font_footer: $menu_font;
$menu_font_mobile: $menu_font;

$menu_submenu_background: $gray;
$menu_submenu_max_height: 480px;
$menu_submenu_color: #000;
$menu_submenu_indicator_color: $primary_color;
$menu_submenu_indicator_color_light: $secondary_color;
$menu_submenu_indicator_animation_time: 0s;

.menu-opened {
  overflow: hidden;
}

// базовый класс всех меню
.menu {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  @include zero_fontsize;

  .menu__item {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-weight: 700;

    @include font-size(16px, 23px);

    @include media_interval(0, $media_mobile) {
      flex-direction: column;
      align-items: flex-start;
    }

    a {

      .menu__name {
        position: relative;

        &:after {
          content: '';
          position: absolute;
          height: 1px;
          width: 0;
          left: 0;
          bottom: -2px;
        }
      }

      &:hover {
        .menu__name {
          opacity: .8;

          &:after {
            width: 100%;
          }
        }
      }

      &, &:hover {
        .menu__name {
          transition: opacity $menu_animation_time ease;

          &:after {
            transition: width $menu_animation_time ease;
          }
        }
      }
    }
  }

  .submenu-parent {
    position: relative;
    padding-right: 22px;
    width: 100%;

    .menu__toggle {
      content: '';
      position: absolute;
      border: 4px solid transparent;
      border-top: 7px solid $menu_submenu_indicator_color;
      top: 50%;
      transform: translateY(-2px);
      right: -2px;

      @include media_interval(0, $media_mobile) {
        right: 0;
      }

      &.opened {
        transform: translateY(-6px) rotate(-180deg);
      }
    }

    @include media_interval(0, $media_mobile) {
      padding-right: 25px;
      box-sizing: border-box;
    }
  }

  a.submenu-parent {
    cursor: pointer;

    .menu__toggle {
      cursor: pointer;
    }
  }

  .menu__item {
    box-sizing: border-box;

    @include font_default;

    &:not(.general-item).active {
      & > .item-caption > .menu__name {
        &:after {
          content: '';
          position: absolute;
          height: 1px;
          width: 100%;
          left: 0;
          bottom: -2px;
        }
      }
    }
    .general-item {
      .menu__name {
        position: relative;
      }
    }

    &.general-item.active {
      & > .item-caption > .menu__name {
        &:after {
          content: '';
          position: absolute;
          height: 1px;
          width: 100%;
          left: 0;
          bottom: -2px;
        }
      }
    }

    @include media_interval(0, $media_mobile) {
      flex-direction: column;
      align-items: flex-start;
    }
  }


  &--header {
    justify-content: center;
    box-sizing: border-box;
    font-family: $menu_font_header;
    color: $menu_text_color_dark_header;

    .menu__name {
      position: relative;
    }

    .menu__item {
      padding: 10px;
      margin: 0 20px;
      position: relative;

      &:hover {
        .submenu-parent {
          .menu__toggle {
            transform: translateY(calc(-50% - 2px)) rotate(180deg);
          }
        }

        & > .menu-inner {
          pointer-events: all;
          opacity: 1;
        }
      }

      &, &:hover {
        .submenu-parent {
          .menu__toggle {
            transition: transform $menu_submenu_indicator_animation_time ease;
          }
        }
      }

      .menu__name {

        &:after {
          background-color: $menu_border_dark_header;
        }
      }

      @include media_interval($media1280, $media1400) {
        margin: 0 15px;
      }

      @include media_interval(0, $media1400) {
        margin: 0 5px;
      }
    }

    .general-item {
      position: relative;
    }

    .menu-inner {
      box-sizing: border-box;
      position: absolute;
      pointer-events: none;
      left: -20px;
      opacity: 0;
      bottom: 0;
      width: 0;
      height: 0;
      transform: translate(0, 100%);
      user-select: none;

      .menu__item {
        position: relative;
        font-weight: 400;

        &, &:hover {
          .submenu-parent {
            .menu__toggle {
              transform: translateY(calc(-50% + 2px)) rotate(270deg);
              right: 15px;
              width: 0;
            }
          }
        }
      }

      a, span {
        width: 100%;
      }

      & > a, & > span {
        display: block;
      }

      .menu-inner {
        top: -20px;
        right: 0;
        left: auto;
        transform: translate(100%, 0);
        z-index: 99;
        min-height: 100%;
        max-height: none;
        bottom: 0;
        position: absolute;
      }

      @include media_interval(0, $media_mobile) {
        display: none;
      }
    }

    & > .menu__item  .menu-inner .menu-inner > .menu{
      display: flex;
      min-height: 100%;

      .menu__name {
        width: auto;
        white-space: pre-wrap;
        word-break: break-word;
        box-sizing: border-box;
        display: inline-block;
        white-space: -webkit-nowrap;
        max-width: 220px;
        position: relative;
      }

      .menu__item {
        display: block;
      }
    }

    & .menu {
      writing-mode: vertical-lr;
      flex-direction: row;
      flex-wrap: wrap;
      height: max-content;
      max-height: $menu_submenu_max_height;
      background-color: $menu_submenu_background;
      padding: 20px 0;
      box-sizing: border-box;
      position: absolute;

      .menu__toggle {
        right: 0 !important;
      }

      .menu__item {
        margin: 0;
        text-align: left;
        color: $menu_submenu_color;
        width: 280px;
        padding: 10px 15px;
        writing-mode: initial;
        position: relative;

        @include font-size(16px, 19px);

        &:last-of-type {
          margin-bottom: 0;
        }

        .item-caption {
          padding: 10px 15px;
          box-sizing: border-box;
          margin-left: 0;
        }
      }

      .menu {
        border-left: 1px solid $menu_border_header;
      }
    }

    .menu-inner {
      min-height: var(--mh);
    }

    @include media_interval(0, $media_mobile) {
      display: none;
    }
  }

  &--footer {
    margin: -10px -20px;
    font-family: $menu_font_footer;
    @include font-size(16px, 23px);

    .menu__item {
      padding: 10px;
      margin: 0 10px;
      box-sizing: border-box;

      .menu__name {
        position: relative;
        
        &:after {
          background-color: $menu_border_dark_footer;
        }
      }

      @include media_interval(0, $media_mobile) {
        padding: 4px;
      }
    }

    @include media_interval(0, $media_mobile) {
      margin: -4px -12px;
    }
  }

  &--mobile {
    font-family: $menu_font_mobile;

    .menu__item {
      padding: 5px;
      width: 100%;
      box-sizing: border-box;
      flex-direction: column;
      align-items: flex-start;
      position: relative;
      
      @include font-size(16px, 19px);

      .menu {
        margin-top: 10px;

        .menu__item {
          @include font-size(14px, 21px);
        }
      }

      .menu__name {
        position: relative;

        &:after {
          background-color: $menu_border_dark_mobile;
        }
      }
    }

    .menu-inner {
      .menu__item {
        margin-left: 10px;
      }
    }
  }
  &--color-light {
    &.menu--header {
      & > .menu__item {
        color: $menu_text_color_light_header;
      }
      .menu__name {
        &:after {
          background-color: $menu_border_light_header;
        }
      }
    }

    &.menu--footer {
      .menu__item {
        color: $menu_text_color_light_footer;

        .menu__name {
          &:after {
            background-color: $menu_border_light_footer;
          }
        }
      }
    }

    &.menu--mobile {
      .menu__item {
        color: $menu_text_color_light_mobile;

        .menu__name {
          &:after {
            background-color: $menu_border_light_mobile;
          }
        }
      }
    }
  }

  @at-root body.dark &, &--color-light {
    &.menu--header {
      & > .menu__item {
        color: $menu_text_color_light_header;
      }
      .menu__name {
        &:after {
          background-color: $menu_border_light_header;
        }
      }

      .menu-inner {
        .menu__name {
          &:after {
            background-color: $menu_text_color_dark_header !important;
          }
        }
      }
    }
  }


  &--color-dark {
    &.menu--header {
      .menu__item {
        color: $menu_text_color_light_header;

        .menu-inner {
          .menu-item {
            color: $menu_text_color_dark_header;
          }
        }

        .menu__name {
          &:after {
            background-color: $menu_text_color_dark_header;
          }
        }
      }
    }

    &.menu--footer {
      .menu__item {
        color: $menu_text_color_dark_footer;

        .menu__name {
          &:after {
            background-color: $menu_text_color_dark_footer;
          }
        }
      }
    }

    &.menu--mobile {
      .submenu-parent {
        width: auto;
      }

      .menu__item {
        color: $menu_text_color_dark_mobile;
        margin-bottom: 10px;

        &:last-of-type {
          margin-bottom: 0;
        }

        .menu__name {
          &:after {
            background-color: $menu_text_color_dark_mobile;
          }
        }
      }
    }
  }

  &--underline {

    .general-item > a,  {

      &:after {
        content: '';
        position: absolute;
        bottom: -4px;
        width: 0;
        height: 1px;
        left: 0;
      }

      &:hover {
        &:after {
          width: 100%;
        }
      }

      &, &:hover {
        &:after {
          transition: width $menu_animation_time ease;
        }
      }
    }
  }

  @at-root body.dark .menu--header .menu__toggle {
    border-top-color: $menu_submenu_indicator_color_light;
  }

  @at-root body.dark .menu--header .menu-inner .menu__toggle {
    border-top-color: $menu_submenu_indicator_color;
  }
}
