{% if not (is_contact_page or is_success_page or is_error_page or payment_success_page or is_empty_shop_page) %}
    {#    <div class="webpage-header{% if not (is_disclaimer_page or is_policy_page) %} webpage-header--full{% endif %}">#}
    <div class="webpage-header">
        {% if not (is_main_page or payment_success_page) %}
            {% breadcrumbs %}
        {% endif %}
        <div class="grid-block">
            <div class="flex">
                <div class="flex__column flex__column--information">
                    <div class="webpage-header__content">
                        {% if not is_product_page %}
                            <h1 class="title title--h1">{{ page.header|linebreaksbr }}</h1>
                        {% endif %}
                        {% if not (is_gallery_page and is_policy_page) %}
                            {% if page.description %}
                                <div class="description">
                                    {{ page.description|linebreaksbr }}
                                </div>
                            {% endif %}
                        {% endif %}

                        {% if is_policy_page %}
                            <div class="description">
                                Last Updated on {{ page.updated.strftime('%m/%d/%Y') }}. This privacy policy is effective immediately.
                            </div>
                        {% endif %}

                        {% if page.contact_button %}
                            <div class="btn-wrapper">
                                {% with view='link', external=page.contact_button_is_external(),
                        url=page.contact_button_url,
                        classes='btn--default btn--animated btn--bordered btn--cta btn--font-bold conversion-goal',
                        caption=page.contact_button_caption %}
                                    {% include 'components/button.html' %}
                                {% endwith %}
                            </div>
                        {% endif %}

                    </div>
                </div>

                {% if page.image %}
                    <div class="flex__column flex__column--image">
                        <picture>
                            {% if page.image.wide.url_avif %}
                                <source srcset="{{ page.image.wide.url_avif }}" type="image/avif" media="(min-width: 1400px)">
                            {% endif %}
                            <source srcset="{{ page.image.wide.url_webp }}" type="image/webp" media="(min-width: 1400px)">
                            <source srcset="{{ page.image.wide.url }}" type="image/jpeg" media="(min-width: 1400px)">
                            {% if page.image.desktop.url_avif %}
                                <source srcset="{{ page.image.desktop.url_avif }}" type="image/avif" media="(min-width: 1024px)">
                            {% endif %}
                            <source srcset="{{ page.image.desktop.url_webp }}" type="image/webp" media="(min-width: 1024px)">
                            <source srcset="{{ page.image.desktop.url }}" type="image/jpeg" media="(min-width: 1024px)">
                            {% if page.image.tablet1.url_avif %}
                                <source srcset="{{ page.image.tablet1.url_avif }}" type="image/avif" media="(min-width: 768px)">
                            {% endif %}
                            <source srcset="{{ page.image.tablet1.url_webp }}" type="image/webp" media="(min-width: 768px)">
                            <source srcset="{{ page.image.tablet1.url }}" type="image/jpeg" media="(min-width: 768px)">
                            {% if page.image.tablet2.url_avif %}
                                <source srcset="{{ page.image.tablet2.url_avif }}" type="image/avif" media="(min-width: 415px)">
                            {% endif %}
                            <source srcset="{{ page.image.tablet2.url_webp }}" type="image/webp" media="(min-width: 415px)">
                            <source srcset="{{ page.image.tablet2.url }}" type="image/jpeg" media="(min-width: 415px)">
                            {% if page.image.mobile.url_avif %}
                                <source srcset="{{ page.image.mobile.url_avif }}" type="image/avif" media="(max-width: 414px)">
                            {% endif %}
                            <source srcset="{{ page.image.mobile.url_webp }}" type="image/webp" media="(max-width: 414px)">
                            <source srcset="{{ page.image.mobile.url }}" type="image/jpeg" media="(max-width: 414px)">
                            <img src="{{ page.image.mobile.url }}" width="{{ page.image.mobile.target_width }}" height="{{ page.image.mobile.target_height }}" decoding="async" alt="">
                        </picture>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
