@import "popups_core";


// вертикальные отступы окна
$window_margin: (
    ($media1024, 0): 60px,
    (0, $media1024): 50px
);

// размер окна
$window_width: auto;

// максимальная ширина окна
$window_max_width: (
    ($media1024, 0): 70%,
    ($media480, $media1024): 80%,
    (0, $media480): 90%,
);

// поля контентной части окна
$content_paddings: (
    ($media640, 0): 36px 50px,
    ($media480, $media640): 36px,
    (0, $media480): 20px 20px 36px,
);

// цвет фона окна
$background_color: $white;

// кнопка закрытия
$close_btn_size: 21px;
$close_btn_color: $black;
$close_btn_weight: 3px;


//=======================
// CORE
//=======================

#popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: rgba(0,0,0,0.4);
}

.popup {
  .popup-window {
    @include media_map(width, $window_width);
    @include media_map(max-width, $window_max_width);
    @include media_map((margin-top, margin-bottom), $window_margin);
  }

  .popup-close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    width: $close_btn_size;
    height: $close_btn_size;
    z-index: 6;
    cursor: pointer;
    transform: scale(0.8);
    transition: transform 0.2s;

    &:before, &:after {
      content: '';
      position: absolute;
      left: 50%;
      top: 50%;
      width: 80%;
      height: $close_btn_weight;
      background: $close_btn_color;
      border-radius: $close_btn_weight;
    }
    &:before {
      transform: translate3d(-50%, -50%, 0) rotate(45deg);
    }
    &:after {
      transform: translate3d(-50%, -50%, 0) rotate(-45deg);
    }

    &:hover {
      transform: scale(1);
    }
  }

  .popup-content {
    border-radius: 5px;
    background-color: $background_color;
    @include media_map(padding, $content_paddings);
  }
}
