{% if page.about_visible and (page.about_title or page.about_description) %}
    <section class="about-section block">
        <div class="grid-block">
            {% if page.about_title %}
                <h3 class="title title--h3">
                    {{ page.about_title }}
                </h3>
            {% endif %}
            {% if page.about_description %}
                <div class="description">
                    {{ page.about_description|linebreaksbr }}
                </div>
            {% endif %}
        </div>
    </section>
{% endif %}