{% if reviews_paginator.current_page %}
    <div class="block--reviews">
        <div class="block-information">
            <h2 class="title title--h2">
                {{ config.reviews_title }}
            </h2>

            {% if config.review_description %}
                <div class="description">
                    {{ config.review_description|linebreaksbr }}
                </div>
            {% endif %}
        </div>

        <div class="reviews">
            {% for review in reviews_paginator.current_page %}
                {% include 'shop/parts/_review.html' %}
            {% endfor %}
        </div>

        {% include 'shop/parts/_more_reviews.html' %}
    </div>
{% endif %}