<div class="flex">

    <!-- Set up a container element for the button -->
    <form action="{{ ajax_url('shop.payment.card') }}" id="formCardData" class="form-revert" method="post" autocomplete="off">
        {% csrf_token %}

        <div class="fields">
            <div class="flex">
                <div class="row">
                    <div class="column">
                        {% render_field card_form 'card_number' %}
                    </div>
                </div>

                <div class="row">
                    <div class="column">
                        {% render_field card_form 'date_expired' %}
                    </div>
                    <div class="column">
                        {% render_field card_form 'cvv' %}
                    </div>
                </div>
                <div class="row">
                    <div class="column">
                        {% render_field card_form 'name' %}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>