{% set classes_plus='btn--default btn--animated btn--bordered btn--secondary btn--font-bold count__action count__action--plus' %}
{% set classes_minus='btn--default btn--animated btn--bordered btn--secondary btn--font-bold count__action count__action--minus' %}

{% if controls_send %}
    {% set classes_plus=classes_plus + ' update-product' %}
    {% set classes_minus=classes_minus + ' update-product' %}
{% endif %}
<div class="product__count" id="productCount">
    <div class="count">
        {% if controls_send %}
            {% with item_id=product.product.id %}
                {% with id="minusProductCount", caption=_(''), view='button', classes=classes_minus %}
                    {% include 'components/button.html' %}
                {% endwith %}
            {% endwith %}
        {% else %}
            {% with id="minusProductCount", caption=_(''), view='button', classes=classes_minus %}
                {% include 'components/button.html' %}
            {% endwith %}
        {% endif %}
        <input type="number" value="{% if count %}{{ count }}{% else %}1{% endif %}" aria-label="" class="count__number">

        {% if controls_send %}
            {% with item_id=product.product.id %}
                {% with id="plusProductCount", caption=_(''), view='button', classes=classes_plus %}
                    {% include 'components/button.html' %}
                {% endwith %}
            {% endwith %}
        {% else %}
            {% with id="plusProductCount", caption=_(''), view='button', classes=classes_plus %}
                {% include 'components/button.html' %}
            {% endwith %}
        {% endif %}

        {% if show_stock %}
            <div class="count__stock">
                <span id="stock_count">{{ product.stock }}</span>
                <span>{{ _(' pcs in stock') }}</span>
            </div>
        {% endif %}
    </div>
</div>