

    <div class="form__section form__section--delivery">
        <div class="title title--h3">{{ _('Delivery Method') }}</div>
    {% if deliveries %}
        <div class="fields">
            <div class="flex">
                <div class="row">
                    <div class="column">
                        <ul class="deliveries">
                            {% for value, title, price, old_price in deliveries %}
                                <li class="delivery" aria-label="{{ title }}" onclick="this.getElementsByTagName('input')[0].click()">
                                    <div class="delivery-box">
                                        <div class="delivery--box__side">
                                            <input type="radio" id="delivery_{{ loop.index }}" value="{{ value }}" name="delivery" aria-label="{{ title }}"{% if delivery.current %} checked{% endif %}>
                                            <label for="delivery_{{ loop.index }}">

                                            <span class="delivery-information">
                                                <span class="delivery__title">{{ title }}</span>
{#                                                <div class="delivery__time">{{ delivery.delivery.time }}</div>#}
                                            </span>
                                            </label>
                                        </div>
                                        <div class="delivery-side delivery--box__side">
                                            <div class="delivery__price">{{ price }}</div>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% elif error %}
        <div class="error-message">
            {{ _('Sorry. ') }}{{ error }}
        </div>
    {% else %}
        <div class="error-message">
            {{ _('Sorry. Delivery methods not found') }}
        </div>
    </div>
{% endif %}