<form action="#" method="get" class="formFilters">
    <ul class="filters">
        <li class="filter">
            <div class="filter__name">
                <span>{{ _('Price') }}</span>
            </div>
            <div class="filter__form">
                <div class="flex">
                    <div class="row">
                        <div class="column">
                            {% render_form price_range.price_min %}
                        </div>
                        <div class="column">
                            {% render_form price_range.price_max %}
                        </div>
                    </div>

                    <div class="row">
                        <div id="{{ price_range.price_range_slider_id }}" class="price-range"></div>
{#                        <div class="range-selector">#}
{#                            <div class="range-lines">#}
{#                                <div class="range-line range-line--general" id="rangeLineGeneral"></div>#}
{#                                <div class="range-line range-line--selected" id="rangeLineSelected"></div>#}
{#                            </div>#}
{#                            <div class="range-circles">#}
{#                                <div class="range-circle range-circle--from" id="rangeCircleFrom"></div>#}
{#                                <div class="range-circle range-circle--to" id="rangeCircleTo"></div>#}
{#                            </div>#}
{#                        </div>#}
                    </div>
                </div>
            </div>
        </li>
        {% for characteristic in characteristics %}
            <li class="filter">
                <div class="filter__name">
                    <span>{{ characteristic.title }}</span>
                </div>
                <div class="filter__form">
                    {% render_form characteristic.form %}
                </div>
            </li>
        {% endfor %}
    </ul>
    <div class="btn-wrapper">
        {% with view='button', type='button', caption=_('Show Results'), classes='showResults btn--default btn--animated btn--bordered btn--cta btn--font-bold close-popup' %}
            {% include 'components/button.html' %}
        {% endwith %}
        {% with view='button', type='button', caption=_('Clear Filters'), classes='filtersClear btn--default btn--animated btn--bordered btn--secondary btn--font-bold' %}
            {% include 'components/button.html' %}
        {% endwith %}
    </div>
</form>