<div class="order-information" id="orderInfo">
    <div class="title title--h3">{{ _('Order Information') }}</div>
    <div class="flex">
        <div class="row">
            <table>
                <tbody>
                <tr>
                    <td>{{ _('Products in the order')}}</td>
                    <td>{{ order.count }}</td>
                </tr>
                <tr>
                    <td>{{ _('Products Price') }}</td>
                    <td>{{ order.price }}</td>
                </tr>
                <tr>
                    <td>{{ _('Coupon used') }}</td>
                    <td>- {{ order.coupon }}</td>
                </tr>
                <tr>
                    <td class="price-result">{{ _('Subtotal') }}</td>
                    <td class="price-result">{{ order.subtotal }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        {% if use_coupon and not order.coupon %}
            <div class="row">
                <form action="{{ ajax_url('shop.coupon.check') }}" method="get" autocomplete="off" class="form-transparent" id="formCoupon">
                    {% render_field coupon_form 'coupon' %}
                </form>

{#                <div class="btn-wrapper">#}

                    {% with
            caption=_('Apply Coupon Code'),
            view='paginator',
            page=paginator.next_page_number,
            url=ajax_url('blog.more'),
            classes="btn--default btn--animated btn--bordered btn--cta btn--font-bold btn--paginator apply-coupon btn--small" %}
                        {% include 'components/button.html' %}
                    {% endwith %}
{#                </div>#}
            </div>
        {% endif %}

        <div class="row">
            <table>
                <tr>
                    <td>{{ _('Shipping') }}</td>
                    <td>{{ order.shipping }}</td>
                </tr>
                <tr>
                    <td>{{ _('Tax') }}</td>
                    <td>{{ order.tax }}</td>
                </tr>
                <tr>
                    <td>{{ _('Fees') }}</td>
                    <td>{{ order.fees }}</td>
                </tr>
            </table>
        </div>

        <div class="row">
            <table>
                <tr>
                    <td class="price-result">{{ _('Total') }}</td>
                    <td class="price-result price-result--total" id="payAmount" data-amount="{{ order.total_full.amount }}">{{ order.total_full }}</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="btn-wrapper">
        {% if save_order %}
            {% with view='button', type="submit", caption=btn_caption, classes='btn--default btn--animated btn--bordered btn--cta btn--font-bold', id="saveOrder" %}
                {% include 'components/button.html' %}
            {% endwith %}
        {% else %}
            {% with view='link', url=btn_url, caption=btn_caption, classes='btn--default btn--animated btn--bordered btn--cta btn--font-bold' %}
                {% include 'components/button.html' %}
            {% endwith %}
        {% endif %}
    </div>
</div>