<div class="product__price">
    {% if product.is_sale %}
        <h2 class="price--current title title--h2">{{ product.sale_price }}</h2>
        <span class="price--base">{{ product.price }}</span>
    {% else %}
        <h2 class="price--current title title--h2"><span id="productPrice">{{ product.price }}</span></h2>
    {% endif %}
</div>