<li class="product-wrapper">
    <a href="{{ product.get_absolute_url() }}" class="product" data-max-count="{{ product.stock }}" data-modification="{{ product.modification.id }}" data-product="{{ product.id }}">
        <div class="product__preview">
            <picture>
                {% if product.preview.default.url_avif %}
                    <source type="image/avif" srcset="{{ product.preview.default.url_avif }}">
                {% endif %}
                {% if product.preview.default.url_webp %}
                    <source type="image/webp" srcset="{{ product.preview.default.url_webp }}">
                {% endif %}
                <source type="image/jpeg" srcset="{{ product.preview.default.url }}">

                {% if product.preview.normal.url_avif %}
                    <source type="image/avif" srcset="{{ product.preview.normal.url_avif }}">
                {% endif %}
                {% if product.preview.normal.url_webp %}
                    <source type="image/webp" srcset="{{ product.preview.normal.url_webp }}">
                {% endif %}
                <source type="image/jpeg" srcset="{{ product.preview.normal.url }}">

                <img src="{{ product.preview.normal.url }}"
                     alt="{{ product.title }}"
                     decoding="async"
                     loading="lazy"
                     height="{{ product.preview.normal.target_height }}"
                     width="{{ product.preview.normal.target_width }}">
            </picture>


            {% if product.is_sale or product.is_sold %}
                <div class="product__sale">
                    <span>
                        {% if product.is_sold %}{{ _('Sold') }}{% elif product.is_sale %}{{ _('Sale') }}{% endif %}
                    </span>
                </div>
            {% endif %}
        </div>

        <div class="information">
            <div class="product__price">
                {% if product.is_sale %}
                    <span class="price--current title title--h5">{{ product.sale_price }}</span>
                    <span class="price--base">{{ product.price }}</span>
                {% else %}
                    <span class="price--current title title--h5">{{ product.price }}</span>
                {% endif %}
            </div>

            <div class="product__title title title--h6">
                <span>{{ product.title }}</span>
            </div>
        </div>

        <div class="btn-wrapper">
            {% set default_btn_classes='btn--default btn--animated btn--bordered btn--cta btn--font-bold add-product' %}
            {% if product.is_sold %}
                {% with view='button', type='button', caption=_('Add To Cart '), classes=default_btn_classes, disabled=True %}
                    {% include 'components/button.html' %}
                {% endwith %}
            {% else %}
                {% with view='button', type='button', caption=_('Add To Cart '), item_id=product.id, classes=default_btn_classes %}
                    {% include 'components/button.html' %}
                {% endwith %}
            {% endif %}
        </div>
    </a>
</li>