<div class="review">
    <div class="review__author">{{ review.author }}</div>
    <div class="review__stars">
        {% for star in range(review.rating) %}
            <div class="star active"></div>
        {% endfor %}
        {% for star in range(5 - review.rating) %}
            <div class="star"></div>
        {% endfor %}
    </div>
    <div class="review__text">{{ review.text }}</div>
</div>