{#<div class="review">#}
{#    <div class="review__author">{{ review.author }}</div>#}
{#    <div class="review__stars">#}
{#        {% for star in range(review.rating) %}#}
{#            <div class="star active"></div>#}
{#        {% endfor %}#}
{#        {% for star in range(5 - review.rating) %}#}
{#            <div class="star"></div>#}
{#        {% endfor %}#}
{#    </div>#}
{#    <div class="review__text">{{ review.text }}</div>#}
{#</div>#}

{% if not review %}
    {% with review=item %}
        {% include 'shop/parts/_review_html.html' %}
    {% endwith %}
{% else %}
    {% include 'shop/parts/_review_html.html' %}
{% endif %}
