<div class="preview">
    <picture>
        {% if item.image.default %}
            {% if item.image.default.srcset_avif %}
                <source srcset="{{ item.image.default.srcset_avif }}" sizes="100vw" type="image/avif">
            {% endif %}
            {% if item.image.default.srcset_webp %}
                <source srcset="{{ item.image.default.srcset_webp }}" sizes="100vw" type="image/webp">
            {% endif %}
            <source srcset="{{ item.image.default.srcset }}" sizes="100vw" type="image/jpeg">
        {% endif %}

        {% if item.image.tablet %}
            {% if item.image.tablet.avif %}
                <source srcset="{{ item.image.tablet.srcset_avif }}" sizes="100vw" type="image/avif">
            {% endif %}
            {% if item.image.tablet.srcset_webp %}
                <source srcset="{{ item.image.tablet.srcset_webp }}" sizes="100vw" type="image/webp">
            {% endif %}
            <source srcset="{{ item.image.tablet.srcset }}" sizes="100vw" type="image/jpeg">
        {% endif %}

        {% if item.image.normal %}
            {% if item.image.normal.srcset_avif %}
                <source srcset="{{ item.image.normal.srcset_avif }}" sizes="100vw" type="image/avif">
            {% endif %}
            {% if item.image.normal.srcset_webp %}
                <source srcset="{{ item.image.normal.srcset_webp }}" sizes="100vw" type="image/webp">
            {% endif %}
            <source srcset="{{ item.image.normal.srcset }}" sizes="100vw" type="image/jpeg">
        {% endif %}

        {% if item.image.mobile %}
            {% if item.image.mobile.srcset_avif %}
                <source srcset="{{ item.image.mobile.srcset_avif }}" sizes="100vw" type="image/avif">
            {% endif %}
            {% if item.image.mobile.srcset_webp %}
                <source srcset="{{ item.image.mobile.srcset_webp }}" sizes="100vw" type="image/webp">
            {% endif %}
            <source srcset="{{ item.image.mobile.srcset }}" sizes="100vw" type="image/jpeg">
        {% endif %}

        {% if item.image.small %}
            {% if item.image.small.srcset_avif %}
                <source srcset="{{ item.image.small.srcset_avif }}" sizes="100vw" type="image/avif">
            {% endif %}
            {% if item.image.small.srcset_webp %}
                <source srcset="{{ item.image.small.srcset_webp }}" sizes="100vw" type="image/webp">
            {% endif %}
            <source srcset="{{ item.image.small.srcset }}" sizes="100vw" type="image/jpeg">
        {% endif %}

        <img
                src="{% if item.image.mobile %}{{ item.image.mobile.url }}{% else %}{{ item.image.normal.url }}{% endif %}"
                alt="{{ item.alt_image }}"
                decoding="async"
                width="{% if item.image.mobile %}{{ item.image.mobile.target_width }}{% else %}{{ item.image.normal.target_width }}{% endif %}"
                height="{% if item.image.mobile %}{{ item.image.mobile.target_height }}{% else %}{{ item.image.normal.target_height }}{% endif %}">
    </picture>
</div>
