{% if product.info_overview or product.info_specifications or product.info_shipping or product.info_return %}
    <div class="tabs">
        <div class="tabs__names">
            <div class="swiper-wrapper">
                {% if product.info_overview %}
                    <div class="swiper-slide active">
                        <div class="tabs__name title title--h6">
                            <span>{{ _('Product Overview') }}</span>
                        </div>
                    </div>
                {% endif %}
                {% if product.info_specifications %}
                    <div class="swiper-slide{% if not product.info_overview %} active{% endif %}">
                        <div class="tabs__name title title--h6">
                            <span>{{ _('specifications') }}</span>
                        </div>
                    </div>
                {% endif %}
                {% if product.info_shipping %}
                    <div class="swiper-slide{% if not product.info_specifications %} active{% endif %}">
                        <div class="tabs__name title title--h6">
                            <span>{{ _('Shipping') }}</span>
                        </div>
                    </div>
                {% endif %}
                {% if product.info_return %}
                    <div class="swiper-slide{% if not product.info_shipping %} active{% endif %}">
                        <div class="tabs__name title title--h6">
                            <span>{{ _('Product Return') }}</span>
                        </div>
                    </div>
                {% endif %}
            </div>

            <hr class="tabs__line">
        </div>
        <div class="tabs__pages">
            <div class="swiper-wrapper">
                {% if product.info_overview %}
                    <div class="swiper-slide">
                        <div class="tabs__page">
                            <div class="text-styles">
                                {{ product.info_overview|reformat }}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if product.info_specifications %}
                    <div class="swiper-slide">
                        <div class="tabs__page">
                            <div class="text-styles">
                                {{ product.info_specifications|reformat }}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if product.info_shipping %}
                    <div class="swiper-slide">
                        <div class="tabs__page">
                            <div class="text-styles">
                                {{ product.info_shipping|reformat }}
                            </div>
                        </div>
                    </div>
                {% endif %}
                {% if product.info_return %}
                    <div class="swiper-slide">
                        <div class="tabs__page">
                            <div class="text-styles">
                                {{ product.info_return|reformat }}
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
