<div class="tab tab--{{ payment_with }}">
    {% with caption='Pay with ' + caption_suffix %}
        <button type="button" class="btn btn--default btn--animated btn--bordered btn--secondary btn--font-bold" data-payment-with="{{ payment_with }}">
            {% include 'components/parts/button/_caption.html' %}
        </button>
    {% endwith %}
</div>