{% if not product.is_sold %}
    <div id="buyProduct">
        {% with show_stock=True %}
            {% include 'shop/parts/_counter.html' %}
        {% endwith %}

        <div class="btn-wrapper">
            {% with caption=_('Add To Cart') %}
                <button type="button" class="btn btn--default btn--animated btn--bordered btn--cta btn--font-bold add-product" data-id="{{ product.id }}">
                        <a href="{{ url('shop:cart') }}" class="btn__cart">
                            <span>Cart: </span><span id="btnCountCart">35</span>
                        </a>
                    <span class="btn__caption">
                        {% include 'components/parts/button/_caption.html' %}
                    </span>
                </button>
            {% endwith %}
        </div>
    </div>
{% endif %}