@import "mixins";

$shop_category_active_color: #fff;
$shop_category_active_background: rgba(35, 35, 35, 1);
$shop_category_active_border: rgba(35, 35, 35, 1);

.categories {
  display: flex;
  flex-wrap: wrap;
  margin: -10px;

  .category {
    padding: 10px;
    box-sizing: border-box;

    .btn {
      border-radius: 100px;
      padding: 10px 15px;
    }

    &.active {
      .btn {
        color: $shop_category_active_color;
        background-color: $shop_category_active_background;
        border-color: $shop_category_active_border;
      }
    }

    @include media_interval(0, $media900) {
      display: inline-block;
    }
  }

  @include media_interval(0, $media900) {
    flex-wrap: nowrap;
    display: block;
    overflow: scroll;
    white-space: nowrap;
    margin: 30px -20px;

    padding: 0 10px;
  }
}