@import "mixins";

.count {
  display: flex;

  &__stock {
    margin-left: 20px;
    color: rgba(0, 0, 0, .5);
    display: flex;
    align-items: center;

    @include font_default;
    @include font-size(14px, 20px);

    span {
      white-space: break-spaces;
    }
  }

  &__number, &__action {
    border-radius: 5px;
    min-height: 51px;
    border: 1px solid #000;
  }

  &__number {
    color: #000;
    width: 50px;
    margin: 0 10px;
    text-align: center;

    @include font_default;
    @include fontsize_default;
  }

  &__action {
    position: relative;
    width: 34px;
    padding: 0;

    &.count__action--minus {
      &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 2px;
        background-color: #000;
        border-radius: 5px;
      }
    }

    &.count__action--plus {
      &:before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        height: 10px;
        width: 2px;
        background-color: #000;
        border-radius: 5px;
      }

      &:after {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 2px;
        background-color: #000;
        border-radius: 5px;
      }
    }

    &:hover {
      &:before, &:after {
        background-color: #fff;
      }
    }

    &, &:hover {
      &:before, &:after {
        transition: background-color $animation_time ease;
      }
    }
  }
}