@import "mixins";
@import "../vars";


.deliveries {
  .delivery {
    border-bottom: 1px solid rgba(0, 0, 0, .3);
    box-sizing: border-box;
    cursor: pointer;
    user-select: none;

    @include vpad(20px);

    .delivery-box {
      display: flex;
      justify-content: space-between;

      &__side {

      }
    }

    &__title {
      color: #000;

      @include font-size(18px, 22px);
      @include font_default;
    }

    &__time {
      margin-top: 6px;
      color: rgba(0, 0, 0, .5);
      @include font-size(14px, 19px);
      @include font_default;
    }

    &__price {
      color: #000;

      @include font-size(18px, 22px);
      @include font_default;
    }

    .delivery-information {
      margin-left: 40px;
    }

    &:hover {
      opacity: .75;
    }

    &, &:hover {
      transition: opacity $shop_animation_time ease;
    }

    &:last-of-type {
      border-bottom: none;
    }
  }
}