@import "../vars";

$shop_filters_animation_time: $shop_animation_time;
$price_range_circle_size: 20px;


.formFilters {
  margin-right: 20px;

  .btn-wrapper {
    @include media_interval(0, $media900) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      width: 280px;
      max-width: 100%;

      .btn {
        margin-top: 10px;

        &:first-of-type {
          margin-top: 0;
        }
      }
    }
  }
}

.filters {
  user-select: none;

  .field {
    margin-bottom: 0;

    .control {
      input {
        background-color: #fff;
        border: 1px solid #D7D7D7;
        border-radius: 3px;
        color: #000;
        padding: 10px;
        box-sizing: border-box;

        input:-webkit-autofill,
        input:-webkit-autofill:hover,
        input:-webkit-autofill:focus,
        input:-webkit-autofill:active  {
          -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
          -moz-box-shadow: 0 0 0 1000px #fff inset !important;
        }
      }
    }
  }

  .filter {
    margin-bottom: 20px;

    &__name {
      position: relative;
      margin-bottom: 20px;
      color: #151515;
      font-weight: 700;
      @include font_decorative;
      @include font-size(16px, 23px);

      &:after {
        content: '';
        position: absolute;
        right: 0;
        width: 0;
        height: 0;
        top: 50%;
        transform: translateY(-50%);
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 7px solid #000;
        transition: transform $shop_animation_time ease;
      }
    }

    &__form {
      ul {
        li {
          margin-bottom: 10px;

          &:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }

    &.visible {
      .filter__name {
        &:after {
          transform: rotate(-180deg);
        }
      }
    }

    &__name {
      cursor: pointer;

      &:hover {
        opacity: .75;
      }

      &, &:hover {
        transition: opacity $shop_filters_animation_time ease;
      }
    }

    .field-characteristic label {
      cursor: pointer;

      &:hover {
        opacity: .75;
      }

      &, &:hover {
        transition: opacity $shop_filters_animation_time ease;
      }
    }
  }

  .price-range-field {
    width: 80px !important;
  }

  .filter__form {
    .flex {
      position: relative;

      .row {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
}

.price-range {
  width: 100%;
  margin-top: 20px;
  height: 2px;

  .noUi-target {
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .noUi-connects {
    border-radius: 0;
    overflow: visible;

    .noUi-connect {
      height: 2px;
      background-color: #000;
    }
  }

  .noUi-handle {
    width: $price_range_circle_size;
    height: $price_range_circle_size;
    top: 0;
    transform: translate(-50%, -50%);
    background-color: #000;
    border-radius: 50%;
    box-shadow: none;
    border: none;
    right: -20px;

    &:before, &:after {
      display: none;
    }
  }
  //position: relative;

  .range-line {
    height: 2px;
    width: 100%;
    //position: relative;
    margin-top: 20px;

    &--general {
      background-color: rgba(#151515, .3);
    }

    &--selected {
      position: absolute;
      top: 0;
      left: 0;
      background-color: #000;

      &:before, &:after {
        position: absolute;
        width: $price_range_circle_size;
        height: $price_range_circle_size;
        top: 0;
        transform: translate(-50%, 0);
        background-color: #000;
        border-radius: 50%;
      }
    }
  }

  .range-circles {
    position: absolute;
    top: 50%;
    width: 100%;

    .range-circle {
      position: absolute;
      width: $price_range_circle_size;
      height: $price_range_circle_size;
      top: 0;
      transform: translate(-50%, 0);
      background-color: #000;
      border-radius: 50%;

      &--from {
        left: 0;
      }

      &--to {
        left: 100%;
        //transform: translateX(250px);
      }

      &.active {
        z-index: 1;
      }
    }
  }

  .range-selector {
    position: relative;
    margin: auto;
    width: 100%;
    //max-width: calc(100% - #{$price_range_circle_size});
  }
}


.filters-popup {
  background: #fff;

  .clear, .title--popup {
    @include font_default;
    @include fontsize_default;
  }

  .clear {
    &:hover {
      opacity: .75;
    }
    &, &:hover {
      transition: opacity $shop_animation_time ease;
    }
  }

  .popup-window {
    width: 100% !important;
    height: 100%;
    max-width: 100% !important;
    margin: 0 !important;

    & > .popup-close-button {
      display: none;
    }
  }

  .popup-content {
    overflow: auto;
    min-height: 100%;
  }

  .column {
    position: relative;
  }

  .popup-close-button {
    width: 30px !important;
    height: 30px !important;
    top: 50% !important;
    right: -21px !important;
    transform: scale(0.8) translate(-50%, -50%) !important;
  }

  .filters {
    margin-top: 65px;
  }

  .filters-wrapper {
    &__head {
      display: flex;
      justify-content: space-between;
    }
  }
}