@import "mixins";

.order-information {
  padding: 30px 20px;
  background-color: #F7F7F7;

  .flex {
    margin-top: 20px;
  }

  table {
    width: 100%;
  }

  tr {

    td {
      color: #000;
      padding-bottom: 10px;

      @include font-size(14px, 20px);
      @include font_default;

      &:nth-of-type(1) {
        width: 80%;
      }

      &:nth-of-type(2) {
        width: 20%;
        text-align: right;
      }

      &.price-result {
        color: #000;
        font-weight: 700;

        @include font_decorative;
        @include fontsize_default;

        &.price-result--total {
          @include fontsize_h5;
        }
      }
    }

    &:last-of-type {
      td {
        padding-bottom: 0;
      }
    }
  }

  .btn-wrapper {
    margin-top: 20px;

    .btn {
      width: 100%;
    }
  }

  .add-coupon {
    text-decoration: underline;
    text-decoration-style: dashed;

    @include font_default;
    @include font-size(18px, 25px);
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);

    @include vpad(22px);

    .column {
      display: flex;
      align-items: center;

      &:first-of-type {
        flex: 0 1 305px;
        justify-content: flex-start;
      }

      &:nth-of-type(2) {
        justify-content: center;
      }

      &:nth-of-type(3) {
        justify-content: flex-end;
      }
    }
  }

  #formCoupon {
    display: flex;
    align-items: center;
    margin-top: -5px;
  }

  .field-coupon {
    margin-bottom: 0;
  }
}