@import "mixins";
@import "product";
@import "../vars";

$product_distance: 10px;
$products_distance: 10px;


.products {
  display: flex;
  flex-flow: row wrap;
  margin: -#{$product_distance} -#{$product_distance} -#{$product_distance + $products_distance};

  .product-wrapper {
    width: 33.33%;
    padding: $product_distance;
    box-sizing: border-box;
    margin-bottom: $products_distance;

    @include media_interval(0, $shop_tablet) {
      width: 50%;
    }
  }

  .slider {
    .product-wrapper {
      width: 100% !important;
    }
  }
}