@import "mixins";
@import "../vars";

$shop_product_tablet: $media1024;
$shop_product_mobile: $shop_mobile;
$shop_product_animation_time: $animation_time;
$shop_product_preview_height: (
                ($shop_product_tablet, 0): 330px,
                ($shop_product_mobile, $shop_product_tablet): 250px,
                (0, $shop_product_mobile): 185px,
);


.product {
  display: flex;
  flex-direction: column;
  height: 100%;

  .information {
    margin-top: 10px;
  }

  .product__preview {
    position: relative;
    display: block;
    overflow: hidden;

    @include media_map(padding-bottom, $shop_product_preview_height);

    img {
      @include centrizeImage();
    }
  }

  .price {
    margin-top: 10px;
    color: $shop_product_color;

    &--current {

    }

    &--base {
      opacity: .5;
      margin-left: 10px;
      position: relative;
      overflow: hidden;
      display: inline-block;

      @include font_lato;
      @include font-size(14px, 19px);

      &:after {
        content: '';
        position: absolute;
        width: 100%;
        top: 40%;
        left: 0;
        transform: rotate(-25deg);
        border: 1px solid #ff2c25;
      }
    }
  }

  .product__sale {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #ff2c25;
    padding: 5px 8px;
    box-sizing: border-box;
    color: #fff;
    z-index: 1;

    @include font_lato;
    @include font_size(14px, 20px);
  }

  .product__title {
    text-transform: uppercase;
    margin-top: 8px;
  }

  .btn-wrapper {
    margin-top: 20px;
    flex: 1 1 100%;
    display: flex;
    align-items: flex-end;
  }

  &:hover {
    .product__preview {
      img {
        transform: translate(-50%, -50%) scale(1.2);
      }
    }
  }

  &, &:hover {
    .product__preview {
      img {
        transition: transform $shop_product_animation_time ease;
      }
    }
  }
}