@import "mixins";
@import "../vars";

$shop_review_mobile: $shop_mobile;
$shop_review_star_size: 24px;


.block--reviews {
  margin-top: 100px;

  .block-information {
    color: $text-color;
    margin-top: 20px;
    @include fontsize_default;
    @include font-default;
  }

  .reviews {
    margin-top: 30px;

    .review {
      padding: 30px 20px;
      box-sizing: border-box;
      background-color: #f7f7f7;
      margin-bottom: 20px;

      &__author {
        color: #000;
        font-weight: 700;

        @include font_decorative;
        @include fontsize_default;
      }

      &__stars {
        margin-top: 10px;
        display: flex;

        .star {
          padding-right: 24px;
          padding-bottom: 24px;
          box-sizing: border-box;
          position: relative;
          width: 0;
          margin-right: 5px;
          margin-left: -7px;

          &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 100%;
            background-image: $sprite_url;
            background-repeat: no-repeat;
            background-position: rel-background-position($shop_review_star_size, $shop_review_star_size, 0px, -305px);
            background-size: rel-background-size($shop_review_star_size, $shop_review_star_size);
          }

          &.active {
            &:before {
              background-position: rel-background-position($shop_review_star_size, $shop_review_star_size, -24px, -305px);
            }
          }

          &:last-of-type {
            margin-right: 0;
          }
        }
      }

      &__text {
        color: $text-color;
        margin-top: 20px;
        @include fontsize_default;
        @include font-default;
      }

      &:last-of-type {
        margin-bottom: 0;
      }

      @include media_interval(0, $shop_review_mobile) {
        padding: 20px 15px;
        margin-bottom: 10px;
      }
    }
  }

  .btn-wrapper {
    margin-top: 30px;
  }

  @include media_interval(0, $shop_review_mobile) {
    margin-top: 100px;
  }
}