@import "mixins";

$shop_sort_circle_size: 5px;
$shop_sort_circle_distance: 5px;
$shop_sort_animation_time: $animation_time;


.sort-wrapper {
  @include vpad(60px);

  ul {
    margin: -10px;
    display: flex;
    flex-wrap: wrap;

    li {
      padding: 10px;
      box-sizing: border-box;
      position: relative;
      transition: margin-left $shop_sort_animation_time ease;

      @include fontsize_default;
      @include font_lato;

      &.active {
        font-weight: 700;
        margin-left: #{$shop_sort_circle_size + $shop_sort_circle_distance};
        @include font-montserrat;

        &:before {
          content: '';
          position: absolute;
          width: $shop_sort_circle_size;
          height: $shop_sort_circle_size;
          background-color: $primary_color;
          border-radius: 50%;
          left: -$shop_sort_circle_distance;
          top: 50%;
          transform: translateY(-50%);
        }
      }

      &:not([data-sort]) {
        font-weight: 700;
        @include font_montserrat;
      }

      &[data-sort] {
        cursor: pointer;

        &:hover {
          opacity: .75;
        }

        &, &:hover {
          transition: opacity $shop_sort_animation_time ease;
        }
      }
    }
  }
}

.sort-popup {
  .popup-content {
    width: 260px;
    padding: 23px 35px;
  }

  .sort-wrapper {
    @include vpad(0);
  }

  ul {
    flex-direction: column;
  }
}