@import "mixins";

$shop_view_panel_icon_sort_width: 24px;
$shop_view_panel_icon_sort_height: 24px;
$shop_view_panel_icon_sort_sprite_width: 32px;
$shop_view_panel_icon_sort_sprite_height: 32px;
$shop_view_panel_icon_sort_sprite_position_x: -82px;
$shop_view_panel_icon_sort_sprite_position_y: -273px;
$shop_mobile: $media900;


.view-panel {
  background-color: #F7F7F7;
  box-sizing: border-box;
  margin-bottom: 20px;
  @include vpad(16px);

  .view-panel-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }

  .panel-sort {
    display: flex;
    align-items: center;

    &__icon {
      display: block;
      position: relative;
      padding-right: $shop_view_panel_icon_sort_width;
      padding-bottom: $shop_view_panel_icon_sort_height;

      &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-image: $sprite_url;
        background-position: rel-background-position($shop_view_panel_icon_sort_sprite_width, $shop_view_panel_icon_sort_sprite_height, $shop_view_panel_icon_sort_sprite_position_x, $shop_view_panel_icon_sort_sprite_position_y);
        background-size: rel-background-size($shop_view_panel_icon_sort_sprite_width, $shop_view_panel_icon_sort_sprite_height);
      }

      @include media_interval($shop_mobile, 0) {
        display: none;
      }
    }

    &__text {
      @include font_default;
      @include fontsize_default;

      @include media_interval(0, $shop_mobile) {
        display: none;
      }
    }

    &__criteria {
      margin-left: 21px;
      font-weight: 700;
      position: relative;

      @include font_decorative;
      @include fontsize_default;

      &:before {
        content: '';
        position: absolute;
        width: 6px;
        height: 6px;
        background-color: #000;
        border-radius: 50%;
        left: -11px;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  .panel-filters {
    display: flex;
    align-items: center;

    &__icon {
      padding-right: 24px;
      padding-bottom: 24px;
      position: relative;
      box-sizing: border-box;
      margin-right: 10px;

      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-image: $sprite_url;
        background-position: rel-background-position(32px, 32px, -32px, -273px);
        background-size: rel-background-size(32px, 32px);
      }

      &:after {
        content: attr(data-count);
        position: absolute;
        top: -4px;
        left: 16px;
        width: 11px;
        height: 11px;
        background-color: $primary_color;
        color: $secondary_color;
        border-radius: 50%;
        box-sizing: border-box;
        padding: 1px 3px;
        min-width: 15px;
        min-height: 15px;
        align-items: center;
        justify-content: center;
        display: none;

        @include font-size(7px, 9px);
      }

      &[data-count]:after {
        display: flex;
      }
    }

    &__text {
      @include font_default;
      @include fontsize_default;
    }
  }
}