{% if workers %}
    <script>
        document.documentElement.style.setProperty('--team-count', '4');
        document.documentElement.style.setProperty('--team-count-tablet', '4');
        document.documentElement.style.setProperty('--team-count-mobile', '2');
    </script>

    <section class="block block--team">
        <div class="grid-block">
        <h2 class="block__title title title--h2">{{ block.title }}</h2>
            <div class="workers">
                {% with items=workers, template='team/parts/_worker.html', mode="dark" %}
                    {% include 'components/slider.html' %}
                {% endwith %}
            </div>
        </div>
    </section>
{% endif %}