<div class="advantage">
    <div class="advantage__number">{% if index < 10 %}0{% endif %}{{ index }}</div>
    <div class="advantage__title title title--h4">
        {{ item.title }}
    </div>
</div>