@import "mixins";

//=======================
// Блок сервисов
//=======================
$services_background_color: $secondary_color;

// Расширения
$services_tablet: $media1024;
$services_mobile: $media768;

// Тут параметры, которые изменяются при наведении
$services_animation_time: .3s;
$services_hover_scale: 1.2;

/* Стрелочка */
$services_navigation_arrow_sprite_width: 38px;
$services_navigation_arrow_sprite_height: 15px;
$services_navigation_arrow_x: 76px;
$services_navigation_arrow_y: 226px;

// Сдвиг вправо при наведении
$services_arrow_hover_left: 24px;

// Отступ от контента
$services_arrow_top: (
                ($services_tablet, 0): 20px,
                ($services_mobile, $services_tablet): 15px,
                (0, $services_mobile): 15px,
);

// Ширина
$services_width: (
                ($services_tablet, 0): 33.33%,
                ($services_mobile, $services_tablet): 50%,
                (0, $services_mobile): 50%,
);

/* Превью */

// Тут отступ от заголовка, у разных блоков по разному. Размер заголовка стандартный h2, менять смысла нет.
$services_title_distance: (
                ($services_tablet, 0): 40px,
                ($services_mobile, $services_tablet): 24px,
                (0, $services_mobile): 24px,
);

// Отступы между сервисами.
$services_distance: (
                ($services_tablet, 0): 20px 29px,
                ($services_mobile, $services_tablet): 15px 10px,
                (0, $services_mobile): 12px 10px,
);
$services_distance_correct: (
                ($services_tablet, 0): -20px -29px,
                ($services_mobile, $services_tablet): -15px -10px,
                (0, $services_mobile): -12px -10px,
);

//Высота
$services_preview_height: (
                ($services_tablet, 0): 355px,
                ($services_mobile, $services_tablet): 250px,
                (0, $services_mobile): 160px,
);

//Отступ превьюхи
$services_preview_distance: (
                ($services_tablet, 0): 20px,
                ($services_mobile, $services_tablet): 15px,
                (0, $services_mobile): 15px,
);

.block--services {
  .services {
    display: flex;
    flex-wrap: wrap;
    @include media_map(margin, $services_distance_correct);
    @include media_map(padding-top, $services_title_distance);
  }

  .service {
    box-sizing: border-box;
    position: relative;
    @include media_map(width, $services_width);
    @include media_map(padding, $services_distance);

    &__link {
      cursor: pointer;

      &:after {
        content: '';
        position: relative;
        background: $sprite_url no-repeat;
        background-size: rel-background-size($services_navigation_arrow_sprite_width, $services_navigation_arrow_sprite_height);
        background-position: rel-background-position(
                        $services_navigation_arrow_sprite_width,
                        $services_navigation_arrow_sprite_height,
                        -$services_navigation_arrow_x,
                        -$services_navigation_arrow_y
        );
        padding-right: $services_navigation_arrow_sprite_width;
        padding-bottom: $services_navigation_arrow_sprite_height;
        display: table;
        @include media_map(margin-top, $services_arrow_top);
      }

      &:hover {
        .service__preview {
          img {
            transform: translate(-50%, -50%) scale($services_hover_scale);
          }
        }

        &:after {
          margin-left: $services_arrow_hover_left;
        }
      }

      &, &:hover {
        .service__preview {
          img {
            transition: transform $services_animation_time ease;
          }
        }

        &:after {
          transition: margin-left $services_animation_time ease;
        }
      }
    }

    &__preview {
      position: relative;
      width: 100%;
      display: block;
      overflow: hidden;
      @include media_map(height, $services_preview_height);
      @include media_map(margin-bottom, $services_preview_distance);

      img {
        @include centrizeImage();
        width: auto;
      }
    }

    &__information {

    }

    &__title {

    }

    &__note {
      margin-top: 10px;
      @include fontsize_default;

      @include media_interval(0, $services_tablet) {
        display: none;
      }
    }
  }
}
