{{ add_static_to_render('js', 'contacts', 'default') }}
{{ add_static_to_render('css', 'contacts', 'default') }}


<section class="block block--contacts">
    <div class="block__inner">
        <div class="block__wrapper">
            <div class="grid">
                {% if title %}
                    <div class="gc-5 gc-wide-5 gc-tablet-full gc-mobile-full">
                    {% if title_h1 %}
                        <h1 class="block__title title">{{ title }}</h1>
                    {% else %}
                        <h2 class="block__title title">{{ title }}</h2>
                    {% endif %}
                    </div>
                {% endif %}

                <div class="gc-7 gc-wide-7 gc-tablet-full gc-mobile-full">
                    {% with id="contact" %}
                        {% include 'contacts/parts/_form.html' %}
                    {% endwith %}
                </div>
            </div>
        </div>
        {% include 'contacts/parts/_map.html' %}
    </div>
</section>