{% extends 'layout.html' %}

{% block critical_css %}
    {{ super() }}
    {% inline_stylesheet 'success_critical' %}
{% endblock critical_css %}

{% block static_head %}
    {% stylesheet 'success' %}
{% endblock static_head %}

{% block content %}
    <div class="page page--success">
        <div class="grid-block">
            <div class="page-wrapper">
                <h1 class="title">
                    {{ page.header }}
                </h1>

                <div class="description">
                        <div class="description__status">{{ page.description_status|linebreaksbr }}</div>
                        <div class="description__text">{{ page.description_text|linebreaksbr }}</div>
                </div>
                <div class="btn-wrapper">
                    {% with view='link', caption=_('Go to home page'), url=url('main:index'), classes='btn--default btn--animated btn--bordered btn--cta btn--font-bold' %}
                        {% include 'components/button.html' %}
                    {% endwith %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}