{% extends 'suit/change_form.html' %}
{% block object-tools-items %}
    <li>

        {% if user.is_superuser %}
            <a href="{% url 'constant_contact:oauth' %}" class="viewsitelink">Auth with Constant Contact</a>
            <a href="{% url 'constant_contact:refresh' %}" class="viewsitelink">Refresh Tokens</a>
            <a href="{% url 'constant_contact:create_list' %}" class="viewsitelink">Create new list</a>
            {#      <a href="{% url 'constant_contact:create' %}" class="viewsitelink">Create Contact</a>#}
            {#      <a href="{% url 'constant_contact:get_lists' %}" class="viewsitelink">Get contacts lists</a>#}
        {% endif %}

        {#        <a href="{% url 'constant_contact:revoke' %}" class="viewsitelink">Revoke Tokens</a>#}
    </li>
{% endblock %}