<fieldset class="full-width">
  <h2 class="legend">Description</h2>

  <div class="box">
    <p>To make up that the "field" is absent from the recipient, you can leave the value field blank.</p>
    <p>For example: "Booking is ___" is like "Booking is None".</p>
    <p>Other rules: "[field name] [OPERATOR] [value]"</p>
  </div>

</fieldset>