@import "mixins";

//=======================
// Блок комманды
//=======================
//Расширения
$team_tablet: $media1024;
$team_mobile: $media768;

$team_background_color: $secondary_color;
$team_worker_color: $text-color;
$team_distance: 20px;


.block--team {
  background-color: $team_background_color;

  .workers {
    margin-top: 25px;
  }

  .worker {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    color: $team_worker_color;
    user-select: none;

    &__photo {
      overflow: hidden;
      display: block;
      height: 255px;
      position: relative;

      img {
        @include centrizeImage();
        width: auto;
      }

      @include media_interval($team_mobile, $team_tablet) {
        height: 165px;
      }

      @include media_interval(0, $team_mobile) {
        height: 160px;
      }
    }

    &__information {
      margin-top: 20px;
    }

    &__name {

    }

    &__position {
      margin-top: 5px;

      @include font-size(14px, 20px);

      @include media_interval($team_mobile, $team_tablet) {
        @include font-size(12px, 14px);
      }
      @include media_interval(0, $team_mobile) {
        @include font-size(12px, 16px);
      }
    }

    &__description {
      margin-top: 10px;

      @include fontsize_default;

      @include media_interval(0, $team_tablet) {
        display: none;
      }
    }

    .social-links {
      margin-top: 10px;
    }
  }

  .swiper-container {

    &:not(.swiper-initialized) {
      .swiper-slide {
        flex: 1 0 calc((100% - #{var(--team-count, 4)} * #{$team_distance}) / #{var(--team-count, 4)});

        @include media_interval($team_mobile, $team_tablet) {
          flex: 1 0 calc((100% - #{var(--team-count-tablet, 2)} * #{$team_distance}) / #{var(--team-count-tablet, 2)});
        }

        @include media_interval(0, $team_mobile) {
          flex: 1 0 calc((100% - #{var(--team-count-mobile, 1)} * #{$team_distance}) / #{var(--team-count-mobile, 1)});
        }
      }
    }

    @include media_interval(0, $team_mobile) {
      overflow: inherit;
    }
  }

  .social-links {
    margin: -5px -15px;

    .social-link {
      margin-left: 0;
    }
  }
}