@import "mixins";


//=======================
// Блок галереи
//=======================
$album_gallery_tablet: $media1024;
$album_gallery_mobile: $media768;

$album_gallery_top: (
                ($album_gallery_tablet, 0): 40px,
                ($album_gallery_mobile, $album_gallery_tablet): 25px,
                (0, $album_gallery_mobile): 25px,
);

.block--album {
  .gallery {
    @include media_map(padding-top, $album_gallery_top);
  }

  .btn-wrapper {
    padding-top: 40px;
  }
}