{{ add_static_to_render('js', 'album', 'default') }}
{{ add_static_to_render('css', 'album', 'default') }}


{% if images %}
    <div class="block block--album">
        <div class="grid-block">
            <h2 class="block__title title title--h2">
                {{ block.title }}
            </h2>
        </div>

        {% with use_lazy=True %}
            {% include 'components/gallery.html' %}
        {% endwith %}

        {% if more %}
            <div class="grid-block">
                <div class="btn-wrapper">
                    {% with caption=_('View All Pictures'), view='link', url=url('album:index'), classes="btn--default btn--animated btn--bordered btn--secondary btn--font-bold" %}
                        {% include 'components/button.html' %}
                    {% endwith %}
                </div>
            </div>
        {% endif %}
    </div>
{% endif %}