{% extends 'layout.html' %}


{% block critical_css %}
    {{ super() }}
    {% inline_stylesheet 'album_critical' %}
{% endblock critical_css %}

{% block static_head %}
    {{ super() }}
    {% stylesheet 'album' %}
{% endblock static_head %}

{% block static_js %}
    {{ super() }}
    {% javascript 'album' %}
{% endblock static_js %}


{% block content %}
    {% if page.gallery %}
        <div id="album" class="page page--album">
            {% with use_lazy=False %}
                {% include 'components/gallery.html' %}
            {% endwith %}

            <div class="grid-block">
                <div class="btn-wrapper">
                    {% include 'album/parts/_more.html' %}
                </div>
            </div>
        </div>
    {% endif %}

    {% render_attached_blocks page %}

{% endblock content %}
