@import "mixins";

//=======================
// Блок контактной формы
//=======================
$contacts_tablet: $media1024;
$contacts_mobile: $media768;

$contacts_background_color: $primary_color;
$contacts_title_color: #fff;

$contacts_title_font_size: (
                ($contacts_tablet, 0): 50px,
                ($contacts_mobile, $contacts_tablet): 40px,
                (0, $contacts_mobile): 30px,
);

$contacts_title_line_height: (
                ($contacts_tablet, 0): 60px,
                ($contacts_mobile, $contacts_tablet): 50px,
                (0, $contacts_mobile): 36px,
);

/* Primary */

$button_primary_color: #000;
$button_primary_background: #fff;
$button_primary_border: rgba(0, 0, 0, 0);
$button_primary_hover_color: #000;
$button_primary_hover_background: #eaeaea;
$button_primary_hover_border: rgba(0, 0, 0, 0);
$button_primary_active_color: #000;
$button_primary_active_background: #dcdcdc;
$button_primary_active_border: rgba(0, 0, 0, 0);


.block--contacts {
  background-color: $contacts_background_color;

  .block__inner {
    padding-bottom: 0;
  }

  .block__wrapper {
    margin-bottom: $distance_desktop;

    @include media_interval($contacts_mobile, $contacts_tablet) {
      margin-bottom: $distance_tablet;
    }

    @include media_interval(0, $contacts_mobile) {
      margin-bottom: $distance_mobile;
    }
  }

  .title {
    color: $contacts_title_color;

    @include media_map(font-size, $contacts_title_font_size);
    @include media_map(line-height, $contacts_title_line_height);
  }

  .btn--secondary-light {
    @include media_interval(0, $contacts_mobile) {
      color: $button_primary_color;
      background-color: $button_primary_background;
      border: 1px solid $button_primary_border;

      &:hover {
        color: $button_primary_hover_color;
        background-color: $button_primary_hover_background;
        border-color: $button_primary_hover_border;
      }

      &:active {
        color: $button_primary_active_color;
        background-color: $button_primary_active_background;
        border-color: $button_primary_active_border;
      }
    }
  }
}