@import "mixins";

//.webpage-header {
//  min-height: 0;
//}

.block--contacts {
  .block__wrapper {
    padding: 0 0 $distance_desktop;

    @include media_interval($media768, $media1024) {
      padding: 0 0 $distance_tablet;
    }

    @include media_interval(0, $media768) {
      padding: 0 0 $distance_mobile;
    }
  }
  .title {
    //font-style: italic;
    color: $primary_color;

    @at-root body.dark & {
      color: $secondary_color;
    }
  }
}

.page {
  margin-top: 103px;

  @include media_interval(0, $media_tablet) {
    margin-top: 86px;
  }
}

header .cart__icon:after {
  filter: invert(1);
}