@import "mixins";


.page--success {
  margin-top: var(--webpage-top, 0);
  height: calc(100% - var(--webpage-top, 0));
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  margin-bottom: 0;
  @include vpad(125px);

  @at-root .avif &{
    background-image: url("/static/img/background/background.avif");
  }

  @at-root .no-avif.webp &{
    background-image: url("/static/img/background/background.webp");
  }

  @at-root .no-avif.no-webp &, .no-js &{
    background-image: url("/static/img/background/background.jpg");
  }

  .page-wrapper {
    width: 535px;
    max-width: 100%;
    margin: auto;
  }

  .title {
    color: $text-color;
    text-align: center;
    font-weight: 800;
    @include font_decorative;
    @include font-size(78px, 82px);

    @include media_interval($media768, $media1024) {
      @include font-size(35px, 40px);
    }
    @include media_interval(0, $media768) {
      @include font-size(28px, 32px);
    }
  }

  .description {
    margin-top: 32px;
    text-align: center;
    font-weight: 700;
    @include font_decorative;
    @include fontsize_default;

    &__text {
      margin-top: 10px;
    }
    //
    //@include font-size(24px, 34px);
    //
    //@include media_interval($media768, $media1024) {
    //  @include font-size(18px, 24px);
    //}

    @include media_interval(0, $media768) {
      //@include font-size(14px, 18px);
      margin-top: 20px;
    }
  }

  .btn-wrapper {
    margin: 40px auto 0;
    display: flex;
    justify-content: center;

    @include media_interval(0, $media768) {
      margin-top: 20px;
    }
  }
}