@import "mixins";

//=======================
// Вопросы-ответы
//=======================

//p.s. Ращзмеры скорее всего не нужно прописывать, ответ - из текстовых стилей берется, вопрос - какой-то h

// Основные точки перехода
$faq_tablet: $media1024;
$faq_mobile: $media768;

// Время анимации
$faq_animation_time: $animation_time;

// Фон
$faq_background_color: $secondary_color;

/* Индикатор(Как правило плюсик около вопроса) */
// Цвет
$faq_indicator_color: $black;

// Размер
$faq_indicator_size_desktop: 24px;
$faq_indicator_size_tablet: 20px;
$faq_indicator_size_mobile: 16px;

/* Не менять */
$faq_indicator_size: (
                ($faq_tablet, 0): $faq_indicator_size_desktop,
                ($faq_mobile, $faq_tablet): $faq_indicator_size_tablet,
                (0, $faq_mobile): $faq_indicator_size_mobile,
);
$faq_indicator_half_size: (
                ($faq_tablet, 0): $faq_indicator_size_desktop / 2,
                ($faq_mobile, $faq_tablet): $faq_indicator_size_tablet / 2,
                (0, $faq_mobile): $faq_indicator_size_mobile / 2,
);

// Толщина
$faq_indicator_weight: 1px;

/* Текст вопроса */
// Цвет
$faq_question_weight: 900;

// Цвет
$faq_question_color: $text-color;

// Отступы
$faq_question_padding: (
                ($faq_tablet, 0): 20px 20px 20px 0,
                ($faq_mobile, $faq_tablet): 20px 20px 20px 0,
                (0, $faq_mobile): 20px 20px 20px 0,
);

/* Текст ответа на вопрос */
// Отступы

$faq_answer_padding: (
                ($faq_tablet, 0): 20px 0px,
                ($faq_mobile, $faq_tablet): 20px 0px,
                (0, $faq_mobile): 20px 0px,
);

// Цвет
$faq_answer_color: $text-color;

// Линия-разделитель
$faq_border_color: $black;

.questions {
    .question {
      background-color: $faq_background_color;
      cursor: pointer;
      position: relative;
      border-top: 1px solid $faq_border_color;
      user-select: none;
      transition: background-color $faq_animation_time ease;
      box-sizing: border-box;

      @include media_map(padding, $faq_question_padding);

      &:before, &:after {
        content: '';
        position: absolute;
        width: $faq_indicator_weight;
        box-sizing: border-box;
        top: 0;
        right: 0;
        background-color: $faq_indicator_color;

        @include media_map(height, $faq_indicator_size);

        @include media_interval(0, $faq_mobile) {
          top: 6px;
        }
      }

      &:before {
        transform: translate(0, 50%) rotate(-90deg) !important;
        transform-origin: 0 100%;
        left: auto;
      }

      &:after {
        transform: translate(0, 100%) rotate(0);
        transform-origin: 0 100%;
        @include media_map(right, $faq_indicator_half_size);
      }

      .question__question {
        position: relative;
        transition: color $faq_animation_time ease;
        font-weight: $faq_question_weight;
        color: $faq_question_color;
      }

      .question__answer {
        color: $faq_answer_color;
        display: block;
        width: calc(100% + 20px); // Тут нужно править ширину для того, чтобы текст ответа заползал под индикатор вопроса
        @include media_map(padding, $faq_answer_padding);
      }

      &:first-of-type {
        border-top: none;
      }

      &:hover {
        .question__question {
          color: rgba($faq_answer_color, .75);
        }
      }

      &.active {
        &:after {
          transform: translate(0, 100%) rotate(0) scale(0);
        }
      }

      &:hover {
        &:before, &:after {
          background-color: rgba($faq_indicator_color, .75);
        }

        .question__question {
          color: rgba($faq_indicator_color, .75);
        }
      }

      &, &:hover {
        &:before, &:after {
          transition: background-color $faq_animation_time ease, transform $faq_animation_time ease;
        }

        .question__question {
          transition: color $faq_animation_time ease;
        }
      }
    }
  }