<div class="grid-block">
    {% if posts.next_page_number %}
        <input type="hidden" value="{{ posts.next_page_number }}" id="current-page">
        <div class="btn-wrapper">
            {% include 'blog/parts/_btn.html' %}
        </div>
    {% endif %}
</div>