<article class="post" itemscope itemtype="https://schema.org/BlogPosting">
    <meta itemprop="dateModified" content="{{ post.updated|date("c") }}"/>
    <meta itemprop="datePublished" content="{{ post.date|date("c") }}"/>
    <meta itemprop="mainEntityOfPage" content="{{ post.get_absolute_url() }}"/>
    <meta itemprop="image" content="{{ post.preview.normal.url }}"/>

    <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
        <meta itemprop="logo" content="{{ static('img/logo.png') }}"/>

        <meta itemprop="telephone" content="{{ CONTACTS_CONFIG.phone() }}">
        <meta itemprop="name" content="{{ COMPANY }}">
        <meta itemprop="url" content="{{ request.META.HTTP_HOST }}">
    </div>

    {% if config.author_fullname %}
        <div itemprop="author" itemscope itemtype="https://schema.org/Person">
            <meta itemprop="name" content="{{ config.author_fullname }}">
        </div>
    {% else %}
        <div itemprop="author" itemscope itemtype="https://schema.org/Organization">
            <meta itemprop="logo" content="{{ static('img/logo.png') }}"/>

            <meta itemprop="telephone" content="{{ CONTACTS_CONFIG.phone() }}">
            <meta itemprop="name" content="{{ COMPANY }}">
            <meta itemprop="url" content="{{ request.META.HTTP_HOST }}">
        </div>
    {% endif %}


    <div class="post-wrapper">
        {% if post.preview %}
            <div class="preview-wrapper">
                <div class="post__preview" property="image" typeof="ImageObject">
                    <img src="{{ post.preview.normal.url }}"
                         width="{{ post.preview.normal.target_width }}"
                         height="{{ post.preview.normal.target_height }}"
                         loading="lazy" decoding="async"
                         alt="{{ post.alt_preview }}" property="url">

                    <meta property="width" content="{{ post.preview.normal.target_width }}"/>
                    <meta property="height" content="{{ post.preview.normal.target_height }}"/>
                </div>
            </div>
        {% endif %}
        <div class="post-information">
            <div class="post__date-tag">
                {% if post.date %}
                    <span class="post__date">
                        {{ post.date|date('jS M Y') }}
                    </span>
                {% endif %}

                    {% if post.date and post.tags.all() %}<span class="divider"> | </span>{% endif %}

                {% if post.tags.all() %}
                    <span class="post__tags">
                        {% for tag in post.tags.all() %}
                            {% if current_tag == tag %}
                                <span class="tag tag--active">{{ tag }}</span>
                            {% else %}
                                <a href="{{ tag.get_absolute_url() }}" class="tag">{{ tag }}</a>
                            {% endif %}
                        {% endfor %}
                    </span>
                {% endif %}

            </div>

            <h5 class="post__title title title--h5 text text--uppercase text--bold" itemprop="headline">{{ post.title }}</h5>
            {% if post.note %}
                <div class="post__note" property="articleBody">
                    {{ post.note|linebreaksbr }}
                </div>
            {% endif %}

        <div class="post__more link-more">
            <a href="{{ post.get_absolute_url() }}">
                <span class="link-more__text">{{ _('Read More') }}</span>
                <span class="link-more__icon"></span>
            </a>
        </div>
        </div>
    </div>
</article>