@import "mixins";

$contacts_form_tablet: $media1024;
$contacts_form_mobile: $media768;


.form--contact {
  margin: auto 0 auto auto;
  width: 640px;

  .btn-wrapper {
    flex: 1 0 auto;
  }

  .flex {
    margin-top: 40px;
    display: flex;
    align-items: center;

    @include media_interval(0, $contacts_form_tablet) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  .recaptcha {
    margin-left: 40px;

    @include media_interval(0, $contacts_form_tablet) {
      margin-top: 24px;
      margin-left: 0;
    }
  }

  @include media_interval(0, $contacts_form_tablet) {
    margin-top: 24px;
  }

  @include media_interval($contacts_form_mobile, $contacts_form_tablet) {
    width: 320px;
    margin: auto;
  }

  @include media_interval(0, $contacts_form_mobile) {
    margin: 20px auto 0;
    width: 100%;
  }
}