@import "mixins";

$map_tablet: $media1024;
$map_mobile: $media768;

$map_button_bottom: 40px;

$map_height: (
                ($map_tablet, 0): 545px,
                ($map_mobile, $map_tablet): 350px,
                (0, $map_mobile): 350px,
);


.map {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-color: $primary_color;

  .google-map {
    position: relative;
    width: 100%;
    @include media_map(height, $map_height)
  }

  .btn-wrapper {
    position: absolute;
    z-index: 1;
    left: 50%;
    bottom: $map_button_bottom;
    transform: translateX(-50%);

    @include media_interval($map_tablet, 0) {
      display: none;
    }
  }
}
