    <ul {% if level == 1 %}typeof="SiteNavigationElement"{% endif %} class="menu{% if level == 1 %} menu--{{ classes }}{% endif %}">
        {% for item in items %}
            {# item.is_active - true on all inner urls #}
            {# item.is_active_nolink true on inner url #}
            <li class="menu__item{% if item.is_active or item.is_active_nolink %} active{% endif %} {{ item.parent_classes }} {% if level == 1 %}general-item{% endif %}"{% if item.item_id %} id="{{ item.item_id }}{% if item_id_mod %}--{{ item_id_mod }}{% endif %}"{% endif %} >
                {% if item.is_active_nolink and item.url %}
                    <a href="{{ item.url }}" class="{{ item.classes }} item-caption" property="url" {{ item.attrs }}>
                        <span property="name" class="menu__name">{{ item.title }}</span>
                        {% if item.childs %}
                            <span class="menu__toggle"></span>
                        {% endif %}
                    </a>
                {% elif item.is_active or not item.url %}
                    <div class="{{ item.classes }} item-caption">
                        <span property="name" class="menu__name">{{ item.title }}</span>
                        {% if item.childs %}
                            <span class="menu__toggle"></span>
                        {% endif %}
                    </div>
                {% else %}
                    <a href="{{ item.url }}" class="{{ item.classes }} item-caption" property="url" {{ item.attrs }}>
                        <span property="name" class="menu__name">{{ item.title }}</span>
                        {% if item.childs %}
                            <span class="menu__toggle"></span>
                        {% endif %}
                    </a>
                {% endif %}
                {% if item.childs %}
                    {% with items=item.childs, level=level + 1 %}
                        <div class="menu-inner">
                            {% include 'menu/menu.html' %}
                        </div>
                    {% endwith %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
