{% if posts %}
    <section class="block--posts">
        <div class="block">
            <div class="grid-block">
                {% if title %}
                    <h2 class="block__title title title--h2">{{ title }}</h2>
                {% endif %}
                <div class="posts">
                    {% include 'blog/parts/_grid_list.html' %}
                </div>
            </div>
        </div>
    </section>
{% endif %}
