{% extends 'layout.html' %}


{% block critical_css %}
    {{ super() }}
    {% stylesheet 'blog_post_critical' %}
    {% stylesheet 'text_page' %}
{% endblock critical_css %}

{% block core_css %}
    {% stylesheet 'forms' %}
{% endblock core_css %}

{% block static_head %}
    {{ super() }}
    {% stylesheet 'blog_post' %}
{% endblock static_head %}

{% block static_js %}
    {{ super() }}
    {% javascript 'blog_post' %}
    {% javascript 'text_page' %}
{% endblock static_js %}


{% block content %}

    <div id="post" class="page page--post" itemscope itemtype="https://schema.org/BlogPosting">
        <meta itemprop="dateModified" content="{{ page.updated|date("c") }}"/>
        <meta itemprop="datePublished" content="{{ page.date|date("c") }}"/>
        <meta itemprop="mainEntityOfPage" content="{{ page.get_absolute_url() }}"/>
        <meta itemprop="image" content="{{ page.preview.normal.url }}"/>
        <meta itemprop="headline" content="{{ page.title }}">

        <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
            <meta itemprop="logo" content="{{ static('img/logo.png') }}"/>
            <meta itemprop="telephone" content="{{ CONTACTS_CONFIG.phone() }}">
            <meta itemprop="name" content="{{ COMPANY }}">
            <meta itemprop="url" content="{{ request.META.HTTP_HOST }}">
        </div>

        {% if config.author_fullname %}
            <div itemprop="author" itemscope itemtype="https://schema.org/Person">
                <meta itemprop="name" content="{{ page.author_fullname }}">
            </div>
        {% else %}
            <div itemprop="author" itemscope itemtype="https://schema.org/Organization">
                <meta itemprop="logo" content="{{ static('img/logo.png') }}"/>
                <meta itemprop="telephone" content="{{ CONTACTS_CONFIG.phone() }}">
                <meta itemprop="name" content="{{ COMPANY }}">
                <meta itemprop="url" content="{{ request.META.HTTP_HOST }}">
            </div>
        {% endif %}
        {% if page.preview %}
            <link property="image" href="{{ page.preview.normal.url }}"/>
        {% endif %}
        <div class="grid">
            <div class="gc-wide-8 gc-8 gc-tablet-8 gc-mobile-5 gc-center">
                <div class="text text-styles" property="articleBody">
                    {{ page.text|reformat }}
                </div>
                {% include 'webpage/share.html' %}
            </div>
        </div>
    </div>
    {% posts post=page.id %}

    {% render_attached_blocks page %}

{% endblock content %}