{% extends 'layout.html' %}


{% block critical_css %}
    {{ super() }}
    {% inline_stylesheet 'blog_critical' %}
{% endblock critical_css %}

{% block static_head %}
    {{ super() }}
    {% stylesheet 'blog' %}
{% endblock static_head %}

{% block static_js %}
    {{ super() }}
    {% javascript 'blog' %}
{% endblock static_js %}


{% block content %}
    <div id="blog" class="page page--blog">
        <div class="grid-block">
            <div class="posts">
                {% with posts=posts.current_page %}
                    {% include 'blog/parts/_grid_list.html' %}
                {% endwith %}
            </div>
        </div>
        {% if posts.num_pages > 1 %}
            <div id="more-posts">
                {% include 'blog/parts/_more.html' %}
            </div>
        {% endif %}
    </div>

    {% render_attached_blocks page %}

{% endblock content %}
